<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newA1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
 import pandas as pd
 import numpy as np

In [4]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
path = '/content/drive/My Drive/shadeimg'

In [6]:
import os

In [7]:
os.listdir(path)

['9-10 7 2021',
 'รูปฟัน07',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'Color-checkerDD .xlsx',
 'Color-checkerAA1.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx']

In [8]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 4.2 MB/s
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 5.8 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.28-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 50.1 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.28 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [9]:
from azure.storage.blob import BlockBlobService
import os

In [10]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [11]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [12]:
AA = os.path.join(path,'AA1.xlsx')

In [13]:
A1_set1= pd.read_excel(AA, sheet_name='A1Set1')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                   หมายเหตุ
0    1665B5AE-934F-4116-AE19-3369544A125F.png  ...  ค่า duration 1/90 ISO 171
1    47C127AF-8872-4A1E-9F72-082F72252B3F.png  ...  ค่า duration 1/90 ISO 171
2    15991304-7501-4377-BE6E-1B9AF5258FC1.png  ...  ค่า duration 1/90 ISO 171
3    5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png  ...  ค่า duration 1/90 ISO 171
4    26A32C19-6890-4999-A7F2-D8399A56E3B5.png  ...  ค่า duration 1/90 ISO 171
..                                        ...  ...                        ...
155  A95B5685-7346-4585-AE3D-674F5539C891.png  ...  ค่า duration 1/90 ISO 171
156  548D8FC6-5993-476E-9F84-FEEE003BE798.png  ...  ค่า duration 1/90 ISO 171
157  761A1FDE-FD1C-4A18-8C5F-27608736CB3C.png  ...  ค่า duration 1/90 ISO 171
158  027B3600-F7AD-41B8-8DE5-1706B68BAE4F.png  ...  ค่า duration 1/90 ISO 171
159  57148CAB-1038-4B0D-9C2F-6DCB9632D2DF.png  ...  ค่า duration 1/90 ISO 171

[160 rows x 7 columns]

In [14]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [15]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [16]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [17]:
A1_set1

                                          Img  ...                   หมายเหตุ
0    1665B5AE-934F-4116-AE19-3369544A125F.png  ...  ค่า duration 1/90 ISO 171
1    47C127AF-8872-4A1E-9F72-082F72252B3F.png  ...  ค่า duration 1/90 ISO 171
2    15991304-7501-4377-BE6E-1B9AF5258FC1.png  ...  ค่า duration 1/90 ISO 171
3    5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png  ...  ค่า duration 1/90 ISO 171
4    26A32C19-6890-4999-A7F2-D8399A56E3B5.png  ...  ค่า duration 1/90 ISO 171
..                                        ...  ...                        ...
155  A95B5685-7346-4585-AE3D-674F5539C891.png  ...  ค่า duration 1/90 ISO 171
156  548D8FC6-5993-476E-9F84-FEEE003BE798.png  ...  ค่า duration 1/90 ISO 171
157  761A1FDE-FD1C-4A18-8C5F-27608736CB3C.png  ...  ค่า duration 1/90 ISO 171
158  027B3600-F7AD-41B8-8DE5-1706B68BAE4F.png  ...  ค่า duration 1/90 ISO 171
159  57148CAB-1038-4B0D-9C2F-6DCB9632D2DF.png  ...  ค่า duration 1/90 ISO 171

[160 rows x 7 columns]

In [18]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [19]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    A1   A1  1665B5AE-934F-4116-AE19-3369544A125F.png
1    A1   A1  47C127AF-8872-4A1E-9F72-082F72252B3F.png
2    A1   A1  15991304-7501-4377-BE6E-1B9AF5258FC1.png
3    A1   A1  5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png
4    A1   A1  26A32C19-6890-4999-A7F2-D8399A56E3B5.png
..   ..  ...                                       ...
155  A1   D4  A95B5685-7346-4585-AE3D-674F5539C891.png
156  A1   D4  548D8FC6-5993-476E-9F84-FEEE003BE798.png
157  A1   D4  761A1FDE-FD1C-4A18-8C5F-27608736CB3C.png
158  A1   D4  027B3600-F7AD-41B8-8DE5-1706B68BAE4F.png
159  A1   D4  57148CAB-1038-4B0D-9C2F-6DCB9632D2DF.png

[160 rows x 3 columns]

In [20]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    A1   A1  1665B5AE-934F-4116-AE19-3369544A125F.png
1    A1   A1  47C127AF-8872-4A1E-9F72-082F72252B3F.png
2    A1   A1  15991304-7501-4377-BE6E-1B9AF5258FC1.png
3    A1   A1  5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png
4    A1   A1  26A32C19-6890-4999-A7F2-D8399A56E3B5.png
..   ..  ...                                       ...
155  A1   D4  A95B5685-7346-4585-AE3D-674F5539C891.png
156  A1   D4  548D8FC6-5993-476E-9F84-FEEE003BE798.png
157  A1   D4  761A1FDE-FD1C-4A18-8C5F-27608736CB3C.png
158  A1   D4  027B3600-F7AD-41B8-8DE5-1706B68BAE4F.png
159  A1   D4  57148CAB-1038-4B0D-9C2F-6DCB9632D2DF.png

[160 rows x 3 columns]

In [21]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img  ...                   หมายเหตุ
0  1665B5AE-934F-4116-AE19-3369544A125F.png  ...  ค่า duration 1/90 ISO 171
1  47C127AF-8872-4A1E-9F72-082F72252B3F.png  ...  ค่า duration 1/90 ISO 171
2  15991304-7501-4377-BE6E-1B9AF5258FC1.png  ...  ค่า duration 1/90 ISO 171

[3 rows x 7 columns]

In [22]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [23]:
list_total1

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [ ]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [25]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [26]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [27]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [28]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  21.615047  49.728837  240.209561  21.910965  45.318399  244.087331    Set1
1  21.529502  49.855694  239.672673  22.027757  45.914698  243.395098    Set1
2  21.512053  49.573411  240.010632  21.870140  45.244055  243.708384    Set1

In [29]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [30]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [31]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [32]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1['Setting']='Set1'
t1

          R-ref       G-ref       B-ref  ...      G-Shad      B-Shad  Setting
0    239.489003  226.557990  192.833617  ...  232.348673  200.770960     Set1
1    238.912751  225.914942  192.314585  ...  231.692882  199.660742     Set1
2    239.195520  226.261586  192.730947  ...  231.981414  200.541190     Set1
3    239.019317  226.444282  192.215486  ...  232.282039  200.238130     Set1
4    238.941644  225.877932  192.596461  ...  231.930119  200.289100     Set1
..          ...         ...         ...  ...         ...         ...      ...
155  241.639640  227.896762  195.127749  ...  223.020372  174.931905     Set1
156  242.383167  228.192517  196.290074  ...  223.080269  176.163298     Set1
157  238.054947  223.093174  191.388929  ...  218.900008  170.981657     Set1
158  242.289830  228.740930  195.717393  ...  223.329600  174.936288     Set1
159  242.295512  228.612613  195.597598  ...  223.577307  174.591510     Set1

[160 rows x 7 columns]

In [33]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1H.append(list_total)

In [34]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set1'
t11

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    21.588832  49.723156  239.489003  21.910965  45.318399  244.087331    Set1
1    21.527392  49.805048  238.912751  22.027757  45.914698  243.395098    Set1
2    21.533642  49.591754  239.195520  21.870140  45.244055  243.708384    Set1
3    21.930687  49.944485  239.019317  22.111842  45.708790  243.864865    Set1
4    21.467576  49.520169  238.941644  21.852204  45.623651  243.859427    Set1
..         ...        ...         ...        ...        ...         ...     ...
155  21.091957  49.087087  241.639640  22.006655  69.846279  240.826881    Set1
156  20.823797  48.510997  242.383167  21.741823  68.847496  241.217758    Set1
157  20.334632  50.014690  238.054947  21.645727  71.838893  237.865514    Set1
158  21.104699  49.022076  242.289830  22.103482  70.115007  241.140654    Set1
159  21.084003  49.155669  242.295512  22.182290  70.620323  241.354354    Set1

[160 rows x 7 columns]

In [35]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    239.489003  226.557990  ...    A1  1665B5AE-934F-4116-AE19-3369544A125F.png
1    238.912751  225.914942  ...    A1  47C127AF-8872-4A1E-9F72-082F72252B3F.png
2    239.195520  226.261586  ...    A1  15991304-7501-4377-BE6E-1B9AF5258FC1.png
3    239.019317  226.444282  ...    A1  5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png
4    238.941644  225.877932  ...    A1  26A32C19-6890-4999-A7F2-D8399A56E3B5.png
..          ...         ...  ...   ...                                       ...
155  241.639640  227.896762  ...    D4  A95B5685-7346-4585-AE3D-674F5539C891.png
156  242.383167  228.192517  ...    D4  548D8FC6-5993-476E-9F84-FEEE003BE798.png
157  238.054947  223.093174  ...    D4  761A1FDE-FD1C-4A18-8C5F-27608736CB3C.png
158  242.289830  228.740930  ...    D4  027B3600-F7AD-41B8-8DE5-1706B68BAE4F.png
159  242.295512  228.612613  ...    D4  57148CAB-1038-4B0D-9C2F-6DCB9632D2DF.png

[160 rows x 17 columns]

#Datapoint 2

In [36]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [37]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [38]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2['Setting']='Set1'
t2

          R-ref       G-ref       B-ref  ...      G-Shad      B-Shad  Setting
0    239.393880  226.459459  192.743527  ...  232.288288  200.712767     Set1
1    238.821605  225.827855  192.234397  ...  231.638990  199.602224     Set1
2    239.101777  226.173200  192.641101  ...  231.912101  200.465709     Set1
3    238.913968  226.342992  192.112410  ...  232.206639  200.147715     Set1
4    238.839786  225.780618  192.498336  ...  231.847821  200.202906     Set1
..          ...         ...         ...  ...         ...         ...      ...
155  241.531856  227.782404  195.011931  ...  222.961286  174.849606     Set1
156  242.282120  228.092119  196.182696  ...  223.021508  176.092850     Set1
157  237.960961  222.998620  191.283906  ...  218.789790  170.835484     Set1
158  242.186105  228.631361  195.606688  ...  223.263615  174.855207     Set1
159  242.198685  228.504342  195.488353  ...  223.522360  174.519276     Set1

[160 rows x 7 columns]

In [39]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1H.append(list_total)

In [40]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set1'
t22

Empty DataFrame
Columns: [H-ref, S-ref, V-ref, H-Shad, S-Shad, V-Shad, Setting]
Index: []

In [41]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    239.393880  226.459459  ...    A1  1665B5AE-934F-4116-AE19-3369544A125F.png
1    238.821605  225.827855  ...    A1  47C127AF-8872-4A1E-9F72-082F72252B3F.png
2    239.101777  226.173200  ...    A1  15991304-7501-4377-BE6E-1B9AF5258FC1.png
3    238.913968  226.342992  ...    A1  5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png
4    238.839786  225.780618  ...    A1  26A32C19-6890-4999-A7F2-D8399A56E3B5.png
..          ...         ...  ...   ...                                       ...
155  241.531856  227.782404  ...    D4  A95B5685-7346-4585-AE3D-674F5539C891.png
156  242.282120  228.092119  ...    D4  548D8FC6-5993-476E-9F84-FEEE003BE798.png
157  237.960961  222.998620  ...    D4  761A1FDE-FD1C-4A18-8C5F-27608736CB3C.png
158  242.186105  228.631361  ...    D4  027B3600-F7AD-41B8-8DE5-1706B68BAE4F.png
159  242.198685  228.504342  ...    D4  57148CAB-1038-4B0D-9C2F-6DCB9632D2DF.png

[160 rows x 17 columns]

#Datapoint 3

In [42]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [43]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [44]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3['Setting']='Set1'
t3

          R-ref       G-ref       B-ref  ...      G-Shad      B-Shad  Setting
0    237.644509  224.583557  190.864784  ...  230.913887  199.258258     Set1
1    237.012661  223.996267  190.398994  ...  230.253632  198.028650     Set1
2    237.260774  224.379109  190.668128  ...  230.503612  198.843276     Set1
3    237.155263  224.582664  190.267348  ...  230.761789  198.450045     Set1
4    237.025891  223.950491  190.548332  ...  230.385358  198.619187     Set1
..          ...         ...         ...  ...         ...         ...      ...
155  239.747098  225.796607  192.987501  ...  221.370424  172.693531     Set1
156  240.559938  226.206314  194.206396  ...  221.538755  174.174255     Set1
157  236.196900  221.210454  189.481049  ...  217.121338  168.663258     Set1
158  240.500690  226.706274  193.647350  ...  221.662040  172.798799     Set1
159  240.532505  226.628196  193.472040  ...  221.919731  172.394935     Set1

[160 rows x 7 columns]

In [45]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3H.append(list_total)

In [46]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set1'
t33

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    21.527230  50.237562  237.644509  21.874604  45.744582  242.722831    Set1
1    21.512053  50.219382  237.012661  21.989043  46.495577  242.071585    Set1
2    21.601169  50.143170  237.260774  21.855694  45.819008  242.305089    Set1
3    21.945134  50.432351  237.155263  22.084409  46.390715  242.468874    Set1
4    21.488678  50.054054  237.025891  21.823959  46.115413  242.385115    Set1
..         ...        ...         ...        ...        ...         ...     ...
155  21.022644  49.738252  239.747098  22.033033  71.124584  239.359468    Set1
156  20.760977  49.150150  240.559938  21.735736  69.941076  239.859265    Set1
157  20.287558  50.465465  236.196900  21.683630  73.003246  236.144631    Set1
158  21.025891  49.683467  240.500690  22.078484  71.341693  239.748559    Set1
159  21.032465  49.909829  240.532505  22.159321  71.875010  239.924681    Set1

[160 rows x 7 columns]

In [47]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    237.644509  224.583557  ...    A1  1665B5AE-934F-4116-AE19-3369544A125F.png
1    237.012661  223.996267  ...    A1  47C127AF-8872-4A1E-9F72-082F72252B3F.png
2    237.260774  224.379109  ...    A1  15991304-7501-4377-BE6E-1B9AF5258FC1.png
3    237.155263  224.582664  ...    A1  5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png
4    237.025891  223.950491  ...    A1  26A32C19-6890-4999-A7F2-D8399A56E3B5.png
..          ...         ...  ...   ...                                       ...
155  239.747098  225.796607  ...    D4  A95B5685-7346-4585-AE3D-674F5539C891.png
156  240.559938  226.206314  ...    D4  548D8FC6-5993-476E-9F84-FEEE003BE798.png
157  236.196900  221.210454  ...    D4  761A1FDE-FD1C-4A18-8C5F-27608736CB3C.png
158  240.500690  226.706274  ...    D4  027B3600-F7AD-41B8-8DE5-1706B68BAE4F.png
159  240.532505  226.628196  ...    D4  57148CAB-1038-4B0D-9C2F-6DCB9632D2DF.png

[160 rows x 17 columns]

#Datapoint 4

In [48]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [49]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [50]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4['Setting']='Set1'
t4

          R-ref       G-ref       B-ref  ...      G-Shad      B-Shad  Setting
0    236.219300  223.057950  189.350946  ...  229.334713  197.519520     Set1
1    235.568217  222.528610  188.815112  ...  228.688743  196.294051     Set1
2    235.820956  222.955685  189.041068  ...  228.989855  197.007061     Set1
3    235.678760  223.146417  188.701079  ...  229.246327  196.682169     Set1
4    235.472040  222.425047  188.844818  ...  228.879149  196.887266     Set1
..          ...         ...         ...  ...         ...         ...      ...
155  238.099586  224.023131  191.092687  ...  219.579904  170.362958     Set1
156  239.072559  224.584774  192.495171  ...  219.842870  171.861537     Set1
157  234.276195  219.321240  187.631280  ...  215.657171  167.226848     Set1
158  238.981820  225.038714  191.801234  ...  219.857398  170.428455     Set1
159  238.977275  224.945946  191.675513  ...  220.113384  170.033845     Set1

[160 rows x 7 columns]

In [51]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4H.append(list_total)

In [52]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set1'
t44

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    21.481130  50.649623  236.219300  21.815031  46.346400  241.292265    Set1
1    21.531775  50.687607  235.568217  21.974677  47.039120  240.588345    Set1
2    21.662527  50.665936  235.820956  21.855044  46.511890  240.866975    Set1
3    21.993182  50.868842  235.678760  22.058193  47.015989  241.028326    Set1
4    21.566431  50.544274  235.472040  21.810648  46.711793  240.959906    Set1
..         ...        ...         ...        ...        ...         ...     ...
155  21.008603  50.361497  238.099586  22.048454  72.391770  237.762682    Set1
156  20.715202  49.717799  239.072559  21.735411  71.319698  238.434218    Set1
157  20.278468  50.804642  234.276195  21.730785  73.302897  234.528610    Set1
158  21.014447  50.367259  238.981820  22.092931  72.650028  238.155101    Set1
159  21.046100  50.508887  238.977275  22.158591  73.165977  238.323269    Set1

[160 rows x 7 columns]

In [53]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    236.219300  223.057950  ...    A1  1665B5AE-934F-4116-AE19-3369544A125F.png
1    235.568217  222.528610  ...    A1  47C127AF-8872-4A1E-9F72-082F72252B3F.png
2    235.820956  222.955685  ...    A1  15991304-7501-4377-BE6E-1B9AF5258FC1.png
3    235.678760  223.146417  ...    A1  5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png
4    235.472040  222.425047  ...    A1  26A32C19-6890-4999-A7F2-D8399A56E3B5.png
..          ...         ...  ...   ...                                       ...
155  238.099586  224.023131  ...    D4  A95B5685-7346-4585-AE3D-674F5539C891.png
156  239.072559  224.584774  ...    D4  548D8FC6-5993-476E-9F84-FEEE003BE798.png
157  234.276195  219.321240  ...    D4  761A1FDE-FD1C-4A18-8C5F-27608736CB3C.png
158  238.981820  225.038714  ...    D4  027B3600-F7AD-41B8-8DE5-1706B68BAE4F.png
159  238.977275  224.945946  ...    D4  57148CAB-1038-4B0D-9C2F-6DCB9632D2DF.png

[160 rows x 17 columns]

#Datapoint 5

In [54]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [55]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [56]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5['Setting']='Set1'
t5

          R-ref       G-ref       B-ref  ...      G-Shad      B-Shad  Setting
0    234.531126  221.324324  187.531937  ...  228.068988  196.081812     Set1
1    233.784758  220.785082  186.938560  ...  227.405000  194.941969     Set1
2    234.007710  221.179612  186.970782  ...  227.810486  195.590374     Set1
3    233.841003  221.387387  186.801153  ...  228.071260  195.395341     Set1
4    233.674052  220.670725  186.901226  ...  227.684035  195.573249     Set1
..          ...         ...         ...  ...         ...         ...      ...
155  236.295268  222.005844  189.007548  ...  217.469767  167.793361     Set1
156  237.313449  222.639072  190.511403  ...  217.805048  169.195844     Set1
157  232.130265  217.344777  185.981738  ...  214.102589  166.460920     Set1
158  237.084815  223.010713  189.643211  ...  217.750101  167.690366     Set1
159  237.109326  222.976138  189.658956  ...  218.040500  167.380813     Set1

[160 rows x 7 columns]

In [57]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5H.append(list_total)

In [58]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set1'
t55

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    21.511809  51.161107  234.531126  21.766253  46.865676  240.137327    Set1
1    21.585910  51.157374  233.784758  21.961204  47.353705  239.305332    Set1
2    21.752374  51.339421  234.007710  21.893759  46.967210  239.663420    Set1
3    22.064280  51.354517  233.841003  22.079377  47.325948  239.811947    Set1
4    21.666586  51.093986  233.674052  21.804237  47.074101  239.766577    Set1
..         ...        ...         ...        ...        ...         ...     ...
155  20.937667  51.055515  236.295268  22.045126  73.710251  235.885967    Set1
156  20.583719  50.340881  237.313449  21.746693  72.800747  236.650759    Set1
157  20.299083  50.709439  232.130265  21.757244  72.649623  232.644509    Set1
158  21.025160  51.069637  237.084815  22.091713  74.161838  236.287396    Set1
159  21.026297  51.066147  237.109326  22.168168  74.576739  236.439331    Set1

[160 rows x 7 columns]

In [59]:
dp5= pd.concat([t5,t55,table1], axis=1)
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    234.531126  221.324324  ...    A1  1665B5AE-934F-4116-AE19-3369544A125F.png
1    233.784758  220.785082  ...    A1  47C127AF-8872-4A1E-9F72-082F72252B3F.png
2    234.007710  221.179612  ...    A1  15991304-7501-4377-BE6E-1B9AF5258FC1.png
3    233.841003  221.387387  ...    A1  5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png
4    233.674052  220.670725  ...    A1  26A32C19-6890-4999-A7F2-D8399A56E3B5.png
..          ...         ...  ...   ...                                       ...
155  236.295268  222.005844  ...    D4  A95B5685-7346-4585-AE3D-674F5539C891.png
156  237.313449  222.639072  ...    D4  548D8FC6-5993-476E-9F84-FEEE003BE798.png
157  232.130265  217.344777  ...    D4  761A1FDE-FD1C-4A18-8C5F-27608736CB3C.png
158  237.084815  223.010713  ...    D4  027B3600-F7AD-41B8-8DE5-1706B68BAE4F.png
159  237.109326  222.976138  ...    D4  57148CAB-1038-4B0D-9C2F-6DCB9632D2DF.png

[160 rows x 17 columns]

In [60]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    239.489003  226.557990  ...    A1  1665B5AE-934F-4116-AE19-3369544A125F.png
1    238.912751  225.914942  ...    A1  47C127AF-8872-4A1E-9F72-082F72252B3F.png
2    239.195520  226.261586  ...    A1  15991304-7501-4377-BE6E-1B9AF5258FC1.png
3    239.019317  226.444282  ...    A1  5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png
4    238.941644  225.877932  ...    A1  26A32C19-6890-4999-A7F2-D8399A56E3B5.png
..          ...         ...  ...   ...                                       ...
155  236.295268  222.005844  ...    D4  A95B5685-7346-4585-AE3D-674F5539C891.png
156  237.313449  222.639072  ...    D4  548D8FC6-5993-476E-9F84-FEEE003BE798.png
157  232.130265  217.344777  ...    D4  761A1FDE-FD1C-4A18-8C5F-27608736CB3C.png
158  237.084815  223.010713  ...    D4  027B3600-F7AD-41B8-8DE5-1706B68BAE4F.png
159  237.109326  222.976138  ...    D4  57148CAB-1038-4B0D-9C2F-6DCB9632D2DF.png

[800 rows x 17 columns]

In [62]:
st1.to_csv('A1_1.csv', index=False)