<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newA4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 import pandas as pd
 import numpy as np

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/shadeimg'

In [4]:
import os

In [5]:
os.listdir(path)

['9-10 7 2021',
 'รูปฟัน07',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'FAF5097E-1FEB-41DF-92C9-C190A88FE15F.png',
 'CD25F822-5A97-4F4A-8667-90D9F5C9CC62.png',
 'B772B836-0F38-44D5-959C-675C592375FE.png',
 '1665B5AE-934F-4116-AE19-3369544A125F.png',
 'Color-checkerDD .xlsx',
 'Color-checkerAA1.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 '44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png',
 '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png',
 '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png']

In [6]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 3.1 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.28-py2.py3-none-any.whl (14 kB)
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 4.0 MB/s
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 27.9 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.28 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [7]:
from azure.storage.blob import BlockBlobService
import os

In [8]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [9]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [10]:
AA = os.path.join(path,'AA1.xlsx')

In [64]:
A1_set1= pd.read_excel(AA, sheet_name='A4Set4')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...            หมายเหตุ
0    C6D0A6B4-EAD1-4C5F-9E6B-CE5E0923BCF0.png  ...  ค่า duration 1/510
1    A3B3B5C2-1901-4D2C-8309-010408F66705.png  ...  ค่า duration 1/510
2    4C428E15-84C8-4D96-BD24-DC9969741560.png  ...  ค่า duration 1/510
3    91F5B0B5-A4E2-4073-A924-AC7A2ECB236F.png  ...  ค่า duration 1/510
4    606F71D4-DD41-4252-B152-C019C53AE874.png  ...  ค่า duration 1/510
..                                        ...  ...                 ...
155  8F7760A1-25B7-4E9F-A84E-099B57C47532.png  ...  ค่า duration 1/510
156  BC9359F6-584C-4C87-BFF5-F52CBB746020.png  ...  ค่า duration 1/510
157  3EAFA244-DBEF-40B6-AC56-BA83F7B4ECB0.png  ...  ค่า duration 1/510
158  29F56717-DBCB-440B-9926-A43AA846D152.png  ...  ค่า duration 1/510
159  973CB695-FC95-489E-B2D8-54523CA1273A.png  ...  ค่า duration 1/510

[160 rows x 7 columns]

In [65]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [66]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [67]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [68]:
A1_set1

                                          Img Ref  ... ฉากหลัง            หมายเหตุ
0    C6D0A6B4-EAD1-4C5F-9E6B-CE5E0923BCF0.png  A4  ...    สีดำ  ค่า duration 1/510
1    A3B3B5C2-1901-4D2C-8309-010408F66705.png  A4  ...    สีดำ  ค่า duration 1/510
2    4C428E15-84C8-4D96-BD24-DC9969741560.png  A4  ...    สีดำ  ค่า duration 1/510
3    91F5B0B5-A4E2-4073-A924-AC7A2ECB236F.png  A4  ...    สีดำ  ค่า duration 1/510
4    606F71D4-DD41-4252-B152-C019C53AE874.png  A4  ...    สีดำ  ค่า duration 1/510
..                                        ...  ..  ...     ...                 ...
155  8F7760A1-25B7-4E9F-A84E-099B57C47532.png  A4  ...    สีดำ  ค่า duration 1/510
156  BC9359F6-584C-4C87-BFF5-F52CBB746020.png  A4  ...    สีดำ  ค่า duration 1/510
157  3EAFA244-DBEF-40B6-AC56-BA83F7B4ECB0.png  A4  ...    สีดำ  ค่า duration 1/510
158  29F56717-DBCB-440B-9926-A43AA846D152.png  A4  ...    สีดำ  ค่า duration 1/510
159  973CB695-FC95-489E-B2D8-54523CA1273A.png  A4  ...    สีดำ  ค่า duration 1/510

[160 rows x 7 columns]

In [69]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [70]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    A4   A1  C6D0A6B4-EAD1-4C5F-9E6B-CE5E0923BCF0.png
1    A4   A1  A3B3B5C2-1901-4D2C-8309-010408F66705.png
2    A4   A1  4C428E15-84C8-4D96-BD24-DC9969741560.png
3    A4   A1  91F5B0B5-A4E2-4073-A924-AC7A2ECB236F.png
4    A4   A1  606F71D4-DD41-4252-B152-C019C53AE874.png
..   ..  ...                                       ...
155  A4   D4  8F7760A1-25B7-4E9F-A84E-099B57C47532.png
156  A4   D4  BC9359F6-584C-4C87-BFF5-F52CBB746020.png
157  A4   D4  3EAFA244-DBEF-40B6-AC56-BA83F7B4ECB0.png
158  A4   D4  29F56717-DBCB-440B-9926-A43AA846D152.png
159  A4   D4  973CB695-FC95-489E-B2D8-54523CA1273A.png

[160 rows x 3 columns]

In [71]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    A4   A1  C6D0A6B4-EAD1-4C5F-9E6B-CE5E0923BCF0.png
1    A4   A1  A3B3B5C2-1901-4D2C-8309-010408F66705.png
2    A4   A1  4C428E15-84C8-4D96-BD24-DC9969741560.png
3    A4   A1  91F5B0B5-A4E2-4073-A924-AC7A2ECB236F.png
4    A4   A1  606F71D4-DD41-4252-B152-C019C53AE874.png
..   ..  ...                                       ...
155  A4   D4  8F7760A1-25B7-4E9F-A84E-099B57C47532.png
156  A4   D4  BC9359F6-584C-4C87-BFF5-F52CBB746020.png
157  A4   D4  3EAFA244-DBEF-40B6-AC56-BA83F7B4ECB0.png
158  A4   D4  29F56717-DBCB-440B-9926-A43AA846D152.png
159  A4   D4  973CB695-FC95-489E-B2D8-54523CA1273A.png

[160 rows x 3 columns]

In [72]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img Ref  ... ฉากหลัง            หมายเหตุ
0  C6D0A6B4-EAD1-4C5F-9E6B-CE5E0923BCF0.png  A4  ...    สีดำ  ค่า duration 1/510
1  A3B3B5C2-1901-4D2C-8309-010408F66705.png  A4  ...    สีดำ  ค่า duration 1/510
2  4C428E15-84C8-4D96-BD24-DC9969741560.png  A4  ...    สีดำ  ค่า duration 1/510

[3 rows x 7 columns]

In [73]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png'

In [74]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821] 
S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)
# all_total.append(list_total)

In [75]:
list_total

[223.87314341368395,
 199.018018018018,
 157.4263452641831,
 235.6770554338122,
 214.7927927927928,
 175.47877607337068]

In [76]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [77]:
list_total1

[[218.45596948299652, 213.28349971593215, 197.09471633795957],
 [210.95933771609447, 208.07337066796526, 190.7775342910478],
 [217.34737440142845, 214.07767226686147, 196.66423179936695]]

In [78]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [79]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [80]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [81]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [82]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  23.872494  57.409950  211.801558  24.488516  22.934177  221.542813    Set1
1  23.741011  63.277494  208.352650  26.216784  24.654411  215.775262    Set1
2  24.341125  57.417417  211.855207  26.669994  22.567324  220.781836    Set1

In [83]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [84]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [85]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [86]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    211.018505  198.340476  162.685496  221.528285  216.994806  201.722669
1    207.639964  195.072559  155.867949  215.762195  212.870222  195.025404
2    210.950329  198.417417  162.600844  220.752780  217.545004  201.401591
3    210.858697  198.275383  162.467576  220.309877  217.081081  201.148852
4    207.614561  195.007142  156.078565  216.125233  213.230744  195.647188
..          ...         ...         ...         ...         ...         ...
155  235.094879  226.740118  187.878500  233.213213  229.454184  193.164191
156  235.415551  226.783216  187.810567  233.593621  229.826719  193.406217
157  235.633147  226.954793  188.392988  233.585504  229.766496  193.383005
158  235.307930  227.153965  188.157130  234.387469  230.788572  194.362308
159  234.855531  227.409626  189.026378  234.141222  230.651733  195.400455

[160 rows x 6 columns]

In [87]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_1H.append(list_total)

In [88]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set4'
t11

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    23.870546  59.034494  211.041230  24.488516  22.934177  221.542813    Set4
1    23.771041  64.070692  207.663096  26.216784  24.654411  215.775262    Set4
2    24.316857  59.150069  210.987988  26.669994  22.567324  220.781836    Set4
3    24.414252  59.234153  210.889619  26.324487  22.391040  220.337878    Set4
4    23.742878  63.809269  207.636555  26.232692  24.316046  216.133755    Set4
..         ...        ...         ...        ...        ...         ...     ...
155  25.279929  51.432757  235.102021  28.192273  44.146336  233.243406    Set4
156  24.883532  51.812191  235.422936  28.127587  44.217921  233.625355    Set4
157  25.236263  51.369451  235.642643  27.776317  44.243730  233.604659    Set4
158  25.493548  51.310933  235.313449  28.196413  43.925655  234.417012    Set4
159  26.216135  49.978005  234.867137  28.086600  42.571139  234.172145    Set4

[160 rows x 7 columns]

In [89]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    211.018505  198.340476  ...    A1  C6D0A6B4-EAD1-4C5F-9E6B-CE5E0923BCF0.png
1    207.639964  195.072559  ...    A1  A3B3B5C2-1901-4D2C-8309-010408F66705.png
2    210.950329  198.417417  ...    A1  4C428E15-84C8-4D96-BD24-DC9969741560.png
3    210.858697  198.275383  ...    A1  91F5B0B5-A4E2-4073-A924-AC7A2ECB236F.png
4    207.614561  195.007142  ...    A1  606F71D4-DD41-4252-B152-C019C53AE874.png
..          ...         ...  ...   ...                                       ...
155  235.094879  226.740118  ...    D4  8F7760A1-25B7-4E9F-A84E-099B57C47532.png
156  235.415551  226.783216  ...    D4  BC9359F6-584C-4C87-BFF5-F52CBB746020.png
157  235.633147  226.954793  ...    D4  3EAFA244-DBEF-40B6-AC56-BA83F7B4ECB0.png
158  235.307930  227.153965  ...    D4  29F56717-DBCB-440B-9926-A43AA846D152.png
159  234.855531  227.409626  ...    D4  973CB695-FC95-489E-B2D8-54523CA1273A.png

[160 rows x 16 columns]

#Datapoint 2

In [90]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [91]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [92]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    211.028731  198.342180  162.642967  221.482915  216.945297  201.678354
1    207.572924  195.001299  155.754971  215.692395  212.797419  194.933366
2    210.948543  198.407191  162.556854  220.709683  217.505965  201.363931
3    210.866407  198.274410  162.449963  220.279523  217.048535  201.127506
4    207.547115  194.934421  155.963883  216.056814  213.159646  195.558559
..          ...         ...         ...         ...         ...         ...
155  235.077104  226.712523  187.820144  233.196981  229.435841  193.181803
156  235.404918  226.751238  187.756107  233.568704  229.801153  193.421476
157  235.627303  226.927928  188.350459  233.567243  229.744988  193.393962
158  235.291616  227.128155  188.115413  234.357357  230.760409  194.359386
159  234.836052  227.385926  188.977518  234.119390  230.633471  195.395017

[160 rows x 6 columns]

In [93]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_2H.append(list_total)

In [94]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set4'
t22

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    23.874442  59.094311  211.051457  24.482834  22.938885  221.497443    Set4
1    23.774856  64.146904  207.596056  26.218489  24.688905  215.705462    Set4
2    24.318318  59.201932  210.986202  26.675026  22.565863  220.738739    Set4
3    24.414009  59.262641  210.897330  26.321646  22.383654  220.307524    Set4
4    23.745313  63.889051  207.569110  26.233017  24.347618  216.065336    Set4
..         ...        ...         ...        ...        ...         ...     ...
155  25.277494  51.482185  235.084246  28.190082  44.111192  233.227173    Set4
156  24.872738  51.862836  235.412304  28.124422  44.178719  233.600438    Set4
157  25.225550  51.410519  235.636799  27.772908  44.215080  233.586397    Set4
158  25.489814  51.342018  235.297135  28.195195  43.901307  234.386900    Set4
159  26.217758  50.013798  234.847658  28.088223  42.557828  234.150312    Set4

[160 rows x 7 columns]

In [95]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    211.028731  198.342180  ...    A1  C6D0A6B4-EAD1-4C5F-9E6B-CE5E0923BCF0.png
1    207.572924  195.001299  ...    A1  A3B3B5C2-1901-4D2C-8309-010408F66705.png
2    210.948543  198.407191  ...    A1  4C428E15-84C8-4D96-BD24-DC9969741560.png
3    210.866407  198.274410  ...    A1  91F5B0B5-A4E2-4073-A924-AC7A2ECB236F.png
4    207.547115  194.934421  ...    A1  606F71D4-DD41-4252-B152-C019C53AE874.png
..          ...         ...  ...   ...                                       ...
155  235.077104  226.712523  ...    D4  8F7760A1-25B7-4E9F-A84E-099B57C47532.png
156  235.404918  226.751238  ...    D4  BC9359F6-584C-4C87-BFF5-F52CBB746020.png
157  235.627303  226.927928  ...    D4  3EAFA244-DBEF-40B6-AC56-BA83F7B4ECB0.png
158  235.291616  227.128155  ...    D4  29F56717-DBCB-440B-9926-A43AA846D152.png
159  234.836052  227.385926  ...    D4  973CB695-FC95-489E-B2D8-54523CA1273A.png

[160 rows x 16 columns]

#Datapoint 3

In [96]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [97]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [98]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    210.990666  198.310608  162.230501  220.668209  216.005032  200.967860
1    205.023862  192.105673  151.044315  213.613343  210.618943  192.218002
2    210.744745  198.076942  161.875010  219.819901  216.668371  200.635338
3    210.549955  197.905527  161.674621  219.229851  215.976950  200.065823
4    205.041555  192.133999  151.454833  214.041312  211.060547  192.825095
..          ...         ...         ...         ...         ...         ...
155  233.820875  225.128399  184.216866  231.950978  228.100398  190.885642
156  234.344290  225.187485  184.224008  232.288856  228.448908  191.200633
157  234.759029  225.538106  185.452317  232.658632  228.736385  192.072803
158  234.658713  226.272137  186.243974  233.681032  230.013960  193.676731
159  234.091794  226.392095  186.888889  233.352406  229.812028  194.490950

[160 rows x 6 columns]

In [99]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_3H.append(list_total)

In [100]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set4'
t33

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    23.933203  59.546060  211.013392  24.280578  22.942618  220.682737    Set4
1    22.854882  67.221248  205.024998  25.958201  25.573574  213.613343    Set4
2    24.311501  59.854963  210.782404  26.735411  22.497930  219.848308    Set4
3    24.460920  59.922490  210.580878  26.263371  22.518708  219.256310    Set4
4    22.995536  66.796202  205.044477  25.969564  25.333414  214.041312    Set4
..         ...        ...         ...        ...        ...         ...     ...
155  25.014528  54.232773  233.824284  27.841571  45.368233  231.969077    Set4
156  24.766253  54.710170  234.350621  27.922652  45.337067  232.307686    Set4
157  24.879231  53.747667  234.763087  27.641750  44.759841  232.671942    Set4
158  25.386495  52.804399  234.664232  28.154046  44.004545  233.709196    Set4
159  26.110137  51.592890  234.100722  28.029462  42.815924  233.381138    Set4

[160 rows x 7 columns]

In [101]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    210.990666  198.310608  ...    A1  C6D0A6B4-EAD1-4C5F-9E6B-CE5E0923BCF0.png
1    205.023862  192.105673  ...    A1  A3B3B5C2-1901-4D2C-8309-010408F66705.png
2    210.744745  198.076942  ...    A1  4C428E15-84C8-4D96-BD24-DC9969741560.png
3    210.549955  197.905527  ...    A1  91F5B0B5-A4E2-4073-A924-AC7A2ECB236F.png
4    205.041555  192.133999  ...    A1  606F71D4-DD41-4252-B152-C019C53AE874.png
..          ...         ...  ...   ...                                       ...
155  233.820875  225.128399  ...    D4  8F7760A1-25B7-4E9F-A84E-099B57C47532.png
156  234.344290  225.187485  ...    D4  BC9359F6-584C-4C87-BFF5-F52CBB746020.png
157  234.759029  225.538106  ...    D4  3EAFA244-DBEF-40B6-AC56-BA83F7B4ECB0.png
158  234.658713  226.272137  ...    D4  29F56717-DBCB-440B-9926-A43AA846D152.png
159  234.091794  226.392095  ...    D4  973CB695-FC95-489E-B2D8-54523CA1273A.png

[160 rows x 16 columns]

#Datapoint 4

In [102]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [103]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [104]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    209.407678  196.384628  158.769256  218.935963  213.888564  198.287558
1    203.410356  190.634121  149.440386  211.888240  208.894976  190.877364
2    208.937018  195.871601  158.204935  217.841490  214.644753  197.921435
3    208.618700  195.558559  157.790520  217.299813  213.994643  197.434056
4    203.309796  190.529016  149.615859  212.289587  209.294700  191.407759
..          ...         ...         ...         ...         ...         ...
155  232.614398  223.676487  181.011119  230.749614  227.027676  188.713091
156  233.216216  223.703758  181.010551  231.057301  227.287396  188.952114
157  233.648405  223.978979  182.152423  231.304521  227.417336  189.588102
158  233.495171  224.777534  182.796607  232.101128  228.377567  190.610015
159  232.823553  224.794741  183.602792  231.701891  228.074913  191.543057

[160 rows x 6 columns]

In [105]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_4H.append(list_total)

In [106]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set4'
t44

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    23.525444  62.090252  209.421638  23.354273  24.164516  218.941320    Set4
1    22.814869  67.654411  203.410356  25.908774  25.291048  211.888240    Set4
2    23.788085  62.446230  208.966642  25.941969  23.479507  217.848795    Set4
3    23.867787  62.656521  208.640857  25.672510  23.470984  217.308903    Set4
4    22.784514  67.368233  203.309796  25.903255  25.110056  212.289587    Set4
..         ...        ...         ...        ...        ...         ...     ...
155  25.081243  56.656521  232.616671  27.983849  46.634445  230.766902    Set4
156  24.738089  57.223440  233.220842  28.001623  46.659037  231.075481    Set4
157  24.795146  56.364418  233.651814  27.631442  46.196575  231.314747    Set4
158  25.436409  55.507426  233.499229  27.934015  45.818197  232.118984    Set4
159  26.008279  54.025728  232.830939  27.791413  44.440792  231.719828    Set4

[160 rows x 7 columns]

In [107]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    209.407678  196.384628  ...    A1  C6D0A6B4-EAD1-4C5F-9E6B-CE5E0923BCF0.png
1    203.410356  190.634121  ...    A1  A3B3B5C2-1901-4D2C-8309-010408F66705.png
2    208.937018  195.871601  ...    A1  4C428E15-84C8-4D96-BD24-DC9969741560.png
3    208.618700  195.558559  ...    A1  91F5B0B5-A4E2-4073-A924-AC7A2ECB236F.png
4    203.309796  190.529016  ...    A1  606F71D4-DD41-4252-B152-C019C53AE874.png
..          ...         ...  ...   ...                                       ...
155  232.614398  223.676487  ...    D4  8F7760A1-25B7-4E9F-A84E-099B57C47532.png
156  233.216216  223.703758  ...    D4  BC9359F6-584C-4C87-BFF5-F52CBB746020.png
157  233.648405  223.978979  ...    D4  3EAFA244-DBEF-40B6-AC56-BA83F7B4ECB0.png
158  233.495171  224.777534  ...    D4  29F56717-DBCB-440B-9926-A43AA846D152.png
159  232.823553  224.794741  ...    D4  973CB695-FC95-489E-B2D8-54523CA1273A.png

[160 rows x 16 columns]

#Datapoint 5

In [108]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [109]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [110]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    207.608555  194.218083  155.338690  217.350377  212.146092  196.160377
1    201.718286  189.513838  149.654817  209.663096  206.778508  189.666017
2    207.021833  193.547439  154.632416  216.162000  212.945702  195.672835
3    206.360036  192.793036  153.615778  215.369288  212.024917  194.894327
4    201.546790  189.287071  149.680951  210.032546  207.164841  190.237887
..          ...         ...         ...         ...         ...         ...
155  231.053892  221.944079  177.874442  228.683873  224.924357  184.990991
156  231.698482  221.936450  177.764061  228.938723  225.139437  184.942212
157  231.884100  221.890999  178.251928  229.169061  225.190325  185.337878
158  231.661391  222.683954  178.687931  230.133999  226.298109  186.525688
159  231.022076  222.643860  179.676974  229.606769  225.857154  187.339989

[160 rows x 6 columns]

In [111]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_5H.append(list_total)

In [112]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set4'
t55

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    23.280903  64.507426  207.619998  23.163704  24.928334  217.354517    Set4
1    22.845629  65.793280  201.718286  25.834510  24.282607  209.663096    Set4
2    23.399724  64.893353  207.042123  25.684928  24.278955  216.164029    Set4
3    23.002435  65.419122  206.368395  25.460352  24.320753  215.369288    Set4
4    22.793199  65.604578  201.546790  25.843600  23.997403  210.032546    Set4
..         ...        ...         ...        ...        ...         ...     ...
155  25.102427  58.679003  231.053892  27.522928  48.681844  228.683873    Set4
156  24.695723  59.397046  231.698482  27.545735  48.968347  228.938723    Set4
157  24.483565  59.000730  231.884100  27.431053  48.743365  229.169061    Set4
158  25.173850  58.319373  231.661391  27.542001  48.334794  230.134161    Set4
159  25.391689  56.647431  231.022076  27.323432  46.968834  229.606769    Set4

[160 rows x 7 columns]

In [113]:
dp5= pd.concat([t5,t55,table1], axis=1)
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    207.608555  194.218083  ...    A1  C6D0A6B4-EAD1-4C5F-9E6B-CE5E0923BCF0.png
1    201.718286  189.513838  ...    A1  A3B3B5C2-1901-4D2C-8309-010408F66705.png
2    207.021833  193.547439  ...    A1  4C428E15-84C8-4D96-BD24-DC9969741560.png
3    206.360036  192.793036  ...    A1  91F5B0B5-A4E2-4073-A924-AC7A2ECB236F.png
4    201.546790  189.287071  ...    A1  606F71D4-DD41-4252-B152-C019C53AE874.png
..          ...         ...  ...   ...                                       ...
155  231.053892  221.944079  ...    D4  8F7760A1-25B7-4E9F-A84E-099B57C47532.png
156  231.698482  221.936450  ...    D4  BC9359F6-584C-4C87-BFF5-F52CBB746020.png
157  231.884100  221.890999  ...    D4  3EAFA244-DBEF-40B6-AC56-BA83F7B4ECB0.png
158  231.661391  222.683954  ...    D4  29F56717-DBCB-440B-9926-A43AA846D152.png
159  231.022076  222.643860  ...    D4  973CB695-FC95-489E-B2D8-54523CA1273A.png

[160 rows x 16 columns]

In [114]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    211.018505  198.340476  ...    A1  C6D0A6B4-EAD1-4C5F-9E6B-CE5E0923BCF0.png
1    207.639964  195.072559  ...    A1  A3B3B5C2-1901-4D2C-8309-010408F66705.png
2    210.950329  198.417417  ...    A1  4C428E15-84C8-4D96-BD24-DC9969741560.png
3    210.858697  198.275383  ...    A1  91F5B0B5-A4E2-4073-A924-AC7A2ECB236F.png
4    207.614561  195.007142  ...    A1  606F71D4-DD41-4252-B152-C019C53AE874.png
..          ...         ...  ...   ...                                       ...
155  231.053892  221.944079  ...    D4  8F7760A1-25B7-4E9F-A84E-099B57C47532.png
156  231.698482  221.936450  ...    D4  BC9359F6-584C-4C87-BFF5-F52CBB746020.png
157  231.884100  221.890999  ...    D4  3EAFA244-DBEF-40B6-AC56-BA83F7B4ECB0.png
158  231.661391  222.683954  ...    D4  29F56717-DBCB-440B-9926-A43AA846D152.png
159  231.022076  222.643860  ...    D4  973CB695-FC95-489E-B2D8-54523CA1273A.png

[800 rows x 16 columns]

In [115]:
st1.to_csv('A4_4.csv', index=False)