<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newA1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [74]:
 import pandas as pd
 import numpy as np

In [75]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [76]:
path = '/content/drive/My Drive/shadeimg'

In [77]:
import os

In [78]:
os.listdir(path)

['9-10 7 2021',
 'รูปฟัน07',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'Color-checkerDD .xlsx',
 'Color-checkerAA1.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png',
 '1665B5AE-934F-4116-AE19-3369544A125F.png',
 '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png',
 '44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png']

In [79]:
!pip install azure-storage-blob==2.1.0

Requirement already satisfied: azure-storage-blob==2.1.0 in /usr/local/lib/python3.7/dist-packages (2.1.0)
Requirement already satisfied: azure-storage-common~=2.1 in /usr/local/lib/python3.7/dist-packages (from azure-storage-blob==2.1.0) (2.1.0)
Requirement already satisfied: azure-common>=1.1.5 in /usr/local/lib/python3.7/dist-packages (from azure-storage-blob==2.1.0) (1.1.28)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: cryptography in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (36.0.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)

In [80]:
from azure.storage.blob import BlockBlobService
import os

In [81]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [82]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [83]:
AA = os.path.join(path,'AA1.xlsx')

In [195]:
A1_set1= pd.read_excel(AA, sheet_name='A4Set1')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                   หมายเหตุ
0    E3173A1F-D34A-4D28-928B-E1C32CF79872.png  ...  ค่า duration 1/90 ISO 171
1    013F1BC6-5EF5-4A49-8F01-69FB54E775C3.png  ...  ค่า duration 1/90 ISO 171
2    0F4BD91E-9F4C-408D-BD77-1A2D48FD0758.png  ...  ค่า duration 1/90 ISO 171
3    C3FDAEEA-FA70-4C39-AF06-F3A68D515336.png  ...  ค่า duration 1/90 ISO 171
4    9C8F8D57-3A59-4F0F-8F7E-9F81D3456B62.png  ...  ค่า duration 1/90 ISO 171
..                                        ...  ...                        ...
155  CEA54866-3FAA-4D40-ACA2-5E40F032BBEC.png  ...  ค่า duration 1/90 ISO 171
156  FC5C7CD0-F1BD-4517-AB6B-763F93652B15.png  ...  ค่า duration 1/90 ISO 171
157  8CBEE509-A7E8-4E5C-86AA-496FABD350EC.png  ...  ค่า duration 1/90 ISO 171
158  4A3A9795-2840-4478-8A47-89091756F7E2.png  ...  ค่า duration 1/90 ISO 171
159  254E8DD4-F9A0-4BB8-A160-638EBD8EA693.png  ...  ค่า duration 1/90 ISO 171

[160 rows x 7 columns]

In [196]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [197]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [198]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [199]:
A1_set1

                                          Img  ...                   หมายเหตุ
0    E3173A1F-D34A-4D28-928B-E1C32CF79872.png  ...  ค่า duration 1/90 ISO 171
1    013F1BC6-5EF5-4A49-8F01-69FB54E775C3.png  ...  ค่า duration 1/90 ISO 171
2    0F4BD91E-9F4C-408D-BD77-1A2D48FD0758.png  ...  ค่า duration 1/90 ISO 171
3    C3FDAEEA-FA70-4C39-AF06-F3A68D515336.png  ...  ค่า duration 1/90 ISO 171
4    9C8F8D57-3A59-4F0F-8F7E-9F81D3456B62.png  ...  ค่า duration 1/90 ISO 171
..                                        ...  ...                        ...
155  CEA54866-3FAA-4D40-ACA2-5E40F032BBEC.png  ...  ค่า duration 1/90 ISO 171
156  FC5C7CD0-F1BD-4517-AB6B-763F93652B15.png  ...  ค่า duration 1/90 ISO 171
157  8CBEE509-A7E8-4E5C-86AA-496FABD350EC.png  ...  ค่า duration 1/90 ISO 171
158  4A3A9795-2840-4478-8A47-89091756F7E2.png  ...  ค่า duration 1/90 ISO 171
159  254E8DD4-F9A0-4BB8-A160-638EBD8EA693.png  ...  ค่า duration 1/90 ISO 171

[160 rows x 7 columns]

In [200]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [201]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    A4   A1  E3173A1F-D34A-4D28-928B-E1C32CF79872.png
1    A4   A1  013F1BC6-5EF5-4A49-8F01-69FB54E775C3.png
2    A4   A1  0F4BD91E-9F4C-408D-BD77-1A2D48FD0758.png
3    A4   A1  C3FDAEEA-FA70-4C39-AF06-F3A68D515336.png
4    A4   A1  9C8F8D57-3A59-4F0F-8F7E-9F81D3456B62.png
..   ..  ...                                       ...
155  A4   D4  CEA54866-3FAA-4D40-ACA2-5E40F032BBEC.png
156  A4   D4  FC5C7CD0-F1BD-4517-AB6B-763F93652B15.png
157  A4   D4  8CBEE509-A7E8-4E5C-86AA-496FABD350EC.png
158  A4   D4  4A3A9795-2840-4478-8A47-89091756F7E2.png
159  A4   D4  254E8DD4-F9A0-4BB8-A160-638EBD8EA693.png

[160 rows x 3 columns]

In [202]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    A4   A1  E3173A1F-D34A-4D28-928B-E1C32CF79872.png
1    A4   A1  013F1BC6-5EF5-4A49-8F01-69FB54E775C3.png
2    A4   A1  0F4BD91E-9F4C-408D-BD77-1A2D48FD0758.png
3    A4   A1  C3FDAEEA-FA70-4C39-AF06-F3A68D515336.png
4    A4   A1  9C8F8D57-3A59-4F0F-8F7E-9F81D3456B62.png
..   ..  ...                                       ...
155  A4   D4  CEA54866-3FAA-4D40-ACA2-5E40F032BBEC.png
156  A4   D4  FC5C7CD0-F1BD-4517-AB6B-763F93652B15.png
157  A4   D4  8CBEE509-A7E8-4E5C-86AA-496FABD350EC.png
158  A4   D4  4A3A9795-2840-4478-8A47-89091756F7E2.png
159  A4   D4  254E8DD4-F9A0-4BB8-A160-638EBD8EA693.png

[160 rows x 3 columns]

In [203]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img  ...                   หมายเหตุ
0  E3173A1F-D34A-4D28-928B-E1C32CF79872.png  ...  ค่า duration 1/90 ISO 171
1  013F1BC6-5EF5-4A49-8F01-69FB54E775C3.png  ...  ค่า duration 1/90 ISO 171
2  0F4BD91E-9F4C-408D-BD77-1A2D48FD0758.png  ...  ค่า duration 1/90 ISO 171

[3 rows x 7 columns]

In [204]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png'

In [205]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821] 
S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)
# all_total.append(list_total)

In [206]:
list_total

[223.87314341368395,
 199.018018018018,
 157.4263452641831,
 235.6770554338122,
 214.7927927927928,
 175.47877607337068]

In [207]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [208]:
list_total1

[[236.68484700917134, 226.22197873549226, 202.17547277006736],
 [236.49046343640939, 225.1204447690934, 199.61878094310526],
 [236.24600275951627, 223.85991396802208, 197.4449314179044]]

In [209]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [210]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [211]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [212]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [213]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  19.488597  74.784595  232.063225  20.980440  35.674539  242.074507    Set1
1  19.436491  76.139761  232.340881  20.550686  37.913075  241.816817    Set1
2  19.192192  79.030030  231.650597  20.298190  40.262803  241.838000    Set1

In [214]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [215]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [216]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [217]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1['Setting']='Set1'
t1

          R-ref       G-ref       B-ref  ...      G-Shad      B-Shad  Setting
0    231.225793  207.225306  163.194708  ...  231.760409  208.267186     Set1
1    231.522523  206.851798  162.085870  ...  230.490950  205.902524     Set1
2    230.894895  204.879961  159.071342  ...  229.495820  203.721208     Set1
3    231.246084  206.003815  159.512296  ...  229.942699  203.285204     Set1
4    232.597760  207.029868  160.616995  ...  230.498742  204.188783     Set1
..          ...         ...         ...  ...         ...         ...      ...
155  229.977599  205.248275  168.860401  ...  219.133593  186.377567     Set1
156  230.581203  205.305414  168.937505  ...  219.296973  186.595082     Set1
157  234.388524  209.466358  170.343073  ...  220.610665  185.311744     Set1
158  234.053080  210.128886  172.847902  ...  223.031816  190.132132     Set1
159  232.742310  208.691665  170.907556  ...  222.286178  189.405974     Set1

[160 rows x 7 columns]

In [218]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1H.append(list_total)

In [219]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set1'
t11

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    19.478370  75.143495  231.225793  20.980440  35.674539  242.074507    Set1
1    19.409382  76.557341  231.522523  20.550686  37.913075  241.816817    Set1
2    19.183183  79.405000  230.894895  20.298190  40.262803  241.838000    Set1
3    19.544761  79.192517  231.246084  20.893028  40.626410  241.745638    Set1
4    19.446636  78.970863  232.597760  20.506534  40.561237  242.765685    Set1
..         ...        ...         ...        ...        ...         ...     ...
155  17.880854  67.813489  229.977599  20.072072  53.047723  235.249899    Set1
156  17.783784  68.202824  230.581203  19.910965  53.242188  235.733788    Set1
157  18.207370  69.728593  234.388524  19.816005  56.742229  238.298921    Set1
158  18.182696  66.739550  234.053080  20.301599  51.937505  238.706193    Set1
159  18.198847  67.789871  232.742310  20.099099  52.381219  238.287233    Set1

[160 rows x 7 columns]

In [220]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    231.225793  207.225306  ...    A1  E3173A1F-D34A-4D28-928B-E1C32CF79872.png
1    231.522523  206.851798  ...    A1  013F1BC6-5EF5-4A49-8F01-69FB54E775C3.png
2    230.894895  204.879961  ...    A1  0F4BD91E-9F4C-408D-BD77-1A2D48FD0758.png
3    231.246084  206.003815  ...    A1  C3FDAEEA-FA70-4C39-AF06-F3A68D515336.png
4    232.597760  207.029868  ...    A1  9C8F8D57-3A59-4F0F-8F7E-9F81D3456B62.png
..          ...         ...  ...   ...                                       ...
155  229.977599  205.248275  ...    D4  CEA54866-3FAA-4D40-ACA2-5E40F032BBEC.png
156  230.581203  205.305414  ...    D4  FC5C7CD0-F1BD-4517-AB6B-763F93652B15.png
157  234.388524  209.466358  ...    D4  8CBEE509-A7E8-4E5C-86AA-496FABD350EC.png
158  234.053080  210.128886  ...    D4  4A3A9795-2840-4478-8A47-89091756F7E2.png
159  232.742310  208.691665  ...    D4  254E8DD4-F9A0-4BB8-A160-638EBD8EA693.png

[160 rows x 17 columns]

#Datapoint 2

In [221]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [222]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [223]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2['Setting']='Set1'
t2

          R-ref       G-ref       B-ref  ...      G-Shad      B-Shad  Setting
0    231.114682  207.104131  163.062170  ...  231.688093  208.209886     Set1
1    231.417255  206.724941  161.952601  ...  230.410681  205.831426     Set1
2    230.807240  204.781592  158.969483  ...  229.432838  203.672916     Set1
3    231.159240  205.906420  159.409220  ...  229.886129  203.243649     Set1
4    232.518627  206.942943  160.526337  ...  230.446149  204.151773     Set1
..          ...         ...         ...  ...         ...         ...      ...
155  229.850174  205.108433  168.739632  ...  219.034494  186.266456     Set1
156  230.462544  205.168817  168.819820  ...  219.196656  186.487298     Set1
157  234.298190  209.367908  170.269215  ...  220.554825  185.265076     Set1
158  233.969240  210.041474  172.780375  ...  222.971106  190.076698     Set1
159  232.659200  208.601737  170.843682  ...  222.222141  189.340476     Set1

[160 rows x 7 columns]

In [224]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1H.append(list_total)

In [225]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set1'
t22

Empty DataFrame
Columns: [H-ref, S-ref, V-ref, H-Shad, S-Shad, V-Shad, Setting]
Index: []

In [226]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    231.114682  207.104131  ...    A1  E3173A1F-D34A-4D28-928B-E1C32CF79872.png
1    231.417255  206.724941  ...    A1  013F1BC6-5EF5-4A49-8F01-69FB54E775C3.png
2    230.807240  204.781592  ...    A1  0F4BD91E-9F4C-408D-BD77-1A2D48FD0758.png
3    231.159240  205.906420  ...    A1  C3FDAEEA-FA70-4C39-AF06-F3A68D515336.png
4    232.518627  206.942943  ...    A1  9C8F8D57-3A59-4F0F-8F7E-9F81D3456B62.png
..          ...         ...  ...   ...                                       ...
155  229.850174  205.108433  ...    D4  CEA54866-3FAA-4D40-ACA2-5E40F032BBEC.png
156  230.462544  205.168817  ...    D4  FC5C7CD0-F1BD-4517-AB6B-763F93652B15.png
157  234.298190  209.367908  ...    D4  8CBEE509-A7E8-4E5C-86AA-496FABD350EC.png
158  233.969240  210.041474  ...    D4  4A3A9795-2840-4478-8A47-89091756F7E2.png
159  232.659200  208.601737  ...    D4  254E8DD4-F9A0-4BB8-A160-638EBD8EA693.png

[160 rows x 17 columns]

#Datapoint 3

In [227]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [228]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [229]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3['Setting']='Set1'
t3

          R-ref       G-ref       B-ref  ...      G-Shad      B-Shad  Setting
0    228.936369  204.657982  160.318886  ...  230.253389  207.047074     Set1
1    229.341044  204.283500  159.319617  ...  228.926710  204.437870     Set1
2    228.549063  202.182940  156.168574  ...  227.931256  202.409788     Set1
3    228.951221  203.284555  156.742066  ...  228.312718  201.954062     Set1
4    230.461813  204.455483  157.986852  ...  228.945946  202.880610     Set1
..          ...         ...         ...  ...         ...         ...      ...
155  227.812434  202.982144  166.991803  ...  217.105998  184.250304     Set1
156  228.407759  203.042773  167.134892  ...  217.203149  184.428455     Set1
157  232.592971  207.434461  168.836539  ...  219.079052  183.981008     Set1
158  232.272543  208.206964  171.317101  ...  221.460190  188.593945     Set1
159  231.021751  206.806753  169.654005  ...  220.787355  187.793929     Set1

[160 rows x 7 columns]

In [230]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3H.append(list_total)

In [231]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set1'
t33

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    19.448503  76.545248  228.936369  20.849363  35.638990  240.597760    Set1
1    19.345589  77.935476  229.341044  20.506777  38.023131  240.213132    Set1
2    19.112816  80.840192  228.549063  20.202337  40.277737  240.280659    Set1
3    19.439331  80.505235  228.951221  20.852772  40.533561  240.038471    Set1
4    19.314260  80.259151  230.461813  20.403701  40.614479  241.248925    Set1
..         ...        ...         ...        ...        ...         ...     ...
155  17.844168  68.126694  227.812434  20.130428  53.534048  233.120039    Set1
156  17.684279  68.431053  228.407759  19.924925  53.791332  233.630874    Set1
157  18.035711  69.944891  232.592971  19.731272  56.928821  236.795552    Set1
158  18.102670  66.959662  232.272543  20.304927  52.245759  237.114276    Set1
159  18.092200  67.770473  231.021751  20.139924  52.813327  236.748722    Set1

[160 rows x 7 columns]

In [232]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    228.936369  204.657982  ...    A1  E3173A1F-D34A-4D28-928B-E1C32CF79872.png
1    229.341044  204.283500  ...    A1  013F1BC6-5EF5-4A49-8F01-69FB54E775C3.png
2    228.549063  202.182940  ...    A1  0F4BD91E-9F4C-408D-BD77-1A2D48FD0758.png
3    228.951221  203.284555  ...    A1  C3FDAEEA-FA70-4C39-AF06-F3A68D515336.png
4    230.461813  204.455483  ...    A1  9C8F8D57-3A59-4F0F-8F7E-9F81D3456B62.png
..          ...         ...  ...   ...                                       ...
155  227.812434  202.982144  ...    D4  CEA54866-3FAA-4D40-ACA2-5E40F032BBEC.png
156  228.407759  203.042773  ...    D4  FC5C7CD0-F1BD-4517-AB6B-763F93652B15.png
157  232.592971  207.434461  ...    D4  8CBEE509-A7E8-4E5C-86AA-496FABD350EC.png
158  232.272543  208.206964  ...    D4  4A3A9795-2840-4478-8A47-89091756F7E2.png
159  231.021751  206.806753  ...    D4  254E8DD4-F9A0-4BB8-A160-638EBD8EA693.png

[160 rows x 17 columns]

#Datapoint 4

In [233]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [234]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [235]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4['Setting']='Set1'
t4

          R-ref       G-ref       B-ref  ...      G-Shad      B-Shad  Setting
0    226.897898  202.252252  157.771366  ...  229.111598  206.037497     Set1
1    227.251035  201.968428  156.800341  ...  227.876146  203.437383     Set1
2    226.420989  199.836783  153.837189  ...  226.817223  201.447447     Set1
3    226.826150  200.827206  154.428537  ...  227.156887  201.100722     Set1
4    228.413278  202.120445  155.661148  ...  227.854638  201.847009     Set1
..          ...         ...         ...  ...         ...         ...      ...
155  225.556043  200.627709  164.802045  ...  215.385521  182.614236     Set1
156  226.011363  200.709115  164.993507  ...  215.457268  182.868598     Set1
157  230.445094  204.908287  166.726970  ...  217.590050  182.547602     Set1
158  230.091226  205.821687  169.384466  ...  219.952682  186.980927     Set1
159  228.808214  204.268485  167.719179  ...  219.029056  185.892866     Set1

[160 rows x 7 columns]

In [236]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4H.append(list_total)

In [237]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set1'
t44

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    19.367421  77.806103  226.897898  20.838649  35.551579  239.327165    Set1
1    19.307848  79.137976  227.251035  20.548981  38.008522  239.005763    Set1
2    19.053405  81.829397  226.420989  20.243162  40.153721  238.998458    Set1
3    19.304845  81.472851  226.826150  20.815356  40.264995  238.723643    Set1
4    19.203717  81.292184  228.413278  20.430160  40.641425  240.046425    Set1
..         ...        ...         ...        ...        ...         ...     ...
155  17.793280  68.725509  225.556043  20.216297  53.622677  231.155263    Set1
156  17.677299  68.869248  226.011363  19.955442  53.812515  231.688093    Set1
157  17.854720  70.559533  230.445094  19.732165  57.215080  235.285610    Set1
158  18.000487  67.319942  230.091226  20.375862  52.623326  235.508481    Set1
159  17.936775  68.114520  228.808214  20.184563  53.354517  234.976706    Set1

[160 rows x 7 columns]

In [238]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    226.897898  202.252252  ...    A1  E3173A1F-D34A-4D28-928B-E1C32CF79872.png
1    227.251035  201.968428  ...    A1  013F1BC6-5EF5-4A49-8F01-69FB54E775C3.png
2    226.420989  199.836783  ...    A1  0F4BD91E-9F4C-408D-BD77-1A2D48FD0758.png
3    226.826150  200.827206  ...    A1  C3FDAEEA-FA70-4C39-AF06-F3A68D515336.png
4    228.413278  202.120445  ...    A1  9C8F8D57-3A59-4F0F-8F7E-9F81D3456B62.png
..          ...         ...  ...   ...                                       ...
155  225.556043  200.627709  ...    D4  CEA54866-3FAA-4D40-ACA2-5E40F032BBEC.png
156  226.011363  200.709115  ...    D4  FC5C7CD0-F1BD-4517-AB6B-763F93652B15.png
157  230.445094  204.908287  ...    D4  8CBEE509-A7E8-4E5C-86AA-496FABD350EC.png
158  230.091226  205.821687  ...    D4  4A3A9795-2840-4478-8A47-89091756F7E2.png
159  228.808214  204.268485  ...    D4  254E8DD4-F9A0-4BB8-A160-638EBD8EA693.png

[160 rows x 17 columns]

#Datapoint 5

In [239]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [240]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [241]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5['Setting']='Set1'
t5

          R-ref       G-ref       B-ref  ...      G-Shad      B-Shad  Setting
0    224.627628  199.768038  155.377729  ...  227.831264  205.172307     Set1
1    224.939372  199.368477  154.234802  ...  226.629332  202.383248     Set1
2    224.017450  197.203717  151.371398  ...  225.491681  200.460028     Set1
3    224.340800  198.008197  151.813651  ...  225.801315  200.096177     Set1
4    225.980115  199.398669  153.085707  ...  226.609366  200.925574     Set1
..          ...         ...         ...  ...         ...         ...      ...
155  223.245922  198.618132  163.578849  ...  213.625923  181.490220     Set1
156  223.653194  198.705706  163.816249  ...  213.666829  181.844006     Set1
157  228.313367  202.580959  164.802613  ...  215.476422  180.452398     Set1
158  227.768606  203.466439  167.399643  ...  217.894570  184.777615     Set1
159  226.716906  202.015502  165.915104  ...  216.994319  183.876146     Set1

[160 rows x 7 columns]

In [242]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5H.append(list_total)

In [243]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set1'
t55

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    19.271569  78.706030  224.627628  20.917864  34.976463  237.691827    Set1
1    19.222953  80.227254  224.939372  20.774450  37.624949  237.339583    Set1
2    18.964451  82.756676  224.017450  20.407353  39.635987  237.250467    Set1
3    19.151124  82.495901  224.340800  20.854151  39.881260  237.096502    Set1
4    19.083922  82.307524  225.980115  20.513189  40.224332  238.480237    Set1
..         ...        ...         ...        ...        ...         ...     ...
155  17.699862  68.155913  223.245922  20.289019  52.900170  228.920542    Set1
156  17.579742  68.217190  223.653194  19.967941  53.016882  229.500122    Set1
157  17.748316  70.989611  228.313367  19.744664  57.731840  233.170684    Set1
158  17.944566  67.627709  227.768606  20.447204  53.158104  233.351189    Set1
159  17.854476  68.417499  226.716906  20.215892  53.724373  232.859833    Set1

[160 rows x 7 columns]

In [244]:
dp5= pd.concat([t5,t55,table1], axis=1)
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    224.627628  199.768038  ...    A1  E3173A1F-D34A-4D28-928B-E1C32CF79872.png
1    224.939372  199.368477  ...    A1  013F1BC6-5EF5-4A49-8F01-69FB54E775C3.png
2    224.017450  197.203717  ...    A1  0F4BD91E-9F4C-408D-BD77-1A2D48FD0758.png
3    224.340800  198.008197  ...    A1  C3FDAEEA-FA70-4C39-AF06-F3A68D515336.png
4    225.980115  199.398669  ...    A1  9C8F8D57-3A59-4F0F-8F7E-9F81D3456B62.png
..          ...         ...  ...   ...                                       ...
155  223.245922  198.618132  ...    D4  CEA54866-3FAA-4D40-ACA2-5E40F032BBEC.png
156  223.653194  198.705706  ...    D4  FC5C7CD0-F1BD-4517-AB6B-763F93652B15.png
157  228.313367  202.580959  ...    D4  8CBEE509-A7E8-4E5C-86AA-496FABD350EC.png
158  227.768606  203.466439  ...    D4  4A3A9795-2840-4478-8A47-89091756F7E2.png
159  226.716906  202.015502  ...    D4  254E8DD4-F9A0-4BB8-A160-638EBD8EA693.png

[160 rows x 17 columns]

In [245]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    231.225793  207.225306  ...    A1  E3173A1F-D34A-4D28-928B-E1C32CF79872.png
1    231.522523  206.851798  ...    A1  013F1BC6-5EF5-4A49-8F01-69FB54E775C3.png
2    230.894895  204.879961  ...    A1  0F4BD91E-9F4C-408D-BD77-1A2D48FD0758.png
3    231.246084  206.003815  ...    A1  C3FDAEEA-FA70-4C39-AF06-F3A68D515336.png
4    232.597760  207.029868  ...    A1  9C8F8D57-3A59-4F0F-8F7E-9F81D3456B62.png
..          ...         ...  ...   ...                                       ...
155  223.245922  198.618132  ...    D4  CEA54866-3FAA-4D40-ACA2-5E40F032BBEC.png
156  223.653194  198.705706  ...    D4  FC5C7CD0-F1BD-4517-AB6B-763F93652B15.png
157  228.313367  202.580959  ...    D4  8CBEE509-A7E8-4E5C-86AA-496FABD350EC.png
158  227.768606  203.466439  ...    D4  4A3A9795-2840-4478-8A47-89091756F7E2.png
159  226.716906  202.015502  ...    D4  254E8DD4-F9A0-4BB8-A160-638EBD8EA693.png

[800 rows x 17 columns]

In [248]:
st1.to_csv('A4_1.csv', index=False)