<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newB3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 import pandas as pd
 import numpy as np

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/My Drive/shadeimg'

In [ ]:
import os

In [ ]:
os.listdir(path)

['รูปฟัน07',
 '9-10 7 2021',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'FAF5097E-1FEB-41DF-92C9-C190A88FE15F.png',
 'CD25F822-5A97-4F4A-8667-90D9F5C9CC62.png',
 'B772B836-0F38-44D5-959C-675C592375FE.png',
 '1665B5AE-934F-4116-AE19-3369544A125F.png',
 'Color-checkerDD .xlsx',
 'Color-checkerAA1.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 '44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png',
 '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png',
 '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png']

In [ ]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 6.3 MB/s
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 5.0 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.28-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 30.9 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.28 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [ ]:
from azure.storage.blob import BlockBlobService
import os

In [ ]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [ ]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [ ]:
AA = os.path.join(path,'BB1.xlsx')

In [ ]:
A1_set1= pd.read_excel(AA, sheet_name='B1Set3')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                หมายเหตุ
0    36131F69-AE53-43F0-9393-320FE9F7F062.png  ...  Duration 1/145 ISO 131
1    3E662E98-64FE-4DAE-9C23-6B9B46AFF938.png  ...  Duration 1/145 ISO 131
2    13BDAEBC-84BE-4B57-BD10-B3BEBEC55479.png  ...  Duration 1/145 ISO 131
3    73D24887-262D-44DF-BC51-1E2A687A29A0.png  ...  Duration 1/145 ISO 131
4    59AB53AF-BFB4-4E7C-8C9A-5235F7B20C49.png  ...  Duration 1/145 ISO 131
..                                        ...  ...                     ...
157  D976876E-1549-4006-A5D6-B780C1FB14ED.png  ...  Duration 1/145 ISO 131
158  E0CAF295-9E60-4BB2-842C-888C7D3FC00A.png  ...  Duration 1/145 ISO 131
159  96046781-35C4-4D0C-8F10-3E023B8F663E.png  ...  Duration 1/145 ISO 131
160  555F11C7-4706-44D4-984D-276B0045348A.png  ...  Duration 1/145 ISO 131
161  F9CD4506-C345-4292-B389-70443CE0C652.png  ...  Duration 1/145 ISO 131

[162 rows x 7 columns]

In [ ]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [ ]:
A1_set1

                                          Img  ...                หมายเหตุ
0    36131F69-AE53-43F0-9393-320FE9F7F062.png  ...  Duration 1/145 ISO 131
1    3E662E98-64FE-4DAE-9C23-6B9B46AFF938.png  ...  Duration 1/145 ISO 131
2    13BDAEBC-84BE-4B57-BD10-B3BEBEC55479.png  ...  Duration 1/145 ISO 131
3    73D24887-262D-44DF-BC51-1E2A687A29A0.png  ...  Duration 1/145 ISO 131
4    59AB53AF-BFB4-4E7C-8C9A-5235F7B20C49.png  ...  Duration 1/145 ISO 131
..                                        ...  ...                     ...
157  D976876E-1549-4006-A5D6-B780C1FB14ED.png  ...  Duration 1/145 ISO 131
158  E0CAF295-9E60-4BB2-842C-888C7D3FC00A.png  ...  Duration 1/145 ISO 131
159  96046781-35C4-4D0C-8F10-3E023B8F663E.png  ...  Duration 1/145 ISO 131
160  555F11C7-4706-44D4-984D-276B0045348A.png  ...  Duration 1/145 ISO 131
161  F9CD4506-C345-4292-B389-70443CE0C652.png  ...  Duration 1/145 ISO 131

[162 rows x 7 columns]

In [ ]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    B1   A1  36131F69-AE53-43F0-9393-320FE9F7F062.png
1    B1   A1  3E662E98-64FE-4DAE-9C23-6B9B46AFF938.png
2    B1   A1  13BDAEBC-84BE-4B57-BD10-B3BEBEC55479.png
3    B1   A1  73D24887-262D-44DF-BC51-1E2A687A29A0.png
4    B1   A1  59AB53AF-BFB4-4E7C-8C9A-5235F7B20C49.png
..   ..  ...                                       ...
157  B1   D4  D976876E-1549-4006-A5D6-B780C1FB14ED.png
158  B1   D4  E0CAF295-9E60-4BB2-842C-888C7D3FC00A.png
159  B1   D4  96046781-35C4-4D0C-8F10-3E023B8F663E.png
160  B1   D4  555F11C7-4706-44D4-984D-276B0045348A.png
161  B1   D4  F9CD4506-C345-4292-B389-70443CE0C652.png

[162 rows x 3 columns]

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    B1   A1  36131F69-AE53-43F0-9393-320FE9F7F062.png
1    B1   A1  3E662E98-64FE-4DAE-9C23-6B9B46AFF938.png
2    B1   A1  13BDAEBC-84BE-4B57-BD10-B3BEBEC55479.png
3    B1   A1  73D24887-262D-44DF-BC51-1E2A687A29A0.png
4    B1   A1  59AB53AF-BFB4-4E7C-8C9A-5235F7B20C49.png
..   ..  ...                                       ...
157  B1   D4  D976876E-1549-4006-A5D6-B780C1FB14ED.png
158  B1   D4  E0CAF295-9E60-4BB2-842C-888C7D3FC00A.png
159  B1   D4  96046781-35C4-4D0C-8F10-3E023B8F663E.png
160  B1   D4  555F11C7-4706-44D4-984D-276B0045348A.png
161  B1   D4  F9CD4506-C345-4292-B389-70443CE0C652.png

[162 rows x 3 columns]

In [ ]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img Ref  ... ฉากหลัง                หมายเหตุ
0  36131F69-AE53-43F0-9393-320FE9F7F062.png  B1  ...    สีดำ  Duration 1/145 ISO 131
1  3E662E98-64FE-4DAE-9C23-6B9B46AFF938.png  B1  ...    สีดำ  Duration 1/145 ISO 131
2  13BDAEBC-84BE-4B57-BD10-B3BEBEC55479.png  B1  ...    สีดำ  Duration 1/145 ISO 131

[3 rows x 7 columns]

In [ ]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png'

In [ ]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821] 
S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)
# all_total.append(list_total)

In [ ]:
list_total

[223.87314341368395,
 199.018018018018,
 157.4263452641831,
 235.6770554338122,
 214.7927927927928,
 175.47877607337068]

In [ ]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [ ]:
list_total1

[[227.0039769499229, 226.50491031572113, 206.55531206882557],
 [218.50125801477154, 218.8143819495171, 200.48429510591671],
 [226.88296404512622, 226.28479831182534, 206.8832886940995]]

In [ ]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [ ]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [ ]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [ ]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  41.292671  13.452398  236.083029  34.513919  20.819820  231.698645    Set1
1  34.349241  16.461164  227.957146  29.243893  24.080756  223.185212    Set1
2  40.375132  13.167275  235.450694  32.201282  20.561886  231.564321    Set1

In [ ]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    232.826232  235.225875  222.755458  230.549225  231.258258  212.994887
1    225.319049  227.629819  212.763412  223.055271  222.273598  202.114520
2    232.356546  234.578119  222.297784  231.260612  230.668371  213.078646
3    232.310851  234.612288  221.945621  230.616346  230.228228  212.314828
4    232.525282  234.866975  222.247545  230.687850  230.922003  212.813570
..          ...         ...         ...         ...         ...         ...
157  236.081568  238.323594  225.302248  229.488678  227.176203  185.093905
158  235.078727  237.396315  223.658956  228.726240  226.406785  183.971025
159  235.551660  237.662771  224.915672  229.347374  226.919162  185.291048
160  235.884831  238.038146  225.192355  229.561967  227.157779  185.671780
161  235.977843  238.167925  224.833049  229.223358  226.643373  184.990910

[162 rows x 6 columns]

In [ ]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_1H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set3'
t11

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    39.524876  14.125720  235.403701  34.513919  20.819820  231.698645    Set3
1    34.369207  16.719341  227.629819  29.243893  24.080756  223.185212    Set3
2    38.673322  13.825582  234.718448  32.201282  20.561886  231.564321    Set3
3    38.724130  14.207694  234.740037  32.662040  20.927279  231.071666    Set3
4    39.009496  14.221005  235.019479  33.934908  20.887428  231.546547    Set3
..         ...        ...         ...        ...        ...         ...     ...
157  38.768444  14.447285  238.429429  29.612613  49.749290  229.556448    Set3
158  38.032871  15.175716  237.467089  29.733301  50.321078  228.808214    Set3
159  38.605146  14.174499  237.772827  29.320591  49.392825  229.407921    Set3
160  38.547115  14.266050  238.147391  29.497038  49.164435  229.624462    Set3
161  38.015502  14.721938  238.259151  29.494927  49.641425  229.309553    Set3

[162 rows x 7 columns]

In [ ]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    232.826232  235.225875  ...    A1  36131F69-AE53-43F0-9393-320FE9F7F062.png
1    225.319049  227.629819  ...    A1  3E662E98-64FE-4DAE-9C23-6B9B46AFF938.png
2    232.356546  234.578119  ...    A1  13BDAEBC-84BE-4B57-BD10-B3BEBEC55479.png
3    232.310851  234.612288  ...    A1  73D24887-262D-44DF-BC51-1E2A687A29A0.png
4    232.525282  234.866975  ...    A1  59AB53AF-BFB4-4E7C-8C9A-5235F7B20C49.png
..          ...         ...  ...   ...                                       ...
157  236.081568  238.323594  ...    D4  D976876E-1549-4006-A5D6-B780C1FB14ED.png
158  235.078727  237.396315  ...    D4  E0CAF295-9E60-4BB2-842C-888C7D3FC00A.png
159  235.551660  237.662771  ...    D4  96046781-35C4-4D0C-8F10-3E023B8F663E.png
160  235.884831  238.038146  ...    D4  555F11C7-4706-44D4-984D-276B0045348A.png
161  235.977843  238.167925  ...    D4  F9CD4506-C345-4292-B389-70443CE0C652.png

[162 rows x 16 columns]

#Datapoint 2

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    232.774207  235.170684  222.627384  230.453535  231.144388  212.841896
1    225.283500  227.598896  212.713578  222.980278  222.205097  202.046587
2    232.310608  234.528610  222.175879  231.165571  230.559208  212.926792
3    232.270270  234.566837  221.827693  230.523902  230.120851  212.164597
4    232.474231  234.812515  222.120120  230.595569  230.809756  212.654898
..          ...         ...         ...         ...         ...         ...
157  236.034656  238.274247  225.176284  229.386332  227.066228  184.871114
158  235.035711  237.351919  223.527311  228.635338  226.308822  183.768688
159  235.511647  237.617401  224.797094  229.247788  226.818359  185.062738
160  235.838325  237.988718  225.063388  229.456132  227.047399  185.443795
161  235.932879  238.126126  224.706598  229.129697  226.540459  184.787517

[162 rows x 6 columns]

In [ ]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_2H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set3'
t22

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    39.352893  14.189189  235.343641  34.414252  20.870384  231.590131    Set3
1    34.372048  16.742472  227.598896  29.257771  24.083841  223.113221    Set3
2    38.517977  13.883045  234.660336  32.112897  20.615047  231.459865    Set3
3    38.547034  14.264102  234.685821  32.588994  20.981089  230.969158    Set3
4    38.847983  14.284149  234.959825  33.847171  20.947975  231.441441    Set3
..         ...        ...         ...        ...        ...         ...     ...
157  38.616914  14.515786  238.375619  29.580797  49.894814  229.451506    Set3
158  37.851067  15.241620  237.411411  29.708465  50.458648  228.716257    Set3
159  38.423910  14.233423  237.719584  29.303790  49.549793  229.307686    Set3
160  38.389903  14.340313  238.094148  29.462462  49.312637  229.515624    Set3
161  37.849525  14.795228  238.209967  29.473906  49.777047  229.214593    Set3

[162 rows x 7 columns]

In [ ]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    232.774207  235.170684  ...    A1  36131F69-AE53-43F0-9393-320FE9F7F062.png
1    225.283500  227.598896  ...    A1  3E662E98-64FE-4DAE-9C23-6B9B46AFF938.png
2    232.310608  234.528610  ...    A1  13BDAEBC-84BE-4B57-BD10-B3BEBEC55479.png
3    232.270270  234.566837  ...    A1  73D24887-262D-44DF-BC51-1E2A687A29A0.png
4    232.474231  234.812515  ...    A1  59AB53AF-BFB4-4E7C-8C9A-5235F7B20C49.png
..          ...         ...  ...   ...                                       ...
157  236.034656  238.274247  ...    D4  D976876E-1549-4006-A5D6-B780C1FB14ED.png
158  235.035711  237.351919  ...    D4  E0CAF295-9E60-4BB2-842C-888C7D3FC00A.png
159  235.511647  237.617401  ...    D4  96046781-35C4-4D0C-8F10-3E023B8F663E.png
160  235.838325  237.988718  ...    D4  555F11C7-4706-44D4-984D-276B0045348A.png
161  235.932879  238.126126  ...    D4  F9CD4506-C345-4292-B389-70443CE0C652.png

[162 rows x 16 columns]

#Datapoint 3

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [ ]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    231.722912  234.074832  220.152098  229.045207  229.341774  210.374158
1    224.451019  226.808944  211.819252  221.443227  221.023537  200.971918
2    231.081893  233.240403  219.634039  229.612937  228.853827  210.449882
3    231.087331  233.331548  219.321727  228.977518  228.423342  209.667722
4    231.275627  233.579417  219.539648  229.190407  229.109650  210.176122
..          ...         ...         ...         ...         ...         ...
157  234.943836  237.121743  222.585261  227.648730  225.229040  180.833049
158  233.936856  236.172064  220.980765  226.849363  224.334388  179.398344
159  234.530639  236.535752  222.331791  227.515705  224.980278  180.847090
160  234.798636  236.875335  222.572681  227.749696  225.196900  181.369045
161  234.798231  237.001136  222.133350  227.363607  224.592566  180.607337

[162 rows x 6 columns]

In [ ]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_3H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set3'
t33

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    36.351351  15.398994  234.154208  33.008847  21.804074  229.923302    Set3
1    34.435517  16.920461  226.808944  29.812191  23.918675  221.777859    Set3
2    35.524065  14.936531  233.279685  30.837676  21.561075  229.801315    Set3
3    35.474961  15.342018  233.361902  31.112247  21.918188  229.301437    Set3
4    35.852204  15.428455  233.623407  32.446230  21.969889  229.839786    Set3
..         ...        ...         ...        ...        ...         ...     ...
157  35.539972  15.819171  237.153397  29.235371  52.712118  227.690285    Set3
158  34.949598  16.495333  236.181885  28.999188  53.534048  226.877202    Set3
159  35.130590  15.452561  236.556448  29.059898  52.568866  227.552471    Set3
160  35.499878  15.594432  236.910397  29.050483  52.192923  227.781187    Set3
161  35.127506  16.122149  237.017775  28.988069  52.686876  227.409139    Set3

[162 rows x 7 columns]

In [ ]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    231.722912  234.074832  ...    A1  36131F69-AE53-43F0-9393-320FE9F7F062.png
1    224.451019  226.808944  ...    A1  3E662E98-64FE-4DAE-9C23-6B9B46AFF938.png
2    231.081893  233.240403  ...    A1  13BDAEBC-84BE-4B57-BD10-B3BEBEC55479.png
3    231.087331  233.331548  ...    A1  73D24887-262D-44DF-BC51-1E2A687A29A0.png
4    231.275627  233.579417  ...    A1  59AB53AF-BFB4-4E7C-8C9A-5235F7B20C49.png
..          ...         ...  ...   ...                                       ...
157  234.943836  237.121743  ...    D4  D976876E-1549-4006-A5D6-B780C1FB14ED.png
158  233.936856  236.172064  ...    D4  E0CAF295-9E60-4BB2-842C-888C7D3FC00A.png
159  234.530639  236.535752  ...    D4  96046781-35C4-4D0C-8F10-3E023B8F663E.png
160  234.798636  236.875335  ...    D4  555F11C7-4706-44D4-984D-276B0045348A.png
161  234.798231  237.001136  ...    D4  F9CD4506-C345-4292-B389-70443CE0C652.png

[162 rows x 16 columns]

#Datapoint 4

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    230.695804  233.025079  218.119390  227.142115  226.987095  206.923464
1    223.189433  225.502800  210.927360  219.657333  219.596461  200.188459
2    230.045045  232.197305  217.887996  227.530476  226.709683  207.233260
3    230.095447  232.383735  217.638828  226.956172  226.377242  206.519520
4    230.229446  232.578200  217.646214  227.186917  226.869085  206.766090
..          ...         ...         ...         ...         ...         ...
157  233.948868  236.146822  220.654898  225.392825  222.719422  175.942943
158  233.064524  235.305495  219.371723  224.744907  222.039526  175.118903
159  233.708952  235.606282  220.547764  225.299489  222.506696  176.104456
160  233.853421  235.907069  220.681438  225.487460  222.672105  176.391932
161  233.877851  236.097882  220.431621  225.182128  222.201526  176.152179

[162 rows x 6 columns]

In [ ]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_4H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set3'
t44

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    34.407516  16.280984  233.025079  30.035062  23.122717  227.677786    Set3
1    34.543625  16.518140  225.502800  30.347699  23.102589  220.170603    Set3
2    34.264183  15.638909  232.197305  28.935557  22.749696  227.644104    Set3
3    34.408246  16.109813  232.383735  29.370830  23.116792  227.224251    Set3
4    34.453291  16.308335  232.578200  29.851473  23.273598  227.620810    Set3
..         ...        ...         ...        ...        ...         ...     ...
157  34.069637  16.786706  236.146822  28.533398  55.935233  225.392825    Set3
158  34.053567  17.314666  235.305495  28.548170  56.284879  224.744907    Set3
159  33.672916  16.350134  235.606282  28.450126  55.677055  225.299489    Set3
160  33.898466  16.527555  235.907394  28.439494  55.516435  225.487460    Set3
161  34.062170  16.981414  236.097882  28.338852  55.514812  225.182128    Set3

[162 rows x 7 columns]

In [ ]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    230.695804  233.025079  ...    A1  36131F69-AE53-43F0-9393-320FE9F7F062.png
1    223.189433  225.502800  ...    A1  3E662E98-64FE-4DAE-9C23-6B9B46AFF938.png
2    230.045045  232.197305  ...    A1  13BDAEBC-84BE-4B57-BD10-B3BEBEC55479.png
3    230.095447  232.383735  ...    A1  73D24887-262D-44DF-BC51-1E2A687A29A0.png
4    230.229446  232.578200  ...    A1  59AB53AF-BFB4-4E7C-8C9A-5235F7B20C49.png
..          ...         ...  ...   ...                                       ...
157  233.948868  236.146822  ...    D4  D976876E-1549-4006-A5D6-B780C1FB14ED.png
158  233.064524  235.305495  ...    D4  E0CAF295-9E60-4BB2-842C-888C7D3FC00A.png
159  233.708952  235.606282  ...    D4  96046781-35C4-4D0C-8F10-3E023B8F663E.png
160  233.853421  235.907069  ...    D4  555F11C7-4706-44D4-984D-276B0045348A.png
161  233.877851  236.097882  ...    D4  F9CD4506-C345-4292-B389-70443CE0C652.png

[162 rows x 16 columns]

#Datapoint 5

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    229.768282  232.147309  216.983605  225.903173  225.446636  205.532587
1    221.667154  223.979628  210.467251  217.543462  217.895625  199.724048
2    228.977518  231.128480  216.732652  225.860969  225.286340  205.931418
3    229.051863  231.388686  216.448503  225.213781  224.985147  205.205909
4    229.206964  231.570165  216.551010  225.706030  225.470579  205.446392
..          ...         ...         ...         ...         ...         ...
157  232.928983  235.055515  219.335362  223.915023  221.088710  174.507589
158  232.053892  234.226848  218.166951  223.231150  220.395585  173.761464
159  232.895950  234.658063  219.329275  223.806753  220.862105  174.454103
160  232.847821  234.868193  219.387874  223.949274  221.011119  174.845467
161  232.788248  235.005357  219.093337  223.622109  220.572031  174.726321

[162 rows x 6 columns]

In [ ]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_5H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set3'
t55

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    34.383573  16.650921  232.147309  29.580959  23.235208  226.236507    Set3
1    35.189838  15.393556  223.979628  31.068744  21.625436  218.296080    Set3
2    34.213376  15.843357  231.128480  29.281633  22.665693  226.121094    Set3
3    34.406785  16.416443  231.388686  29.900333  23.029218  225.685415    Set3
4    34.433325  16.510024  231.570165  29.978330  23.289181  226.177664    Set3
..         ...        ...         ...        ...        ...         ...     ...
157  33.862998  17.116387  235.055515  28.463355  56.241295  223.915023    Set3
158  33.887834  17.537700  234.226848  28.476098  56.470903  223.231150    Set3
159  33.362876  16.733139  234.658063  28.388929  56.211509  223.806753    Set3
160  33.756919  16.883045  234.868517  28.371967  55.893921  223.949274    Set3
161  33.972080  17.330330  235.005357  28.306306  55.750670  223.622109    Set3

[162 rows x 7 columns]

In [ ]:
dp5= pd.concat([t5,t55,table1], axis=1)
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    229.768282  232.147309  ...    A1  36131F69-AE53-43F0-9393-320FE9F7F062.png
1    221.667154  223.979628  ...    A1  3E662E98-64FE-4DAE-9C23-6B9B46AFF938.png
2    228.977518  231.128480  ...    A1  13BDAEBC-84BE-4B57-BD10-B3BEBEC55479.png
3    229.051863  231.388686  ...    A1  73D24887-262D-44DF-BC51-1E2A687A29A0.png
4    229.206964  231.570165  ...    A1  59AB53AF-BFB4-4E7C-8C9A-5235F7B20C49.png
..          ...         ...  ...   ...                                       ...
157  232.928983  235.055515  ...    D4  D976876E-1549-4006-A5D6-B780C1FB14ED.png
158  232.053892  234.226848  ...    D4  E0CAF295-9E60-4BB2-842C-888C7D3FC00A.png
159  232.895950  234.658063  ...    D4  96046781-35C4-4D0C-8F10-3E023B8F663E.png
160  232.847821  234.868193  ...    D4  555F11C7-4706-44D4-984D-276B0045348A.png
161  232.788248  235.005357  ...    D4  F9CD4506-C345-4292-B389-70443CE0C652.png

[162 rows x 16 columns]

In [ ]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    232.826232  235.225875  ...    A1  36131F69-AE53-43F0-9393-320FE9F7F062.png
1    225.319049  227.629819  ...    A1  3E662E98-64FE-4DAE-9C23-6B9B46AFF938.png
2    232.356546  234.578119  ...    A1  13BDAEBC-84BE-4B57-BD10-B3BEBEC55479.png
3    232.310851  234.612288  ...    A1  73D24887-262D-44DF-BC51-1E2A687A29A0.png
4    232.525282  234.866975  ...    A1  59AB53AF-BFB4-4E7C-8C9A-5235F7B20C49.png
..          ...         ...  ...   ...                                       ...
157  232.928983  235.055515  ...    D4  D976876E-1549-4006-A5D6-B780C1FB14ED.png
158  232.053892  234.226848  ...    D4  E0CAF295-9E60-4BB2-842C-888C7D3FC00A.png
159  232.895950  234.658063  ...    D4  96046781-35C4-4D0C-8F10-3E023B8F663E.png
160  232.847821  234.868193  ...    D4  555F11C7-4706-44D4-984D-276B0045348A.png
161  232.788248  235.005357  ...    D4  F9CD4506-C345-4292-B389-70443CE0C652.png

[810 rows x 16 columns]

In [ ]:
st1.to_csv('B1.5_3.csv', index=False)