<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newC3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 import pandas as pd
 import numpy as np

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/My Drive/shadeimg'

In [ ]:
import os

In [ ]:
os.listdir(path)

['9-10 7 2021',
 'รูปฟัน07',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'FAF5097E-1FEB-41DF-92C9-C190A88FE15F.png',
 'CD25F822-5A97-4F4A-8667-90D9F5C9CC62.png',
 'B772B836-0F38-44D5-959C-675C592375FE.png',
 '1665B5AE-934F-4116-AE19-3369544A125F.png',
 'Color-checkerDD .xlsx',
 'Color-checkerAA1.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 '44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png',
 '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png',
 '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png']

In [ ]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 3.7 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.28-py2.py3-none-any.whl (14 kB)
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 4.6 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 33.6 MB/s
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.28 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [ ]:
from azure.storage.blob import BlockBlobService
import os

In [ ]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [ ]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [ ]:
AA = os.path.join(path,'CC1.xlsx')

In [ ]:
A1_set1= pd.read_excel(AA, sheet_name='C4Set3')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                หมายเหตุ
0    1BDD234B-AF82-462E-AE9C-B9F424AF15CA.png  ...  Duration 1/145 ISO 131
1    96AC2C34-161B-42E9-ADF7-84C2FB33D103.png  ...  Duration 1/145 ISO 131
2    2B37D6CB-6E6B-4042-96AA-3A2B5FB871AC.png  ...  Duration 1/145 ISO 131
3    130DCFB5-7AE9-49BB-A881-5A08A0ED63F8.png  ...  Duration 1/145 ISO 131
4    B02AE283-B3E2-401F-AEE9-DC33E0828C79.png  ...  Duration 1/145 ISO 131
..                                        ...  ...                     ...
157  7B938C27-143A-41F3-8CD4-3B1A7811DAE5.png  ...  Duration 1/145 ISO 131
158  F84461D2-3F57-4527-A7A3-FCF3224E943C.png  ...  Duration 1/145 ISO 131
159  0D829865-0701-41AA-99FB-736890EFB2D0.png  ...  Duration 1/145 ISO 131
160  3C267620-62E4-420F-AE2D-69842813C9CA.png  ...  Duration 1/145 ISO 131
161  9546E1CB-94EA-4143-8BAF-5C90CF4FCA73.png  ...  Duration 1/145 ISO 131

[162 rows x 7 columns]

In [ ]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [ ]:
A1_set1

                                          Img  ...                หมายเหตุ
0    1BDD234B-AF82-462E-AE9C-B9F424AF15CA.png  ...  Duration 1/145 ISO 131
1    96AC2C34-161B-42E9-ADF7-84C2FB33D103.png  ...  Duration 1/145 ISO 131
2    2B37D6CB-6E6B-4042-96AA-3A2B5FB871AC.png  ...  Duration 1/145 ISO 131
3    130DCFB5-7AE9-49BB-A881-5A08A0ED63F8.png  ...  Duration 1/145 ISO 131
4    B02AE283-B3E2-401F-AEE9-DC33E0828C79.png  ...  Duration 1/145 ISO 131
..                                        ...  ...                     ...
157  7B938C27-143A-41F3-8CD4-3B1A7811DAE5.png  ...  Duration 1/145 ISO 131
158  F84461D2-3F57-4527-A7A3-FCF3224E943C.png  ...  Duration 1/145 ISO 131
159  0D829865-0701-41AA-99FB-736890EFB2D0.png  ...  Duration 1/145 ISO 131
160  3C267620-62E4-420F-AE2D-69842813C9CA.png  ...  Duration 1/145 ISO 131
161  9546E1CB-94EA-4143-8BAF-5C90CF4FCA73.png  ...  Duration 1/145 ISO 131

[162 rows x 7 columns]

In [ ]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    C4   A1  1BDD234B-AF82-462E-AE9C-B9F424AF15CA.png
1    C4   A1  96AC2C34-161B-42E9-ADF7-84C2FB33D103.png
2    C4   A1  2B37D6CB-6E6B-4042-96AA-3A2B5FB871AC.png
3    C4   A1  130DCFB5-7AE9-49BB-A881-5A08A0ED63F8.png
4    C4   A1  B02AE283-B3E2-401F-AEE9-DC33E0828C79.png
..   ..  ...                                       ...
157  C4   D4  7B938C27-143A-41F3-8CD4-3B1A7811DAE5.png
158  C4   D4  F84461D2-3F57-4527-A7A3-FCF3224E943C.png
159  C4   D4  0D829865-0701-41AA-99FB-736890EFB2D0.png
160  C4   D4  3C267620-62E4-420F-AE2D-69842813C9CA.png
161  C4   D4  9546E1CB-94EA-4143-8BAF-5C90CF4FCA73.png

[162 rows x 3 columns]

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    C4   A1  1BDD234B-AF82-462E-AE9C-B9F424AF15CA.png
1    C4   A1  96AC2C34-161B-42E9-ADF7-84C2FB33D103.png
2    C4   A1  2B37D6CB-6E6B-4042-96AA-3A2B5FB871AC.png
3    C4   A1  130DCFB5-7AE9-49BB-A881-5A08A0ED63F8.png
4    C4   A1  B02AE283-B3E2-401F-AEE9-DC33E0828C79.png
..   ..  ...                                       ...
157  C4   D4  7B938C27-143A-41F3-8CD4-3B1A7811DAE5.png
158  C4   D4  F84461D2-3F57-4527-A7A3-FCF3224E943C.png
159  C4   D4  0D829865-0701-41AA-99FB-736890EFB2D0.png
160  C4   D4  3C267620-62E4-420F-AE2D-69842813C9CA.png
161  C4   D4  9546E1CB-94EA-4143-8BAF-5C90CF4FCA73.png

[162 rows x 3 columns]

In [ ]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img Ref  ... ฉากหลัง                หมายเหตุ
0  1BDD234B-AF82-462E-AE9C-B9F424AF15CA.png  C4  ...    สีดำ  Duration 1/145 ISO 131
1  96AC2C34-161B-42E9-ADF7-84C2FB33D103.png  C4  ...    สีดำ  Duration 1/145 ISO 131
2  2B37D6CB-6E6B-4042-96AA-3A2B5FB871AC.png  C4  ...    สีดำ  Duration 1/145 ISO 131

[3 rows x 7 columns]

In [ ]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png'

In [ ]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821] 
S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)
# all_total.append(list_total)

In [ ]:
list_total

[223.87314341368395,
 199.018018018018,
 157.4263452641831,
 235.6770554338122,
 214.7927927927928,
 175.47877607337068]

In [ ]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [ ]:
list_total1

[[225.86940995049102, 227.47082217352488, 206.61626491356222],
 [226.16678841003164, 227.09982955928902, 207.06939371804236],
 [225.9461894326759, 227.62007953899845, 207.11460108757407]]

In [ ]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [ ]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [ ]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [ ]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  27.905852  59.694018  224.388524  34.468874  21.533966  230.929795    Set1
1  27.411493  59.486162  224.524876  33.232286  21.096421  230.753835    Set1
2  27.573492  59.073290  224.523009  34.479344  21.418229  231.143170    Set1

In [ ]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    223.653194  218.266212  170.170522  229.192273  230.856424  211.489246
1    223.801153  217.838812  170.575440  229.542407  230.436004  211.713822
2    223.811704  218.155426  170.760166  229.387631  231.092281  211.781024
3    224.080188  218.291048  171.307443  229.851635  231.511484  212.285285
4    225.015502  219.103644  172.707654  230.933690  232.079620  213.598003
..          ...         ...         ...         ...         ...         ...
157  228.798150  223.521711  178.407110  231.025647  229.075562  188.554013
158  229.507426  223.806996  179.138950  231.374401  229.711062  189.180992
159  228.723237  223.482023  178.077835  230.765035  229.003815  188.457268
160  230.142764  225.079864  180.026053  232.559451  230.974596  190.608555
161  229.421881  224.356952  179.177826  231.338365  229.841490  188.991153

[162 rows x 6 columns]

In [ ]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_1H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set3'
t11

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    27.817710  61.291616  223.691259  34.468874  21.533966  230.929795    Set3
1    27.317831  60.943024  223.830290  33.232286  21.096421  230.753835    Set3
2    27.505965  60.743203  223.841247  34.479344  21.418229  231.143170    Set3
3    27.451181  60.379758  224.122068  34.474150  21.356952  231.587615    Set3
4    27.314098  59.597111  225.054785  33.649460  20.631280  232.264670    Set3
..         ...        ...         ...        ...        ...         ...     ...
157  28.117198  56.568055  228.863485  30.944242  47.474556  231.221898    Set3
158  27.931174  56.329843  229.570002  31.106891  47.106647  231.574142    Set3
159  28.164841  56.882964  228.797581  31.188865  47.352488  230.964694    Set3
160  28.402971  55.940021  230.222303  31.118253  46.581852  232.763656    Set3
161  28.287071  56.237481  229.494603  31.370100  47.336093  231.579417    Set3

[162 rows x 7 columns]

In [ ]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    223.653194  218.266212  ...    A1  1BDD234B-AF82-462E-AE9C-B9F424AF15CA.png
1    223.801153  217.838812  ...    A1  96AC2C34-161B-42E9-ADF7-84C2FB33D103.png
2    223.811704  218.155426  ...    A1  2B37D6CB-6E6B-4042-96AA-3A2B5FB871AC.png
3    224.080188  218.291048  ...    A1  130DCFB5-7AE9-49BB-A881-5A08A0ED63F8.png
4    225.015502  219.103644  ...    A1  B02AE283-B3E2-401F-AEE9-DC33E0828C79.png
..          ...         ...  ...   ...                                       ...
157  228.798150  223.521711  ...    D4  7B938C27-143A-41F3-8CD4-3B1A7811DAE5.png
158  229.507426  223.806996  ...    D4  F84461D2-3F57-4527-A7A3-FCF3224E943C.png
159  228.723237  223.482023  ...    D4  0D829865-0701-41AA-99FB-736890EFB2D0.png
160  230.142764  225.079864  ...    D4  3C267620-62E4-420F-AE2D-69842813C9CA.png
161  229.421881  224.356952  ...    D4  9546E1CB-94EA-4143-8BAF-5C90CF4FCA73.png

[162 rows x 16 columns]

#Datapoint 2

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    223.590780  218.180261  170.007467  229.123448  230.787274  211.391689
1    223.742553  217.760409  170.419771  229.480480  230.365961  211.634608
2    223.757650  218.078809  170.601656  229.318805  231.025972  211.692720
3    224.018667  218.207126  171.141953  229.774937  231.432676  212.182777
4    224.951303  219.018018  172.544112  230.860076  231.997240  213.479507
..          ...         ...         ...         ...         ...         ...
157  228.724211  223.427887  178.236263  230.959257  229.002678  188.351676
158  229.431053  223.709601  178.954224  231.304115  229.637854  188.976869
159  228.654817  223.387793  177.889132  230.700268  228.933366  188.256310
160  230.061764  224.983524  179.821605  232.483646  230.891080  190.385926
161  229.354517  224.269053  178.990829  231.263128  229.759192  188.778752

[162 rows x 6 columns]

In [ ]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_2H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set3'
t22

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    27.808295  61.424722  223.628845  34.464248  21.570165  230.862105    Set3
1    27.308417  61.069394  223.771691  33.221086  21.112572  230.686146    Set3
2    27.495982  60.876715  223.787193  34.480886  21.444363  231.076130    Set3
3    27.441928  60.514569  224.060547  34.465060  21.388037  231.509374    Set3
4    27.302167  59.726808  224.990585  33.622596  20.677218  232.186349    Set3
..         ...        ...         ...        ...        ...         ...     ...
157  28.110705  56.694668  228.789546  30.938723  47.634202  231.153965    Set3
158  27.924844  56.470011  229.493629  31.105511  47.265888  231.501826    Set3
159  28.155182  57.035630  228.729162  31.184157  47.514325  230.898385    Set3
160  28.402402  56.096421  230.141303  31.111355  46.754647  232.685740    Set3
161  28.280091  56.387306  229.427238  31.360117  47.498580  231.500771    Set3

[162 rows x 7 columns]

In [ ]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    223.590780  218.180261  ...    A1  1BDD234B-AF82-462E-AE9C-B9F424AF15CA.png
1    223.742553  217.760409  ...    A1  96AC2C34-161B-42E9-ADF7-84C2FB33D103.png
2    223.757650  218.078809  ...    A1  2B37D6CB-6E6B-4042-96AA-3A2B5FB871AC.png
3    224.018667  218.207126  ...    A1  130DCFB5-7AE9-49BB-A881-5A08A0ED63F8.png
4    224.951303  219.018018  ...    A1  B02AE283-B3E2-401F-AEE9-DC33E0828C79.png
..          ...         ...  ...   ...                                       ...
157  228.724211  223.427887  ...    D4  7B938C27-143A-41F3-8CD4-3B1A7811DAE5.png
158  229.431053  223.709601  ...    D4  F84461D2-3F57-4527-A7A3-FCF3224E943C.png
159  228.654817  223.387793  ...    D4  0D829865-0701-41AA-99FB-736890EFB2D0.png
160  230.061764  224.983524  ...    D4  3C267620-62E4-420F-AE2D-69842813C9CA.png
161  229.354517  224.269053  ...    D4  9546E1CB-94EA-4143-8BAF-5C90CF4FCA73.png

[162 rows x 16 columns]

#Datapoint 3

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [ ]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    222.034900  216.099911  165.594432  227.888564  229.541758  209.627952
1    222.123285  215.746936  165.931337  228.243974  229.137976  209.848389
2    222.322376  216.092931  166.203555  228.101777  229.818034  210.058924
3    222.432270  216.169304  166.690041  228.604009  230.250791  210.635825
4    223.465222  217.068582  168.358088  229.762113  230.862430  211.896762
..          ...         ...         ...         ...         ...         ...
157  227.106728  221.262479  173.720802  229.269134  227.019804  183.229933
158  227.785975  221.471634  174.394611  229.577307  227.654979  183.617888
159  227.039120  221.214836  173.185618  228.960636  226.919731  182.918351
160  228.440386  222.952033  175.375862  230.845548  228.973298  185.279442
161  227.768931  222.187809  174.489003  229.611963  227.841652  183.691827

[162 rows x 6 columns]

In [ ]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_3H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set3'
t33

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    27.188215  64.954062  222.047155  34.042286  22.211590  229.626329    Set3
1    26.703190  64.594838  222.127181  32.690528  21.767389  229.449963    Set3
2    26.883857  64.476909  222.328139  34.142115  21.972567  229.862187    Set3
3    26.978654  64.052755  222.452155  34.267024  21.870384  230.335444    Set3
4    26.901307  63.066553  223.490707  33.459459  21.260044  231.093093    Set3
..         ...        ...         ...        ...        ...         ...     ...
157  27.474312  60.189757  227.144306  29.309147  51.444931  229.333171    Set3
158  27.274328  59.973947  227.816736  29.486162  51.280091  229.634202    Set3
159  27.486649  60.741174  227.081000  29.531856  51.509942  229.019235    Set3
160  27.950004  59.530801  228.496307  29.892217  50.629251  230.935882    Set3
161  27.710088  59.894570  227.814544  29.799205  51.297622  229.694830    Set3

[162 rows x 7 columns]

In [ ]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    222.034900  216.099911  ...    A1  1BDD234B-AF82-462E-AE9C-B9F424AF15CA.png
1    222.123285  215.746936  ...    A1  96AC2C34-161B-42E9-ADF7-84C2FB33D103.png
2    222.322376  216.092931  ...    A1  2B37D6CB-6E6B-4042-96AA-3A2B5FB871AC.png
3    222.432270  216.169304  ...    A1  130DCFB5-7AE9-49BB-A881-5A08A0ED63F8.png
4    223.465222  217.068582  ...    A1  B02AE283-B3E2-401F-AEE9-DC33E0828C79.png
..          ...         ...  ...   ...                                       ...
157  227.106728  221.262479  ...    D4  7B938C27-143A-41F3-8CD4-3B1A7811DAE5.png
158  227.785975  221.471634  ...    D4  F84461D2-3F57-4527-A7A3-FCF3224E943C.png
159  227.039120  221.214836  ...    D4  0D829865-0701-41AA-99FB-736890EFB2D0.png
160  228.440386  222.952033  ...    D4  3C267620-62E4-420F-AE2D-69842813C9CA.png
161  227.768931  222.187809  ...    D4  9546E1CB-94EA-4143-8BAF-5C90CF4FCA73.png

[162 rows x 16 columns]

#Datapoint 4

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    220.565701  214.229121  162.116549  226.150231  227.817223  206.989692
1    220.622677  214.045370  162.580635  226.537051  227.473744  207.457593
2    220.903742  214.243487  162.688986  226.327408  228.042448  207.473744
3    220.908611  214.243893  162.855125  226.822092  228.441766  207.842058
4    222.021751  215.225144  164.451830  227.940752  228.932960  209.069800
..          ...         ...         ...         ...         ...         ...
157  225.306631  218.964126  168.851067  227.460433  224.981170  178.992452
158  225.969483  219.162893  169.582014  227.804724  225.688905  179.326759
159  225.304683  218.956010  168.417580  227.181560  224.943430  178.758542
160  226.435922  220.531775  169.988313  229.000893  226.890512  180.524470
161  225.936937  219.794173  169.354760  227.755296  225.750913  179.183670

[162 rows x 6 columns]

In [ ]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_4H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set3'
t44

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    26.835078  67.597029  220.565701  32.594919  23.242513  227.890918    Set3
1    26.558964  67.080513  220.622677  31.585829  22.587696  227.754403    Set3
2    26.515137  67.203636  220.903742  32.692314  22.870952  228.065173    Set3
3    26.523172  67.013554  220.908611  32.553121  22.927766  228.508319    Set3
4    26.354436  66.132051  222.021751  31.724860  22.260612  229.173363    Set3
..         ...        ...         ...        ...        ...         ...     ...
157  26.695479  63.913968  225.306631  28.461651  54.346563  227.460433    Set3
158  26.491762  63.629494  225.969483  28.686551  54.271731  227.804724    Set3
159  26.666261  64.411411  225.304683  28.628196  54.350864  227.181560    Set3
160  27.071829  63.588426  226.435922  28.731353  53.972243  229.000893    Set3
161  26.801071  63.845467  225.936937  28.749858  54.383167  227.755296    Set3

[162 rows x 7 columns]

In [ ]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    220.565701  214.229121  ...    A1  1BDD234B-AF82-462E-AE9C-B9F424AF15CA.png
1    220.622677  214.045370  ...    A1  96AC2C34-161B-42E9-ADF7-84C2FB33D103.png
2    220.903742  214.243487  ...    A1  2B37D6CB-6E6B-4042-96AA-3A2B5FB871AC.png
3    220.908611  214.243893  ...    A1  130DCFB5-7AE9-49BB-A881-5A08A0ED63F8.png
4    222.021751  215.225144  ...    A1  B02AE283-B3E2-401F-AEE9-DC33E0828C79.png
..          ...         ...  ...   ...                                       ...
157  225.306631  218.964126  ...    D4  7B938C27-143A-41F3-8CD4-3B1A7811DAE5.png
158  225.969483  219.162893  ...    D4  F84461D2-3F57-4527-A7A3-FCF3224E943C.png
159  225.304683  218.956010  ...    D4  0D829865-0701-41AA-99FB-736890EFB2D0.png
160  226.435922  220.531775  ...    D4  3C267620-62E4-420F-AE2D-69842813C9CA.png
161  225.936937  219.794173  ...    D4  9546E1CB-94EA-4143-8BAF-5C90CF4FCA73.png

[162 rows x 16 columns]

#Datapoint 5

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    219.033520  212.636231  160.578281  224.982144  226.670644  205.838893
1    219.157292  212.590861  161.086032  225.260206  226.277007  206.292996
2    219.490950  212.766740  161.139843  225.097151  226.841490  206.350459
3    219.509455  212.737197  160.936775  225.624787  227.257365  206.638828
4    220.598085  213.751644  162.536969  226.673809  227.662771  207.939209
..          ...         ...         ...         ...         ...         ...
157  223.760003  217.376512  166.706598  225.989530  223.466845  177.295512
158  224.388686  217.514406  167.560993  226.390309  224.082055  177.440630
159  223.816573  217.370424  166.315965  225.775505  223.471066  176.951221
160  224.883613  218.800097  167.576090  227.575521  225.218570  178.579661
161  224.373752  218.086113  167.164922  226.373103  224.205584  177.333171

[162 rows x 6 columns]

In [ ]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_5H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set3'
t55

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    26.802695  68.063550  219.033520  32.618050  23.403539  226.742716    Set3
1    26.570895  67.548819  219.157292  31.735411  22.672916  226.517409    Set3
2    26.486568  67.780131  219.490950  32.736223  22.919649  226.849606    Set3
3    26.446149  68.040175  219.509455  32.566675  23.104375  227.323269    Set3
4    26.344128  67.114682  220.598085  31.733463  22.187566  227.885967    Set3
..         ...        ...         ...        ...        ...         ...     ...
157  26.694749  65.020615  223.760003  28.449395  54.926873  225.989530    Set3
158  26.471471  64.566999  224.388686  28.596786  55.133512  226.390309    Set3
159  26.628520  65.515056  223.816573  28.590699  55.116874  225.775505    Set3
160  26.990829  64.992371  224.883613  28.593215  54.880205  227.575521    Set3
161  26.726970  64.997322  224.373752  28.700349  55.224089  226.373103    Set3

[162 rows x 7 columns]

In [ ]:
dp5= pd.concat([t5,t55,table1], axis=1)
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    219.033520  212.636231  ...    A1  1BDD234B-AF82-462E-AE9C-B9F424AF15CA.png
1    219.157292  212.590861  ...    A1  96AC2C34-161B-42E9-ADF7-84C2FB33D103.png
2    219.490950  212.766740  ...    A1  2B37D6CB-6E6B-4042-96AA-3A2B5FB871AC.png
3    219.509455  212.737197  ...    A1  130DCFB5-7AE9-49BB-A881-5A08A0ED63F8.png
4    220.598085  213.751644  ...    A1  B02AE283-B3E2-401F-AEE9-DC33E0828C79.png
..          ...         ...  ...   ...                                       ...
157  223.760003  217.376512  ...    D4  7B938C27-143A-41F3-8CD4-3B1A7811DAE5.png
158  224.388686  217.514406  ...    D4  F84461D2-3F57-4527-A7A3-FCF3224E943C.png
159  223.816573  217.370424  ...    D4  0D829865-0701-41AA-99FB-736890EFB2D0.png
160  224.883613  218.800097  ...    D4  3C267620-62E4-420F-AE2D-69842813C9CA.png
161  224.373752  218.086113  ...    D4  9546E1CB-94EA-4143-8BAF-5C90CF4FCA73.png

[162 rows x 16 columns]

In [ ]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    223.653194  218.266212  ...    A1  1BDD234B-AF82-462E-AE9C-B9F424AF15CA.png
1    223.801153  217.838812  ...    A1  96AC2C34-161B-42E9-ADF7-84C2FB33D103.png
2    223.811704  218.155426  ...    A1  2B37D6CB-6E6B-4042-96AA-3A2B5FB871AC.png
3    224.080188  218.291048  ...    A1  130DCFB5-7AE9-49BB-A881-5A08A0ED63F8.png
4    225.015502  219.103644  ...    A1  B02AE283-B3E2-401F-AEE9-DC33E0828C79.png
..          ...         ...  ...   ...                                       ...
157  223.760003  217.376512  ...    D4  7B938C27-143A-41F3-8CD4-3B1A7811DAE5.png
158  224.388686  217.514406  ...    D4  F84461D2-3F57-4527-A7A3-FCF3224E943C.png
159  223.816573  217.370424  ...    D4  0D829865-0701-41AA-99FB-736890EFB2D0.png
160  224.883613  218.800097  ...    D4  3C267620-62E4-420F-AE2D-69842813C9CA.png
161  224.373752  218.086113  ...    D4  9546E1CB-94EA-4143-8BAF-5C90CF4FCA73.png

[810 rows x 16 columns]

In [ ]:
st1.to_csv('C4_3.csv', index=False)