<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newD1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 import pandas as pd
 import numpy as np

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/My Drive/shadeimg'

In [ ]:
import os

In [ ]:
os.listdir(path)

['รูปฟัน07',
 '9-10 7 2021',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'FAF5097E-1FEB-41DF-92C9-C190A88FE15F.png',
 'CD25F822-5A97-4F4A-8667-90D9F5C9CC62.png',
 'B772B836-0F38-44D5-959C-675C592375FE.png',
 '1665B5AE-934F-4116-AE19-3369544A125F.png',
 'Color-checkerDD .xlsx',
 'Color-checkerAA1.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 '44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png',
 '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png',
 '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png']

In [ ]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 5.9 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.28-py2.py3-none-any.whl (14 kB)
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 4.4 MB/s
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 50.6 MB/s
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.28 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [ ]:
from azure.storage.blob import BlockBlobService
import os

In [ ]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [ ]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [ ]:
AA = os.path.join(path,'DD1.xlsx')

In [ ]:
A1_set1= pd.read_excel(AA, sheet_name='D4Set1')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                   หมายเหตุ
0    D47BC759-4BF1-40D8-9D68-52766A1B3358.png  ...  ค่า duration 1/90 ISO 171
1    63D0E875-9DA6-4483-BB03-E54DC1E8BC87.png  ...  ค่า duration 1/90 ISO 171
2    779692A7-DE00-4434-843B-AEB78B8B0AF8.png  ...  ค่า duration 1/90 ISO 171
3    18456DEB-40B5-49F7-B753-562994BE1B43.png  ...  ค่า duration 1/90 ISO 171
4    72376331-D805-4BAC-AE50-7A04A6729880.png  ...  ค่า duration 1/90 ISO 171
..                                        ...  ...                        ...
156  E18A5563-1EE7-4C9D-8C30-EC06B9B7ECED.png  ...  ค่า duration 1/90 ISO 171
157  9DAF63DD-77B8-41EE-AC9A-3155C3202802.png  ...  ค่า duration 1/90 ISO 171
158  1EDB17DD-0247-445C-AB58-70F78A2192DF.png  ...  ค่า duration 1/90 ISO 171
159  91865ED4-C0E7-4757-B633-D8FAD13115C2.png  ...  ค่า duration 1/90 ISO 171
160  633965D6-D378-4AED-9DC0-51A5DAEFA6B9.png  ...  ค่า duration 1/90 ISO 171

[161 rows x 7 columns]

In [ ]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [ ]:
A1_set1

                                          Img  ...                   หมายเหตุ
0    D47BC759-4BF1-40D8-9D68-52766A1B3358.png  ...  ค่า duration 1/90 ISO 171
1    63D0E875-9DA6-4483-BB03-E54DC1E8BC87.png  ...  ค่า duration 1/90 ISO 171
2    779692A7-DE00-4434-843B-AEB78B8B0AF8.png  ...  ค่า duration 1/90 ISO 171
3    18456DEB-40B5-49F7-B753-562994BE1B43.png  ...  ค่า duration 1/90 ISO 171
4    72376331-D805-4BAC-AE50-7A04A6729880.png  ...  ค่า duration 1/90 ISO 171
..                                        ...  ...                        ...
156  E18A5563-1EE7-4C9D-8C30-EC06B9B7ECED.png  ...  ค่า duration 1/90 ISO 171
157  9DAF63DD-77B8-41EE-AC9A-3155C3202802.png  ...  ค่า duration 1/90 ISO 171
158  1EDB17DD-0247-445C-AB58-70F78A2192DF.png  ...  ค่า duration 1/90 ISO 171
159  91865ED4-C0E7-4757-B633-D8FAD13115C2.png  ...  ค่า duration 1/90 ISO 171
160  633965D6-D378-4AED-9DC0-51A5DAEFA6B9.png  ...  ค่า duration 1/90 ISO 171

[161 rows x 7 columns]

In [ ]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    D4   A1  D47BC759-4BF1-40D8-9D68-52766A1B3358.png
1    D4   A1  63D0E875-9DA6-4483-BB03-E54DC1E8BC87.png
2    D4   A1  779692A7-DE00-4434-843B-AEB78B8B0AF8.png
3    D4   A1  18456DEB-40B5-49F7-B753-562994BE1B43.png
4    D4   A1  72376331-D805-4BAC-AE50-7A04A6729880.png
..   ..  ...                                       ...
156  D4   D4  E18A5563-1EE7-4C9D-8C30-EC06B9B7ECED.png
157  D4   D4  9DAF63DD-77B8-41EE-AC9A-3155C3202802.png
158  D4   D4  1EDB17DD-0247-445C-AB58-70F78A2192DF.png
159  D4   D4  91865ED4-C0E7-4757-B633-D8FAD13115C2.png
160  D4   D4  633965D6-D378-4AED-9DC0-51A5DAEFA6B9.png

[161 rows x 3 columns]

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    D4   A1  D47BC759-4BF1-40D8-9D68-52766A1B3358.png
1    D4   A1  63D0E875-9DA6-4483-BB03-E54DC1E8BC87.png
2    D4   A1  779692A7-DE00-4434-843B-AEB78B8B0AF8.png
3    D4   A1  18456DEB-40B5-49F7-B753-562994BE1B43.png
4    D4   A1  72376331-D805-4BAC-AE50-7A04A6729880.png
..   ..  ...                                       ...
156  D4   D4  E18A5563-1EE7-4C9D-8C30-EC06B9B7ECED.png
157  D4   D4  9DAF63DD-77B8-41EE-AC9A-3155C3202802.png
158  D4   D4  1EDB17DD-0247-445C-AB58-70F78A2192DF.png
159  D4   D4  91865ED4-C0E7-4757-B633-D8FAD13115C2.png
160  D4   D4  633965D6-D378-4AED-9DC0-51A5DAEFA6B9.png

[161 rows x 3 columns]

In [ ]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img  ...                   หมายเหตุ
0  D47BC759-4BF1-40D8-9D68-52766A1B3358.png  ...  ค่า duration 1/90 ISO 171
1  63D0E875-9DA6-4483-BB03-E54DC1E8BC87.png  ...  ค่า duration 1/90 ISO 171
2  779692A7-DE00-4434-843B-AEB78B8B0AF8.png  ...  ค่า duration 1/90 ISO 171

[3 rows x 7 columns]

In [ ]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png'

In [ ]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821] 
S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)
# all_total.append(list_total)

In [ ]:
list_total

[223.87314341368395,
 199.018018018018,
 157.4263452641831,
 235.6770554338122,
 214.7927927927928,
 175.47877607337068]

In [ ]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [ ]:
list_total1

[[231.04634364093823, 222.3831669507345, 195.89335281227173],
 [237.05210616021427, 227.70513757000242, 199.86843600357113],
 [237.61001542082624, 227.3562210859508, 200.4715526337148]]

In [ ]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [ ]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [ ]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [ ]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  22.069313  65.123610  227.765360  22.217271  38.458648  237.027108    Set1
1  22.318724  63.805454  234.085626  22.487866  37.996754  242.102995    Set1
2  22.153640  63.733626  234.749777  22.006574  37.638341  242.403701    Set1

In [ ]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    227.056245  211.571463  168.959419  237.027108  227.815437  201.336336
1    233.195520  218.202419  174.711468  242.102995  233.097557  206.069962
2    233.881828  218.251035  175.251684  242.403701  232.743771  206.657495
3    234.888483  217.971512  172.875497  242.177908  231.738171  202.928740
4    235.071910  217.812921  173.771285  241.939778  231.022644  203.341531
..          ...         ...         ...         ...         ...         ...
156  230.389822  209.971593  168.222628  234.672186  214.945784  171.955280
157  237.518546  218.418148  176.313286  239.960068  221.387469  179.325055
158  237.873387  218.604334  176.108433  240.221816  221.904391  179.367421
159  237.535346  218.306469  176.551822  240.669589  222.045938  180.493872
160  237.918026  218.996348  177.031734  240.233260  222.110056  180.278224

[161 rows x 6 columns]

In [ ]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_1H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set1'
t11

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    22.046668  65.277169  227.056245  22.217271  38.458648  237.027108    Set1
1    22.280253  63.967535  233.195520  22.487866  37.996754  242.102995    Set1
2    22.110624  63.980683  233.881828  22.006574  37.638341  242.403701    Set1
3    22.057706  67.348186  234.888483  21.964938  41.334713  242.177908    Set1
4    21.915023  66.522604  235.071910  21.506452  40.718611  241.939778    Set1
..         ...        ...         ...        ...        ...         ...     ...
156  19.931418  68.913887  230.389822  20.538998  68.198929  234.672186    Set1
157  20.706274  65.773152  237.518546  21.002922  64.488597  239.960068    Set1
158  20.570976  66.329438  237.873387  21.205016  64.638098  240.221816    Set1
159  20.634689  65.516111  237.535346  20.858372  63.824933  240.669589    Set1
160  20.785813  65.307280  237.918026  21.115656  63.708141  240.233260    Set1

[161 rows x 7 columns]

In [ ]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    227.056245  211.571463  ...    A1  D47BC759-4BF1-40D8-9D68-52766A1B3358.png
1    233.195520  218.202419  ...    A1  63D0E875-9DA6-4483-BB03-E54DC1E8BC87.png
2    233.881828  218.251035  ...    A1  779692A7-DE00-4434-843B-AEB78B8B0AF8.png
3    234.888483  217.971512  ...    A1  18456DEB-40B5-49F7-B753-562994BE1B43.png
4    235.071910  217.812921  ...    A1  72376331-D805-4BAC-AE50-7A04A6729880.png
..          ...         ...  ...   ...                                       ...
156  230.389822  209.971593  ...    D4  E18A5563-1EE7-4C9D-8C30-EC06B9B7ECED.png
157  237.518546  218.418148  ...    D4  9DAF63DD-77B8-41EE-AC9A-3155C3202802.png
158  237.873387  218.604334  ...    D4  1EDB17DD-0247-445C-AB58-70F78A2192DF.png
159  237.535346  218.306469  ...    D4  91865ED4-C0E7-4757-B633-D8FAD13115C2.png
160  237.918026  218.996348  ...    D4  633965D6-D378-4AED-9DC0-51A5DAEFA6B9.png

[161 rows x 16 columns]

#Datapoint 2

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    226.971999  211.485107  168.876552  236.946514  227.749371  201.268891
1    233.106891  218.110056  174.630631  242.028244  233.018180  205.994075
2    233.804561  218.161919  175.171820  242.333658  232.664394  206.586965
3    234.803587  217.886779  172.817304  242.106566  231.666991  202.874767
4    234.980359  217.722831  173.692152  241.866650  230.941482  203.266537
..          ...         ...         ...         ...         ...         ...
156  230.306306  209.887996  168.142359  234.570652  214.836458  171.820631
157  237.413278  218.301031  176.209074  239.881747  221.306469  179.227335
158  237.776236  218.493791  176.018262  240.129535  221.802613  179.254200
159  237.436491  218.203230  176.460515  240.594026  221.967779  180.400860
160  237.817791  218.893353  176.941401  240.171009  222.039688  180.202743

[161 rows x 6 columns]

In [ ]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_2H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set1'
t22

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    22.046587  65.299002  226.971999  22.224901  38.457755  236.946514    Set1
1    22.275302  63.983524  233.106891  22.483402  38.010226  242.028244    Set1
2    22.105592  64.004789  233.804561  21.997159  37.649298  242.333658    Set1
3    22.056327  67.345021  234.803587  21.959825  41.328788  242.106566    Set1
4    21.914374  66.534859  234.980359  21.498985  40.733463  241.866650    Set1
..         ...        ...         ...        ...        ...         ...     ...
156  19.931418  68.935070  230.306306  20.539485  68.263534  234.570652    Set1
157  20.696291  65.802126  237.413278  21.004302  64.532587  239.881747    Set1
158  20.558153  66.349241  237.776236  21.203474  64.685577  240.129535    Set1
159  20.628277  65.535508  237.436491  20.861131  63.866001  240.594026    Set1
160  20.779969  65.325217  237.817791  21.111273  63.739875  240.171009    Set1

[161 rows x 7 columns]

In [ ]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    226.971999  211.485107  ...    A1  D47BC759-4BF1-40D8-9D68-52766A1B3358.png
1    233.106891  218.110056  ...    A1  63D0E875-9DA6-4483-BB03-E54DC1E8BC87.png
2    233.804561  218.161919  ...    A1  779692A7-DE00-4434-843B-AEB78B8B0AF8.png
3    234.803587  217.886779  ...    A1  18456DEB-40B5-49F7-B753-562994BE1B43.png
4    234.980359  217.722831  ...    A1  72376331-D805-4BAC-AE50-7A04A6729880.png
..          ...         ...  ...   ...                                       ...
156  230.306306  209.887996  ...    D4  E18A5563-1EE7-4C9D-8C30-EC06B9B7ECED.png
157  237.413278  218.301031  ...    D4  9DAF63DD-77B8-41EE-AC9A-3155C3202802.png
158  237.776236  218.493791  ...    D4  1EDB17DD-0247-445C-AB58-70F78A2192DF.png
159  237.436491  218.203230  ...    D4  91865ED4-C0E7-4757-B633-D8FAD13115C2.png
160  237.817791  218.893353  ...    D4  633965D6-D378-4AED-9DC0-51A5DAEFA6B9.png

[161 rows x 16 columns]

#Datapoint 3

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [ ]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    225.421232  209.833861  167.298839  235.524146  226.572600  200.152585
1    231.335849  216.319373  172.982875  240.850580  231.785082  205.040338
2    232.120526  216.249899  173.340313  241.237724  231.476341  205.619106
3    232.953251  215.946433  171.061927  240.861537  230.514406  201.998783
4    233.072965  215.833861  171.971593  240.775830  229.747017  202.359468
..          ...         ...         ...         ...         ...         ...
156  228.515786  207.724373  165.855369  232.758461  212.894246  169.637205
157  235.303466  216.012418  174.095690  238.487542  219.700430  177.363526
158  235.723480  216.259638  174.053161  238.532505  220.103157  177.395179
159  235.505316  216.146011  174.510754  238.940102  220.286097  178.297947
160  235.837432  216.762438  174.937992  238.887103  220.582988  178.567243

[161 rows x 6 columns]

In [ ]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_3H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set1'
t33

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    22.043016  65.772583  225.421232  22.372697  38.352893  235.524146    Set1
1    22.226605  64.351433  231.335849  22.391770  37.962341  240.850580    Set1
2    22.040500  64.644266  232.120526  21.851392  37.696372  241.237724    Set1
3    22.014447  67.787436  232.953251  21.934015  41.161026  240.861537    Set1
4    21.907313  66.884831  233.072965  21.349485  40.734275  240.775830    Set1
..         ...        ...         ...        ...        ...         ...     ...
156  19.820063  70.033601  228.515786  20.499716  69.186998  232.758461    Set1
157  20.544031  66.407516  235.303466  20.935314  65.420745  238.487542    Set1
158  20.386251  66.838568  235.723480  21.190569  65.408895  238.532505    Set1
159  20.494684  66.112734  235.505316  20.957146  64.790926  238.940102    Set1
160  20.647675  65.907881  235.837432  21.053729  64.463436  238.887103    Set1

[161 rows x 7 columns]

In [ ]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    225.421232  209.833861  ...    A1  D47BC759-4BF1-40D8-9D68-52766A1B3358.png
1    231.335849  216.319373  ...    A1  63D0E875-9DA6-4483-BB03-E54DC1E8BC87.png
2    232.120526  216.249899  ...    A1  779692A7-DE00-4434-843B-AEB78B8B0AF8.png
3    232.953251  215.946433  ...    A1  18456DEB-40B5-49F7-B753-562994BE1B43.png
4    233.072965  215.833861  ...    A1  72376331-D805-4BAC-AE50-7A04A6729880.png
..          ...         ...  ...   ...                                       ...
156  228.515786  207.724373  ...    D4  E18A5563-1EE7-4C9D-8C30-EC06B9B7ECED.png
157  235.303466  216.012418  ...    D4  9DAF63DD-77B8-41EE-AC9A-3155C3202802.png
158  235.723480  216.259638  ...    D4  1EDB17DD-0247-445C-AB58-70F78A2192DF.png
159  235.505316  216.146011  ...    D4  91865ED4-C0E7-4757-B633-D8FAD13115C2.png
160  235.837432  216.762438  ...    D4  633965D6-D378-4AED-9DC0-51A5DAEFA6B9.png

[161 rows x 16 columns]

#Datapoint 4

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    223.608879  208.097395  165.919649  233.810892  225.144875  199.136190
1    229.286259  214.205584  170.938236  239.289912  230.240565  203.570489
2    230.117766  214.110543  171.217758  239.741661  229.860482  204.148202
3    230.918270  213.890431  169.075643  239.273030  229.058437  200.613181
4    230.874442  213.597029  169.694830  239.107134  228.132781  200.805454
..          ...         ...         ...         ...         ...         ...
156  226.407191  205.436978  163.576577  230.598653  210.891324  167.874361
157  232.649947  212.989205  171.027271  236.184806  217.101453  174.071747
158  233.078971  213.333414  171.082136  236.065579  217.406298  174.280334
159  232.904066  213.305657  171.455158  236.463518  217.605876  174.962828
160  233.224414  213.825420  171.849363  236.719990  218.163785  175.651814

[161 rows x 6 columns]

In [ ]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_4H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set1'
t44

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    22.035793  65.793848  223.608879  22.510592  37.874604  233.810892    Set1
1    22.186267  64.929876  229.286259  22.366366  38.129210  239.289912    Set1
2    22.012499  65.338934  230.117766  21.686308  37.912751  239.741661    Set1
3    22.000081  68.337391  230.918270  21.992046  41.224576  239.273030    Set1
4    21.896843  67.616914  230.874442  21.353786  40.920136  239.107134    Set1
..         ...        ...         ...        ...        ...         ...     ...
156  19.857641  70.865271  226.407191  20.512702  69.395017  230.598653    Set1
157  20.362958  67.625923  232.649947  20.933934  67.132213  236.184806    Set1
158  20.226686  67.959338  233.078971  21.163298  66.802208  236.065579    Set1
159  20.351514  67.364337  232.904066  20.981738  66.400130  236.463518    Set1
160  20.490220  67.179206  233.224414  21.018424  65.867462  236.719990    Set1

[161 rows x 7 columns]

In [ ]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    223.608879  208.097395  ...    A1  D47BC759-4BF1-40D8-9D68-52766A1B3358.png
1    229.286259  214.205584  ...    A1  63D0E875-9DA6-4483-BB03-E54DC1E8BC87.png
2    230.117766  214.110543  ...    A1  779692A7-DE00-4434-843B-AEB78B8B0AF8.png
3    230.918270  213.890431  ...    A1  18456DEB-40B5-49F7-B753-562994BE1B43.png
4    230.874442  213.597029  ...    A1  72376331-D805-4BAC-AE50-7A04A6729880.png
..          ...         ...  ...   ...                                       ...
156  226.407191  205.436978  ...    D4  E18A5563-1EE7-4C9D-8C30-EC06B9B7ECED.png
157  232.649947  212.989205  ...    D4  9DAF63DD-77B8-41EE-AC9A-3155C3202802.png
158  233.078971  213.333414  ...    D4  1EDB17DD-0247-445C-AB58-70F78A2192DF.png
159  232.904066  213.305657  ...    D4  91865ED4-C0E7-4757-B633-D8FAD13115C2.png
160  233.224414  213.825420  ...    D4  633965D6-D378-4AED-9DC0-51A5DAEFA6B9.png

[161 rows x 16 columns]

#Datapoint 5

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    221.716987  206.628764  165.435273  231.989124  223.762113  198.693613
1    227.546060  212.355896  169.114439  237.881584  228.928009  202.366610
2    228.299651  212.245759  169.283337  238.398912  228.559451  202.857073
3    228.808619  211.799529  166.941320  237.925574  227.820469  199.493710
4    228.876877  211.580229  167.609772  237.761626  226.940102  199.565620
..          ...         ...         ...         ...         ...         ...
156  224.346157  203.509050  162.753186  228.512702  209.214674  167.349890
157  230.730541  210.931743  169.105673  234.110786  214.835403  171.366285
158  230.988313  211.179612  168.915754  234.050726  215.233504  171.746043
159  231.067121  211.412548  169.541352  234.315721  215.328869  172.198279
160  231.512783  211.959419  169.925412  234.699700  216.054703  173.118822

[161 rows x 6 columns]

In [ ]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_5H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set1'
t55

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    22.028326  64.707167  221.716987  22.617077  36.641101  231.989124    Set1
1    22.160701  65.530395  227.546060  22.400373  38.143333  237.881584    Set1
2    22.010632  65.986365  228.299651  21.675108  38.080188  238.398912    Set1
3    22.003084  68.984904  228.808619  22.076130  41.236426  237.925574    Set1
4    21.889376  68.307848  228.876877  21.452723  41.044802  237.761626    Set1
..         ...        ...         ...        ...        ...         ...     ...
156  19.720640  70.078646  224.346157  20.456132  68.245029  228.512702    Set1
157  20.277494  68.199659  230.730541  20.915104  68.403458  234.110786    Set1
158  20.235857  68.627628  230.988313  21.143008  67.936775  234.050726    Set1
159  20.316208  67.995617  231.067121  21.002191  67.669426  234.315721    Set1
160  20.434867  67.909179  231.512783  21.059817  66.995455  234.699700    Set1

[161 rows x 7 columns]

In [ ]:
dp5= pd.concat([t5,t55,table1], axis=1)
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    221.716987  206.628764  ...    A1  D47BC759-4BF1-40D8-9D68-52766A1B3358.png
1    227.546060  212.355896  ...    A1  63D0E875-9DA6-4483-BB03-E54DC1E8BC87.png
2    228.299651  212.245759  ...    A1  779692A7-DE00-4434-843B-AEB78B8B0AF8.png
3    228.808619  211.799529  ...    A1  18456DEB-40B5-49F7-B753-562994BE1B43.png
4    228.876877  211.580229  ...    A1  72376331-D805-4BAC-AE50-7A04A6729880.png
..          ...         ...  ...   ...                                       ...
156  224.346157  203.509050  ...    D4  E18A5563-1EE7-4C9D-8C30-EC06B9B7ECED.png
157  230.730541  210.931743  ...    D4  9DAF63DD-77B8-41EE-AC9A-3155C3202802.png
158  230.988313  211.179612  ...    D4  1EDB17DD-0247-445C-AB58-70F78A2192DF.png
159  231.067121  211.412548  ...    D4  91865ED4-C0E7-4757-B633-D8FAD13115C2.png
160  231.512783  211.959419  ...    D4  633965D6-D378-4AED-9DC0-51A5DAEFA6B9.png

[161 rows x 16 columns]

In [ ]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    227.056245  211.571463  ...    A1  D47BC759-4BF1-40D8-9D68-52766A1B3358.png
1    233.195520  218.202419  ...    A1  63D0E875-9DA6-4483-BB03-E54DC1E8BC87.png
2    233.881828  218.251035  ...    A1  779692A7-DE00-4434-843B-AEB78B8B0AF8.png
3    234.888483  217.971512  ...    A1  18456DEB-40B5-49F7-B753-562994BE1B43.png
4    235.071910  217.812921  ...    A1  72376331-D805-4BAC-AE50-7A04A6729880.png
..          ...         ...  ...   ...                                       ...
156  224.346157  203.509050  ...    D4  E18A5563-1EE7-4C9D-8C30-EC06B9B7ECED.png
157  230.730541  210.931743  ...    D4  9DAF63DD-77B8-41EE-AC9A-3155C3202802.png
158  230.988313  211.179612  ...    D4  1EDB17DD-0247-445C-AB58-70F78A2192DF.png
159  231.067121  211.412548  ...    D4  91865ED4-C0E7-4757-B633-D8FAD13115C2.png
160  231.512783  211.959419  ...    D4  633965D6-D378-4AED-9DC0-51A5DAEFA6B9.png

[805 rows x 16 columns]

In [ ]:
st1.to_csv('D4_1.csv', index=False)