<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newD3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 import pandas as pd
 import numpy as np

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/My Drive/shadeimg'

In [ ]:
import os

In [ ]:
os.listdir(path)

['รูปฟัน07',
 '9-10 7 2021',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'FAF5097E-1FEB-41DF-92C9-C190A88FE15F.png',
 'CD25F822-5A97-4F4A-8667-90D9F5C9CC62.png',
 'B772B836-0F38-44D5-959C-675C592375FE.png',
 '1665B5AE-934F-4116-AE19-3369544A125F.png',
 'Color-checkerDD .xlsx',
 'Color-checkerAA1.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 '44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png',
 '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png',
 '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png']

In [ ]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 3.2 MB/s
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 5.4 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.28-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 27.4 MB/s
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.28 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [ ]:
from azure.storage.blob import BlockBlobService
import os

In [ ]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [ ]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [ ]:
AA = os.path.join(path,'DD1.xlsx')

In [ ]:
A1_set1= pd.read_excel(AA, sheet_name='D4Set3')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                หมายเหตุ
0    3A5F6D09-99D2-4DEF-A84E-1C755C8C0F51.png  ...  Duration 1/145 ISO 131
1    6CE1839C-EF38-4BF3-9001-31D2061BB09F.png  ...  Duration 1/145 ISO 131
2    B319E47C-7852-49A4-B164-3542207CFA46.png  ...  Duration 1/145 ISO 131
3    EF20FEEB-0DB3-44BF-9EDC-D5125F2B28F5.png  ...  Duration 1/145 ISO 131
4    1DEB6322-D495-4E37-AFC9-1FD3EE0103A4.png  ...  Duration 1/145 ISO 131
..                                        ...  ...                     ...
157  117E49CA-0E0D-40C6-AD8C-C802E2E616DC.png  ...  Duration 1/145 ISO 131
158  7934F2DA-6FCF-47FB-9DC6-623415D1226D.png  ...  Duration 1/145 ISO 131
159  11F9D7C5-2FED-4B94-9C56-0BE7283E6E77.png  ...  Duration 1/145 ISO 131
160  5ED41B36-8D19-40DC-8737-A5F02DE75465.png  ...  Duration 1/145 ISO 131
161  FEC4E0AA-3ABA-4193-93C5-BC060C0DD8A5.png  ...  Duration 1/145 ISO 131

[162 rows x 7 columns]

In [ ]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [ ]:
A1_set1

                                          Img  ...                หมายเหตุ
0    3A5F6D09-99D2-4DEF-A84E-1C755C8C0F51.png  ...  Duration 1/145 ISO 131
1    6CE1839C-EF38-4BF3-9001-31D2061BB09F.png  ...  Duration 1/145 ISO 131
2    B319E47C-7852-49A4-B164-3542207CFA46.png  ...  Duration 1/145 ISO 131
3    EF20FEEB-0DB3-44BF-9EDC-D5125F2B28F5.png  ...  Duration 1/145 ISO 131
4    1DEB6322-D495-4E37-AFC9-1FD3EE0103A4.png  ...  Duration 1/145 ISO 131
..                                        ...  ...                     ...
157  117E49CA-0E0D-40C6-AD8C-C802E2E616DC.png  ...  Duration 1/145 ISO 131
158  7934F2DA-6FCF-47FB-9DC6-623415D1226D.png  ...  Duration 1/145 ISO 131
159  11F9D7C5-2FED-4B94-9C56-0BE7283E6E77.png  ...  Duration 1/145 ISO 131
160  5ED41B36-8D19-40DC-8737-A5F02DE75465.png  ...  Duration 1/145 ISO 131
161  FEC4E0AA-3ABA-4193-93C5-BC060C0DD8A5.png  ...  Duration 1/145 ISO 131

[162 rows x 7 columns]

In [ ]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    D4   A1  3A5F6D09-99D2-4DEF-A84E-1C755C8C0F51.png
1    D4   A1  6CE1839C-EF38-4BF3-9001-31D2061BB09F.png
2    D4   A1  B319E47C-7852-49A4-B164-3542207CFA46.png
3    D4   A1  EF20FEEB-0DB3-44BF-9EDC-D5125F2B28F5.png
4    D4   A1  1DEB6322-D495-4E37-AFC9-1FD3EE0103A4.png
..   ..  ...                                       ...
157  D4   D4  117E49CA-0E0D-40C6-AD8C-C802E2E616DC.png
158  D4   D4  7934F2DA-6FCF-47FB-9DC6-623415D1226D.png
159  D4   D4  11F9D7C5-2FED-4B94-9C56-0BE7283E6E77.png
160  D4   D4  5ED41B36-8D19-40DC-8737-A5F02DE75465.png
161  D4   D4  FEC4E0AA-3ABA-4193-93C5-BC060C0DD8A5.png

[162 rows x 3 columns]

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    D4   A1  3A5F6D09-99D2-4DEF-A84E-1C755C8C0F51.png
1    D4   A1  6CE1839C-EF38-4BF3-9001-31D2061BB09F.png
2    D4   A1  B319E47C-7852-49A4-B164-3542207CFA46.png
3    D4   A1  EF20FEEB-0DB3-44BF-9EDC-D5125F2B28F5.png
4    D4   A1  1DEB6322-D495-4E37-AFC9-1FD3EE0103A4.png
..   ..  ...                                       ...
157  D4   D4  117E49CA-0E0D-40C6-AD8C-C802E2E616DC.png
158  D4   D4  7934F2DA-6FCF-47FB-9DC6-623415D1226D.png
159  D4   D4  11F9D7C5-2FED-4B94-9C56-0BE7283E6E77.png
160  D4   D4  5ED41B36-8D19-40DC-8737-A5F02DE75465.png
161  D4   D4  FEC4E0AA-3ABA-4193-93C5-BC060C0DD8A5.png

[162 rows x 3 columns]

In [ ]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img Ref  ... ฉากหลัง                หมายเหตุ
0  3A5F6D09-99D2-4DEF-A84E-1C755C8C0F51.png  D4  ...    สีดำ  Duration 1/145 ISO 131
1  6CE1839C-EF38-4BF3-9001-31D2061BB09F.png  D4  ...    สีดำ  Duration 1/145 ISO 131
2  B319E47C-7852-49A4-B164-3542207CFA46.png  D4  ...    สีดำ  Duration 1/145 ISO 131

[3 rows x 7 columns]

In [ ]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png'

In [ ]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821] 
S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)
# all_total.append(list_total)

In [ ]:
list_total

[223.87314341368395,
 199.018018018018,
 157.4263452641831,
 235.6770554338122,
 214.7927927927928,
 175.47877607337068]

In [ ]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [ ]:
list_total1

[[230.90779969158348, 231.94302410518625, 211.19032546059574],
 [230.33106079052024, 231.47926304683062, 210.68062657251846],
 [221.95990585179774, 223.43981819657495, 203.69409950491033]]

In [ ]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [ ]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [ ]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [ ]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  31.187566  47.677055  232.273436  35.281471  20.662446  236.251359    Set1
1  31.189838  48.239916  232.021589  35.171902  20.849038  235.842139    Set1
2  28.812434  56.963477  223.648567  32.132700  23.575603  227.029218    Set1

In [ ]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    231.312718  229.332846  187.148121  234.541109  236.123610  217.425128
1    231.009983  229.433163  186.349241  234.042204  235.769580  216.835646
2    223.148933  221.010551  172.842464  225.536645  226.867543  205.968834
3    223.467332  221.197305  173.193166  225.564970  226.801883  205.962097
4    230.788654  229.074507  186.421638  234.264427  235.860807  216.970944
..          ...         ...         ...         ...         ...         ...
157  232.684360  231.083841  187.408003  232.235695  230.888564  190.151855
158  231.858291  230.270757  186.235776  231.371074  229.688824  188.645483
159  232.640776  231.173768  187.166951  232.188296  230.859021  189.395341
160  233.333009  231.694992  187.571626  232.362227  230.984255  189.311420
161  233.971431  232.147715  186.914942  233.156643  231.411006  188.339015

[162 rows x 6 columns]

In [ ]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_1H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set3'
t11

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    30.688824  49.165652  231.471228  35.281471  20.662446  236.251359    Set3
1    30.641912  49.742878  231.160701  35.171902  20.849038  235.842139    Set3
2    28.866488  57.512215  223.148933  32.132700  23.575603  227.029218    Set3
3    28.783216  57.368314  223.467332  32.019154  23.550361  227.004058    Set3
4    30.631929  49.504586  230.957065  34.932392  20.844655  235.978898    Set3
..         ...        ...         ...        ...        ...         ...     ...
157  30.679247  50.085139  232.857398  31.434948  46.892460  232.506534    Set3
158  30.595569  50.607418  232.008035  30.961691  47.714552  231.582339    Set3
159  30.658956  50.301680  232.794984  31.277656  47.644591  232.424073    Set3
160  30.583800  50.464897  233.489003  31.105105  47.869085  232.574710    Set3
161  30.581852  51.757974  234.141141  30.868436  49.617807  233.324811    Set3

[162 rows x 7 columns]

In [ ]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    231.312718  229.332846  ...    A1  3A5F6D09-99D2-4DEF-A84E-1C755C8C0F51.png
1    231.009983  229.433163  ...    A1  6CE1839C-EF38-4BF3-9001-31D2061BB09F.png
2    223.148933  221.010551  ...    A1  B319E47C-7852-49A4-B164-3542207CFA46.png
3    223.467332  221.197305  ...    A1  EF20FEEB-0DB3-44BF-9EDC-D5125F2B28F5.png
4    230.788654  229.074507  ...    A1  1DEB6322-D495-4E37-AFC9-1FD3EE0103A4.png
..          ...         ...  ...   ...                                       ...
157  232.684360  231.083841  ...    D4  117E49CA-0E0D-40C6-AD8C-C802E2E616DC.png
158  231.858291  230.270757  ...    D4  7934F2DA-6FCF-47FB-9DC6-623415D1226D.png
159  232.640776  231.173768  ...    D4  11F9D7C5-2FED-4B94-9C56-0BE7283E6E77.png
160  233.333009  231.694992  ...    D4  5ED41B36-8D19-40DC-8737-A5F02DE75465.png
161  233.971431  232.147715  ...    D4  FEC4E0AA-3ABA-4193-93C5-BC060C0DD8A5.png

[162 rows x 16 columns]

#Datapoint 2

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    231.236101  229.254849  186.932798  234.447529  236.020453  217.262966
1    230.930931  229.350215  186.136271  233.950978  235.674621  216.679247
2    223.096664  220.966967  172.761302  225.485269  226.814544  205.917458
3    223.415064  221.151773  173.120120  225.519763  226.754403  205.912345
4    230.728431  229.002760  186.213376  234.182696  235.778021  216.830290
..          ...         ...         ...         ...         ...         ...
157  232.632092  231.018992  187.206801  232.189676  230.824608  189.957552
158  231.789709  230.195114  186.026297  231.316127  229.623570  188.443876
159  232.582177  231.103320  186.966805  232.133268  230.793523  189.200633
160  233.280334  231.631280  187.371723  232.296242  230.911452  189.113952
161  233.912832  232.073371  186.708709  233.088305  231.335525  188.149501

[162 rows x 6 columns]

In [ ]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_2H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set3'
t22

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    30.636799  49.324324  231.391283  35.178963  20.730217  236.150881    Set3
1    30.576252  49.895138  231.075562  35.097882  20.918107  235.747585    Set3
2    28.875335  57.558640  223.096664  32.131077  23.583232  226.976544    Set3
3    28.790114  57.405730  223.415064  32.016395  23.562130  226.957065    Set3
4    30.564159  49.667397  230.889701  34.847577  20.909504  235.896437    Set3
..         ...        ...         ...        ...        ...         ...     ...
157  30.612044  50.247626  232.798312  31.422287  47.059005  232.455564    Set3
158  30.527068  50.762844  231.933366  30.955767  47.885886  231.525363    Set3
159  30.578930  50.456294  232.729649  31.271894  47.807159  232.367827    Set3
160  30.520737  50.626167  233.430403  31.102183  48.024917  232.506452    Set3
161  30.515786  51.919406  234.076942  30.864784  49.762519  233.254119    Set3

[162 rows x 7 columns]

In [ ]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    231.236101  229.254849  ...    A1  3A5F6D09-99D2-4DEF-A84E-1C755C8C0F51.png
1    230.930931  229.350215  ...    A1  6CE1839C-EF38-4BF3-9001-31D2061BB09F.png
2    223.096664  220.966967  ...    A1  B319E47C-7852-49A4-B164-3542207CFA46.png
3    223.415064  221.151773  ...    A1  EF20FEEB-0DB3-44BF-9EDC-D5125F2B28F5.png
4    230.728431  229.002760  ...    A1  1DEB6322-D495-4E37-AFC9-1FD3EE0103A4.png
..          ...         ...  ...   ...                                       ...
157  232.632092  231.018992  ...    D4  117E49CA-0E0D-40C6-AD8C-C802E2E616DC.png
158  231.789709  230.195114  ...    D4  7934F2DA-6FCF-47FB-9DC6-623415D1226D.png
159  232.582177  231.103320  ...    D4  11F9D7C5-2FED-4B94-9C56-0BE7283E6E77.png
160  233.280334  231.631280  ...    D4  5ED41B36-8D19-40DC-8737-A5F02DE75465.png
161  233.912832  232.073371  ...    D4  FEC4E0AA-3ABA-4193-93C5-BC060C0DD8A5.png

[162 rows x 16 columns]

#Datapoint 3

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [ ]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    229.908043  227.809918  182.750020  233.238049  234.731840  215.173200
1    229.370830  227.591186  181.888240  232.672267  234.341287  214.476341
2    222.057788  219.966399  171.680789  224.490950  225.881665  205.128723
3    222.412629  220.179287  172.077104  224.595731  225.868030  205.079945
4    229.357763  227.448421  182.006006  232.896680  234.459297  214.635744
..          ...         ...         ...         ...         ...         ...
157  231.316695  229.433650  182.919731  230.512945  228.682087  184.344453
158  230.338690  228.621459  181.726402  229.320591  227.222141  182.454509
159  231.150799  229.509374  182.705625  230.341693  228.574223  183.599627
160  231.966723  230.111355  183.076942  230.490058  228.743852  183.607824
161  232.612694  230.477559  182.440305  231.203393  229.321646  182.927847

[162 rows x 6 columns]

In [ ]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_3H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set3'
t33

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    29.478533  52.534859  229.968590  34.639721  21.675676  234.897086    Set3
1    29.442010  52.978979  229.426183  34.570571  21.927197  234.437708    Set3
2    28.910153  57.887022  222.057788  32.228796  23.570571  226.020940    Set3
3    28.820226  57.724373  222.412629  32.070692  23.650434  226.056651    Set3
4    29.317750  52.852366  229.409788  34.322133  21.909991  234.591835    Set3
..         ...        ...         ...        ...        ...         ...     ...
157  29.311582  53.526499  231.359630  29.603441  51.323026  230.597922    Set3
158  29.262803  53.936450  230.365717  29.072316  52.272299  229.357114    Set3
159  29.405892  53.616671  231.191868  29.510754  51.977680  230.412304    Set3
160  29.344696  53.931012  232.008360  29.635419  52.110868  230.550280    Set3
161  29.252009  55.190812  232.657495  29.778346  53.540054  231.267348    Set3

[162 rows x 7 columns]

In [ ]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    229.908043  227.809918  ...    A1  3A5F6D09-99D2-4DEF-A84E-1C755C8C0F51.png
1    229.370830  227.591186  ...    A1  6CE1839C-EF38-4BF3-9001-31D2061BB09F.png
2    222.057788  219.966399  ...    A1  B319E47C-7852-49A4-B164-3542207CFA46.png
3    222.412629  220.179287  ...    A1  EF20FEEB-0DB3-44BF-9EDC-D5125F2B28F5.png
4    229.357763  227.448421  ...    A1  1DEB6322-D495-4E37-AFC9-1FD3EE0103A4.png
..          ...         ...  ...   ...                                       ...
157  231.316695  229.433650  ...    D4  117E49CA-0E0D-40C6-AD8C-C802E2E616DC.png
158  230.338690  228.621459  ...    D4  7934F2DA-6FCF-47FB-9DC6-623415D1226D.png
159  231.150799  229.509374  ...    D4  11F9D7C5-2FED-4B94-9C56-0BE7283E6E77.png
160  231.966723  230.111355  ...    D4  5ED41B36-8D19-40DC-8737-A5F02DE75465.png
161  232.612694  230.477559  ...    D4  FEC4E0AA-3ABA-4193-93C5-BC060C0DD8A5.png

[162 rows x 16 columns]

#Datapoint 4

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    228.355572  226.231150  178.744745  231.315072  232.644104  211.862024
1    227.760003  225.894164  178.164191  230.751887  232.215080  211.263696
2    220.645240  218.615940  171.339907  223.095528  224.534372  204.172876
3    221.100398  218.815599  171.877932  223.217677  224.540378  204.085545
4    227.941401  225.975651  178.436653  231.006006  232.428131  211.583962
..          ...         ...         ...         ...         ...         ...
157  230.178395  228.189838  179.947001  228.921435  226.779888  180.267835
158  229.197549  227.504423  179.093093  227.778021  225.502800  179.024430
159  229.835241  228.216460  179.653356  228.694424  226.615129  179.695723
160  230.720234  228.846360  179.886779  228.750345  226.759760  179.389173
161  231.296323  229.124746  179.177664  229.318968  227.368395  178.683143

[162 rows x 6 columns]

In [ ]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_4H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set3'
t44

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    28.801639  55.403539  228.355572  32.149907  22.954793  232.830614    Set3
1    28.909991  55.523009  227.760003  32.323594  23.082704  232.345345    Set3
2    28.902524  57.007629  220.645240  32.340881  23.294375  224.653194    Set3
3    28.766172  56.766090  221.100398  32.171983  23.417661  224.696210    Set3
4    28.849119  55.401104  227.941401  32.263534  22.998458  232.582501    Set3
..         ...        ...         ...        ...        ...         ...     ...
157  28.919893  55.709520  230.178395  28.674377  54.203555  228.921435    Set3
158  29.087574  55.767227  229.197549  28.599059  54.595893  227.778021    Set3
159  29.133106  55.724941  229.835484  28.723074  54.654898  228.694424    Set3
160  29.000487  56.267592  230.720234  28.834104  55.039932  228.750345    Set3
161  28.836377  57.534940  231.296323  28.961773  56.353299  229.318968    Set3

[162 rows x 7 columns]

In [ ]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    228.355572  226.231150  ...    A1  3A5F6D09-99D2-4DEF-A84E-1C755C8C0F51.png
1    227.760003  225.894164  ...    A1  6CE1839C-EF38-4BF3-9001-31D2061BB09F.png
2    220.645240  218.615940  ...    A1  B319E47C-7852-49A4-B164-3542207CFA46.png
3    221.100398  218.815599  ...    A1  EF20FEEB-0DB3-44BF-9EDC-D5125F2B28F5.png
4    227.941401  225.975651  ...    A1  1DEB6322-D495-4E37-AFC9-1FD3EE0103A4.png
..          ...         ...  ...   ...                                       ...
157  230.178395  228.189838  ...    D4  117E49CA-0E0D-40C6-AD8C-C802E2E616DC.png
158  229.197549  227.504423  ...    D4  7934F2DA-6FCF-47FB-9DC6-623415D1226D.png
159  229.835241  228.216460  ...    D4  11F9D7C5-2FED-4B94-9C56-0BE7283E6E77.png
160  230.720234  228.846360  ...    D4  5ED41B36-8D19-40DC-8737-A5F02DE75465.png
161  231.296323  229.124746  ...    D4  FEC4E0AA-3ABA-4193-93C5-BC060C0DD8A5.png

[162 rows x 16 columns]

#Datapoint 5

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    227.037740  224.990585  177.053324  230.101209  231.347456  210.806590
1    226.331223  224.518789  176.312556  229.514082  230.852204  210.254931
2    219.138787  217.189189  171.968915  221.255742  222.843438  203.389416
3    219.382599  217.313611  172.510916  221.446311  222.850337  203.274734
4    226.623326  224.761870  176.675432  229.762600  231.083678  210.648973
..          ...         ...         ...         ...         ...         ...
157  229.141222  227.194789  178.645078  227.642156  225.456943  178.982550
158  228.133918  226.507426  177.920461  226.385277  224.168736  177.734599
159  228.747748  227.212320  178.290967  227.360198  225.165327  178.231312
160  229.613262  227.856424  178.478451  227.400292  225.332116  177.992208
161  230.125233  228.057057  177.808701  227.886129  226.020778  177.329600

[162 rows x 6 columns]

In [ ]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_5H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set3'
t55

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    28.888402  56.126938  227.037740  32.057788  22.736872  231.535914    Set3
1    29.002841  56.331142  226.331223  32.195358  22.756676  230.990829    Set3
2    28.930850  54.868842  219.138787  32.676974  22.417986  222.926224    Set3
3    28.866245  54.429186  219.382599  32.397533  22.598815  222.978573    Set3
4    28.968915  56.195926  226.623326  32.177583  22.585099  231.227173    Set3
..         ...        ...         ...        ...        ...         ...     ...
157  28.983605  56.227741  229.141222  28.679815  54.485431  227.642156    Set3
158  29.132944  56.140086  228.133918  28.630874  54.783540  226.385277    Set3
159  29.216703  56.274166  228.747991  28.672916  55.090983  227.360198    Set3
160  29.100317  56.863404  229.613262  28.802613  55.386495  227.400292    Set3
161  28.894570  58.046506  230.125233  28.998539  56.591105  227.886129    Set3

[162 rows x 7 columns]

In [ ]:
dp5= pd.concat([t5,t55,table1], axis=1)
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    227.037740  224.990585  ...    A1  3A5F6D09-99D2-4DEF-A84E-1C755C8C0F51.png
1    226.331223  224.518789  ...    A1  6CE1839C-EF38-4BF3-9001-31D2061BB09F.png
2    219.138787  217.189189  ...    A1  B319E47C-7852-49A4-B164-3542207CFA46.png
3    219.382599  217.313611  ...    A1  EF20FEEB-0DB3-44BF-9EDC-D5125F2B28F5.png
4    226.623326  224.761870  ...    A1  1DEB6322-D495-4E37-AFC9-1FD3EE0103A4.png
..          ...         ...  ...   ...                                       ...
157  229.141222  227.194789  ...    D4  117E49CA-0E0D-40C6-AD8C-C802E2E616DC.png
158  228.133918  226.507426  ...    D4  7934F2DA-6FCF-47FB-9DC6-623415D1226D.png
159  228.747748  227.212320  ...    D4  11F9D7C5-2FED-4B94-9C56-0BE7283E6E77.png
160  229.613262  227.856424  ...    D4  5ED41B36-8D19-40DC-8737-A5F02DE75465.png
161  230.125233  228.057057  ...    D4  FEC4E0AA-3ABA-4193-93C5-BC060C0DD8A5.png

[162 rows x 16 columns]

In [ ]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    231.312718  229.332846  ...    A1  3A5F6D09-99D2-4DEF-A84E-1C755C8C0F51.png
1    231.009983  229.433163  ...    A1  6CE1839C-EF38-4BF3-9001-31D2061BB09F.png
2    223.148933  221.010551  ...    A1  B319E47C-7852-49A4-B164-3542207CFA46.png
3    223.467332  221.197305  ...    A1  EF20FEEB-0DB3-44BF-9EDC-D5125F2B28F5.png
4    230.788654  229.074507  ...    A1  1DEB6322-D495-4E37-AFC9-1FD3EE0103A4.png
..          ...         ...  ...   ...                                       ...
157  229.141222  227.194789  ...    D4  117E49CA-0E0D-40C6-AD8C-C802E2E616DC.png
158  228.133918  226.507426  ...    D4  7934F2DA-6FCF-47FB-9DC6-623415D1226D.png
159  228.747748  227.212320  ...    D4  11F9D7C5-2FED-4B94-9C56-0BE7283E6E77.png
160  229.613262  227.856424  ...    D4  5ED41B36-8D19-40DC-8737-A5F02DE75465.png
161  230.125233  228.057057  ...    D4  FEC4E0AA-3ABA-4193-93C5-BC060C0DD8A5.png

[810 rows x 16 columns]

In [ ]:
st1.to_csv('D4_3.csv', index=False)