<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newD5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 import pandas as pd
 import numpy as np

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/shadeimg'

In [4]:
import os

In [5]:
os.listdir(path)

['รูปฟัน07',
 '9-10 7 2021',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'Color-checkerAA1.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerDD .xlsx',
 'Color-checkerCC.xlsx']

In [6]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 2.9 MB/s
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 4.5 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.28-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 17.5 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.28 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [7]:
from azure.storage.blob import BlockBlobService
import os

In [8]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [9]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [47]:
AA = os.path.join(path,'Color-checkerDD .xlsx')

In [48]:
A1_set1= pd.read_excel(AA, sheet_name='D2_1')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                หมายเหตุ
0    14A8CED7-E956-4B46-92E8-0DA8D53D5A52.png  ...  Duration 1/100 ISO 630
1    CF544B63-6EBA-4C9F-847B-244F0A6FC443.png  ...  Duration 1/100 ISO 630
2    BFE5E125-35E9-41AA-BFEF-A8EC450C338B.png  ...  Duration 1/100 ISO 630
3    254BCEE3-1613-40F5-A356-2B3E555546B1.png  ...  Duration 1/100 ISO 630
4    6F44E35D-C204-4403-8697-CB9D24698E5A.png  ...  Duration 1/100 ISO 630
..                                        ...  ...                     ...
155  69BBBEFD-E06D-46E8-973C-6E5790267490.png  ...  Duration 1/100 ISO 630
156  CAC75880-79BB-4952-A65C-49CD361E9524.png  ...  Duration 1/100 ISO 630
157  16150DC8-97D9-4095-97F9-4DF764B6A4D3.png  ...  Duration 1/100 ISO 630
158  CB692071-9FE3-4538-9BEB-D126DA7C1D5B.png  ...  Duration 1/100 ISO 630
159  29F3F726-AA38-4363-AB6D-A67B673673FC.png  ...  Duration 1/100 ISO 630

[160 rows x 7 columns]

In [49]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [50]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [51]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [52]:
A1_set1

                                          Img  ...                หมายเหตุ
0    14A8CED7-E956-4B46-92E8-0DA8D53D5A52.png  ...  Duration 1/100 ISO 630
1    CF544B63-6EBA-4C9F-847B-244F0A6FC443.png  ...  Duration 1/100 ISO 630
2    BFE5E125-35E9-41AA-BFEF-A8EC450C338B.png  ...  Duration 1/100 ISO 630
3    254BCEE3-1613-40F5-A356-2B3E555546B1.png  ...  Duration 1/100 ISO 630
4    6F44E35D-C204-4403-8697-CB9D24698E5A.png  ...  Duration 1/100 ISO 630
..                                        ...  ...                     ...
155  69BBBEFD-E06D-46E8-973C-6E5790267490.png  ...  Duration 1/100 ISO 630
156  CAC75880-79BB-4952-A65C-49CD361E9524.png  ...  Duration 1/100 ISO 630
157  16150DC8-97D9-4095-97F9-4DF764B6A4D3.png  ...  Duration 1/100 ISO 630
158  CB692071-9FE3-4538-9BEB-D126DA7C1D5B.png  ...  Duration 1/100 ISO 630
159  29F3F726-AA38-4363-AB6D-A67B673673FC.png  ...  Duration 1/100 ISO 630

[160 rows x 7 columns]

In [53]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [54]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    D2   A1  14A8CED7-E956-4B46-92E8-0DA8D53D5A52.png
1    D2   A1  CF544B63-6EBA-4C9F-847B-244F0A6FC443.png
2    D2   A1  BFE5E125-35E9-41AA-BFEF-A8EC450C338B.png
3    D2   A1  254BCEE3-1613-40F5-A356-2B3E555546B1.png
4    D2   A1  6F44E35D-C204-4403-8697-CB9D24698E5A.png
..   ..  ...                                       ...
155  D2   D4  69BBBEFD-E06D-46E8-973C-6E5790267490.png
156  D2   D4  CAC75880-79BB-4952-A65C-49CD361E9524.png
157  D2   D4  16150DC8-97D9-4095-97F9-4DF764B6A4D3.png
158  D2   D4  CB692071-9FE3-4538-9BEB-D126DA7C1D5B.png
159  D2   D4  29F3F726-AA38-4363-AB6D-A67B673673FC.png

[160 rows x 3 columns]

In [55]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    D2   A1  14A8CED7-E956-4B46-92E8-0DA8D53D5A52.png
1    D2   A1  CF544B63-6EBA-4C9F-847B-244F0A6FC443.png
2    D2   A1  BFE5E125-35E9-41AA-BFEF-A8EC450C338B.png
3    D2   A1  254BCEE3-1613-40F5-A356-2B3E555546B1.png
4    D2   A1  6F44E35D-C204-4403-8697-CB9D24698E5A.png
..   ..  ...                                       ...
155  D2   D4  69BBBEFD-E06D-46E8-973C-6E5790267490.png
156  D2   D4  CAC75880-79BB-4952-A65C-49CD361E9524.png
157  D2   D4  16150DC8-97D9-4095-97F9-4DF764B6A4D3.png
158  D2   D4  CB692071-9FE3-4538-9BEB-D126DA7C1D5B.png
159  D2   D4  29F3F726-AA38-4363-AB6D-A67B673673FC.png

[160 rows x 3 columns]

In [56]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img Ref  ... ฉากหลัง                หมายเหตุ
0  14A8CED7-E956-4B46-92E8-0DA8D53D5A52.png  D2  ...    สีดำ  Duration 1/100 ISO 630
1  CF544B63-6EBA-4C9F-847B-244F0A6FC443.png  D2  ...    สีดำ  Duration 1/100 ISO 630
2  BFE5E125-35E9-41AA-BFEF-A8EC450C338B.png  D2  ...    สีดำ  Duration 1/100 ISO 630

[3 rows x 7 columns]

In [57]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(109*129, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [58]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
S1=pd.DataFrame(all_total,columns=cols)
S1['Setting']='Set1'
S1

        R-ref       G-ref       B-ref  ...      G-Shad      B-Shad  Setting
0  226.366366  209.655953  165.946189  ...  209.734727  166.086125     Set1
1  227.931012  209.505154  166.196900  ...  209.529479  166.294076     Set1
2  221.735411  203.446798  160.462949  ...  203.636797  160.795392     Set1

[3 rows x 7 columns]

In [59]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(109*129, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [60]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  22.017206  68.116630  226.366366  22.013939  68.032075  226.451675    Set1
1  21.362714  69.128804  227.931012  21.351682  69.050210  227.970059    Set1
2  21.315640  70.506047  221.735411  21.288173  70.291089  221.935140    Set1

#Datapoint 1

In [61]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(109*129, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [62]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1['Setting']='Set1'
t1

          R-ref       G-ref       B-ref  ...      G-Shad      B-Shad  Setting
0    226.366366  209.655953  165.946189  ...  209.734727  166.086125     Set1
1    227.931012  209.505154  166.196900  ...  209.529479  166.294076     Set1
2    221.735411  203.446798  160.462949  ...  203.636797  160.795392     Set1
3    220.815356  203.741092  160.975408  ...  203.984212  161.474504     Set1
4    228.615616  210.380732  166.568217  ...  210.401963  166.693123     Set1
..          ...         ...         ...  ...         ...         ...      ...
155  218.903660  196.931337  139.776398  ...  196.917573  139.770642     Set1
156  221.306225  199.799205  141.787923  ...  199.803997  141.789133     Set1
157  221.946271  200.227822  142.444688  ...  200.227580  142.515042     Set1
158  221.928415  200.124097  142.099343  ...  200.157599  142.175236     Set1
159  220.689554  198.872088  140.831832  ...  198.849299  140.896309     Set1

[160 rows x 7 columns]

In [63]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(109*129, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1H.append(list_total)

In [64]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set1'
t11

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    22.017206  68.116630  226.366366  22.013939  68.032075  226.451675    Set1
1    21.362714  69.128804  227.931012  21.351682  69.050210  227.970059    Set1
2    21.315640  70.506047  221.735411  21.288173  70.291089  221.935140    Set1
3    21.774937  69.115900  220.815356  21.721072  68.746746  221.063722    Set1
4    21.517328  69.292184  228.615616  21.502098  69.179504  228.653439    Set1
..         ...        ...         ...        ...        ...         ...     ...
155  21.909423  92.226605  218.903660  21.900078  92.268117  218.958111    Set1
156  22.006818  91.642075  221.306225  22.005121  91.657563  221.336463    Set1
157  21.989855  91.333414  221.946271  21.973828  91.275300  221.980798    Set1
158  22.000000  91.712036  221.928415  21.996302  91.632103  221.941896    Set1
159  21.997484  92.292996  220.689554  21.991750  92.219543  220.693692    Set1

[160 rows x 7 columns]

In [65]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    226.366366  209.655953  ...    A1  14A8CED7-E956-4B46-92E8-0DA8D53D5A52.png
1    227.931012  209.505154  ...    A1  CF544B63-6EBA-4C9F-847B-244F0A6FC443.png
2    221.735411  203.446798  ...    A1  BFE5E125-35E9-41AA-BFEF-A8EC450C338B.png
3    220.815356  203.741092  ...    A1  254BCEE3-1613-40F5-A356-2B3E555546B1.png
4    228.615616  210.380732  ...    A1  6F44E35D-C204-4403-8697-CB9D24698E5A.png
..          ...         ...  ...   ...                                       ...
155  218.903660  196.931337  ...    D4  69BBBEFD-E06D-46E8-973C-6E5790267490.png
156  221.306225  199.799205  ...    D4  CAC75880-79BB-4952-A65C-49CD361E9524.png
157  221.946271  200.227822  ...    D4  16150DC8-97D9-4095-97F9-4DF764B6A4D3.png
158  221.928415  200.124097  ...    D4  CB692071-9FE3-4538-9BEB-D126DA7C1D5B.png
159  220.689554  198.872088  ...    D4  29F3F726-AA38-4363-AB6D-A67B673673FC.png

[160 rows x 17 columns]

#Datapoint 2

In [ ]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  1719<i<1819 and 2029<j<2134 :
  S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]  1719<i<1819 and 1709<j<1819 :
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(109*129, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2['Setting']='Set1'
t2

          R-ref       G-ref       B-ref  ...      G-Shad      B-Shad  Setting
0    226.366366  209.655953  165.946189  ...  209.734727  166.086125     Set1
1    227.931012  209.505154  166.196900  ...  209.529479  166.294076     Set1
2    221.735411  203.446798  160.462949  ...  203.636797  160.795392     Set1
3    220.815356  203.741092  160.975408  ...  203.984212  161.474504     Set1
4    228.615616  210.380732  166.568217  ...  210.401963  166.693123     Set1
..          ...         ...         ...  ...         ...         ...      ...
155  218.903660  196.931337  139.776398  ...  196.917573  139.770642     Set1
156  221.306225  199.799205  141.787923  ...  199.803997  141.789133     Set1
157  221.946271  200.227822  142.444688  ...  200.227580  142.515042     Set1
158  221.928415  200.124097  142.099343  ...  200.157599  142.175236     Set1
159  220.689554  198.872088  140.831832  ...  198.849299  140.896309     Set1

[160 rows x 7 columns]

In [ ]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(109*129, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set1'
t22

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    22.017206  68.116630  226.366366  22.013939  68.032075  226.451675    Set1
1    21.362714  69.128804  227.931012  21.351682  69.050210  227.970059    Set1
2    21.315640  70.506047  221.735411  21.288173  70.291089  221.935140    Set1
3    21.774937  69.115900  220.815356  21.721072  68.746746  221.063722    Set1
4    21.517328  69.292184  228.615616  21.502098  69.179504  228.653439    Set1
..         ...        ...         ...        ...        ...         ...     ...
155  21.909423  92.226605  218.903660  21.900078  92.268117  218.958111    Set1
156  22.006818  91.642075  221.306225  22.005121  91.657563  221.336463    Set1
157  21.989855  91.333414  221.946271  21.973828  91.275300  221.980798    Set1
158  22.000000  91.712036  221.928415  21.996302  91.632103  221.941896    Set1
159  21.997484  92.292996  220.689554  21.991750  92.219543  220.693692    Set1

[160 rows x 7 columns]

In [ ]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    226.366366  209.655953  ...    A1  14A8CED7-E956-4B46-92E8-0DA8D53D5A52.png
1    227.931012  209.505154  ...    A1  CF544B63-6EBA-4C9F-847B-244F0A6FC443.png
2    221.735411  203.446798  ...    A1  BFE5E125-35E9-41AA-BFEF-A8EC450C338B.png
3    220.815356  203.741092  ...    A1  254BCEE3-1613-40F5-A356-2B3E555546B1.png
4    228.615616  210.380732  ...    A1  6F44E35D-C204-4403-8697-CB9D24698E5A.png
..          ...         ...  ...   ...                                       ...
155  218.903660  196.931337  ...    D4  69BBBEFD-E06D-46E8-973C-6E5790267490.png
156  221.306225  199.799205  ...    D4  CAC75880-79BB-4952-A65C-49CD361E9524.png
157  221.946271  200.227822  ...    D4  16150DC8-97D9-4095-97F9-4DF764B6A4D3.png
158  221.928415  200.124097  ...    D4  CB692071-9FE3-4538-9BEB-D126DA7C1D5B.png
159  220.689554  198.872088  ...    D4  29F3F726-AA38-4363-AB6D-A67B673673FC.png

[160 rows x 17 columns]

#Datapoint 3

In [ ]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  1739<i<1839 and 2029<j<2134 :
  S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145] 1739<i<1839 and 1709<j<1819 :
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(109*129, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3['Setting']='Set1'
t3

          R-ref       G-ref       B-ref  ...      G-Shad      B-Shad  Setting
0    226.366366  209.655953  165.946189  ...  209.734727  166.086125     Set1
1    227.931012  209.505154  166.196900  ...  209.529479  166.294076     Set1
2    221.735411  203.446798  160.462949  ...  203.636797  160.795392     Set1
3    220.815356  203.741092  160.975408  ...  203.984212  161.474504     Set1
4    228.615616  210.380732  166.568217  ...  210.401963  166.693123     Set1
..          ...         ...         ...  ...         ...         ...      ...
155  218.903660  196.931337  139.776398  ...  196.917573  139.770642     Set1
156  221.306225  199.799205  141.787923  ...  199.803997  141.789133     Set1
157  221.946271  200.227822  142.444688  ...  200.227580  142.515042     Set1
158  221.928415  200.124097  142.099343  ...  200.157599  142.175236     Set1
159  220.689554  198.872088  140.831832  ...  198.849299  140.896309     Set1

[160 rows x 7 columns]

In [ ]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131] 
  S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(109*129, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set1'
t33

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    22.017206  68.116630  226.366366  22.013939  68.032075  226.451675    Set1
1    21.362714  69.128804  227.931012  21.351682  69.050210  227.970059    Set1
2    21.315640  70.506047  221.735411  21.288173  70.291089  221.935140    Set1
3    21.774937  69.115900  220.815356  21.721072  68.746746  221.063722    Set1
4    21.517328  69.292184  228.615616  21.502098  69.179504  228.653439    Set1
..         ...        ...         ...        ...        ...         ...     ...
155  21.909423  92.226605  218.903660  21.900078  92.268117  218.958111    Set1
156  22.006818  91.642075  221.306225  22.005121  91.657563  221.336463    Set1
157  21.989855  91.333414  221.946271  21.973828  91.275300  221.980798    Set1
158  22.000000  91.712036  221.928415  21.996302  91.632103  221.941896    Set1
159  21.997484  92.292996  220.689554  21.991750  92.219543  220.693692    Set1

[160 rows x 7 columns]

In [ ]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    226.366366  209.655953  ...    A1  14A8CED7-E956-4B46-92E8-0DA8D53D5A52.png
1    227.931012  209.505154  ...    A1  CF544B63-6EBA-4C9F-847B-244F0A6FC443.png
2    221.735411  203.446798  ...    A1  BFE5E125-35E9-41AA-BFEF-A8EC450C338B.png
3    220.815356  203.741092  ...    A1  254BCEE3-1613-40F5-A356-2B3E555546B1.png
4    228.615616  210.380732  ...    A1  6F44E35D-C204-4403-8697-CB9D24698E5A.png
..          ...         ...  ...   ...                                       ...
155  218.903660  196.931337  ...    D4  69BBBEFD-E06D-46E8-973C-6E5790267490.png
156  221.306225  199.799205  ...    D4  CAC75880-79BB-4952-A65C-49CD361E9524.png
157  221.946271  200.227822  ...    D4  16150DC8-97D9-4095-97F9-4DF764B6A4D3.png
158  221.928415  200.124097  ...    D4  CB692071-9FE3-4538-9BEB-D126DA7C1D5B.png
159  220.689554  198.872088  ...    D4  29F3F726-AA38-4363-AB6D-A67B673673FC.png

[160 rows x 17 columns]

#Datapoint 4

In [ ]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  1759<i<1859 and 2029<j<2134 :
  S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]  1759<i<1859 and 1709<j<1819 :
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(109*129, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4['Setting']='Set1'
t4

          R-ref       G-ref       B-ref  ...      G-Shad      B-Shad  Setting
0    226.366366  209.655953  165.946189  ...  209.734727  166.086125     Set1
1    227.931012  209.505154  166.196900  ...  209.529479  166.294076     Set1
2    221.735411  203.446798  160.462949  ...  203.636797  160.795392     Set1
3    220.815356  203.741092  160.975408  ...  203.984212  161.474504     Set1
4    228.615616  210.380732  166.568217  ...  210.401963  166.693123     Set1
..          ...         ...         ...  ...         ...         ...      ...
155  218.903660  196.931337  139.776398  ...  196.917573  139.770642     Set1
156  221.306225  199.799205  141.787923  ...  199.803997  141.789133     Set1
157  221.946271  200.227822  142.444688  ...  200.227580  142.515042     Set1
158  221.928415  200.124097  142.099343  ...  200.157599  142.175236     Set1
159  220.689554  198.872088  140.831832  ...  198.849299  140.896309     Set1

[160 rows x 7 columns]

In [ ]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(109*129, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set1'
t44

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    22.017206  68.116630  226.366366  22.013939  68.032075  226.451675    Set1
1    21.362714  69.128804  227.931012  21.351682  69.050210  227.970059    Set1
2    21.315640  70.506047  221.735411  21.288173  70.291089  221.935140    Set1
3    21.774937  69.115900  220.815356  21.721072  68.746746  221.063722    Set1
4    21.517328  69.292184  228.615616  21.502098  69.179504  228.653439    Set1
..         ...        ...         ...        ...        ...         ...     ...
155  21.909423  92.226605  218.903660  21.900078  92.268117  218.958111    Set1
156  22.006818  91.642075  221.306225  22.005121  91.657563  221.336463    Set1
157  21.989855  91.333414  221.946271  21.973828  91.275300  221.980798    Set1
158  22.000000  91.712036  221.928415  21.996302  91.632103  221.941896    Set1
159  21.997484  92.292996  220.689554  21.991750  92.219543  220.693692    Set1

[160 rows x 7 columns]

In [ ]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    226.366366  209.655953  ...    A1  14A8CED7-E956-4B46-92E8-0DA8D53D5A52.png
1    227.931012  209.505154  ...    A1  CF544B63-6EBA-4C9F-847B-244F0A6FC443.png
2    221.735411  203.446798  ...    A1  BFE5E125-35E9-41AA-BFEF-A8EC450C338B.png
3    220.815356  203.741092  ...    A1  254BCEE3-1613-40F5-A356-2B3E555546B1.png
4    228.615616  210.380732  ...    A1  6F44E35D-C204-4403-8697-CB9D24698E5A.png
..          ...         ...  ...   ...                                       ...
155  218.903660  196.931337  ...    D4  69BBBEFD-E06D-46E8-973C-6E5790267490.png
156  221.306225  199.799205  ...    D4  CAC75880-79BB-4952-A65C-49CD361E9524.png
157  221.946271  200.227822  ...    D4  16150DC8-97D9-4095-97F9-4DF764B6A4D3.png
158  221.928415  200.124097  ...    D4  CB692071-9FE3-4538-9BEB-D126DA7C1D5B.png
159  220.689554  198.872088  ...    D4  29F3F726-AA38-4363-AB6D-A67B673673FC.png

[160 rows x 17 columns]

#Datapoint 5

In [ ]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  1779<i<1879 and 2029<j<2134 :
  S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]  1779<i<1879 and 1709<j<1819 :
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(109*129, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5['Setting']='Set1'
t5

          R-ref       G-ref       B-ref  ...      G-Shad      B-Shad  Setting
0    226.366366  209.655953  165.946189  ...  209.734727  166.086125     Set1
1    227.931012  209.505154  166.196900  ...  209.529479  166.294076     Set1
2    221.735411  203.446798  160.462949  ...  203.636797  160.795392     Set1
3    220.815356  203.741092  160.975408  ...  203.984212  161.474504     Set1
4    228.615616  210.380732  166.568217  ...  210.401963  166.693123     Set1
..          ...         ...         ...  ...         ...         ...      ...
155  218.903660  196.931337  139.776398  ...  196.917573  139.770642     Set1
156  221.306225  199.799205  141.787923  ...  199.803997  141.789133     Set1
157  221.946271  200.227822  142.444688  ...  200.227580  142.515042     Set1
158  221.928415  200.124097  142.099343  ...  200.157599  142.175236     Set1
159  220.689554  198.872088  140.831832  ...  198.849299  140.896309     Set1

[160 rows x 7 columns]

In [ ]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(109*129, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set1'
t55

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    22.017206  68.116630  226.366366  22.013939  68.032075  226.451675    Set1
1    21.362714  69.128804  227.931012  21.351682  69.050210  227.970059    Set1
2    21.315640  70.506047  221.735411  21.288173  70.291089  221.935140    Set1
3    21.774937  69.115900  220.815356  21.721072  68.746746  221.063722    Set1
4    21.517328  69.292184  228.615616  21.502098  69.179504  228.653439    Set1
..         ...        ...         ...        ...        ...         ...     ...
155  21.909423  92.226605  218.903660  21.900078  92.268117  218.958111    Set1
156  22.006818  91.642075  221.306225  22.005121  91.657563  221.336463    Set1
157  21.989855  91.333414  221.946271  21.973828  91.275300  221.980798    Set1
158  22.000000  91.712036  221.928415  21.996302  91.632103  221.941896    Set1
159  21.997484  92.292996  220.689554  21.991750  92.219543  220.693692    Set1

[160 rows x 7 columns]

In [ ]:
dp5= pd.concat([t5,t55,table1], axis=1)
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    226.366366  209.655953  ...    A1  14A8CED7-E956-4B46-92E8-0DA8D53D5A52.png
1    227.931012  209.505154  ...    A1  CF544B63-6EBA-4C9F-847B-244F0A6FC443.png
2    221.735411  203.446798  ...    A1  BFE5E125-35E9-41AA-BFEF-A8EC450C338B.png
3    220.815356  203.741092  ...    A1  254BCEE3-1613-40F5-A356-2B3E555546B1.png
4    228.615616  210.380732  ...    A1  6F44E35D-C204-4403-8697-CB9D24698E5A.png
..          ...         ...  ...   ...                                       ...
155  218.903660  196.931337  ...    D4  69BBBEFD-E06D-46E8-973C-6E5790267490.png
156  221.306225  199.799205  ...    D4  CAC75880-79BB-4952-A65C-49CD361E9524.png
157  221.946271  200.227822  ...    D4  16150DC8-97D9-4095-97F9-4DF764B6A4D3.png
158  221.928415  200.124097  ...    D4  CB692071-9FE3-4538-9BEB-D126DA7C1D5B.png
159  220.689554  198.872088  ...    D4  29F3F726-AA38-4363-AB6D-A67B673673FC.png

[160 rows x 17 columns]

In [ ]:
st1= pd.concat([dp1, dp2,dp3,dp4,dpP5], axis=0)
st1

In [ ]:
st1.to_csv('D3set5.csv', index=False)