<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/newD2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 import pandas as pd
 import numpy as np

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/My Drive/shadeimg'

In [ ]:
import os

In [ ]:
os.listdir(path)

['9-10 7 2021',
 'รูปฟัน07',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'FAF5097E-1FEB-41DF-92C9-C190A88FE15F.png',
 'CD25F822-5A97-4F4A-8667-90D9F5C9CC62.png',
 'B772B836-0F38-44D5-959C-675C592375FE.png',
 '1665B5AE-934F-4116-AE19-3369544A125F.png',
 'Color-checkerDD .xlsx',
 'Color-checkerAA1.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 '44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png',
 '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png',
 '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png']

In [ ]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 6.5 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.28-py2.py3-none-any.whl (14 kB)
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 5.1 MB/s
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 49.8 MB/s
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.28 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [ ]:
from azure.storage.blob import BlockBlobService
import os

In [ ]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [ ]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [ ]:
AA = os.path.join(path,'DD1.xlsx')

In [ ]:
A1_set1= pd.read_excel(AA, sheet_name='D4Set2')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                    หมายเหตุ
0    797683A5-C868-494F-A26C-B587A80C35FB.png  ...  ค่า duration 1/100 ISO 630
1    768E32A5-C3FF-468D-A2DA-784E5201EAB8.png  ...  ค่า duration 1/100 ISO 630
2    B16EC514-E307-4DF1-B38E-4D502BECAE1E.png  ...  ค่า duration 1/100 ISO 630
3    4B4FB3F9-B796-4241-8FE6-890C04EEBA34.png  ...  ค่า duration 1/100 ISO 630
4    D5FF5062-E4EF-473A-B716-33BA16B096B9.png  ...  ค่า duration 1/100 ISO 630
..                                        ...  ...                         ...
175  8246DD62-E359-4E26-85C5-ECAF1EF21745.png  ...  ค่า duration 1/100 ISO 630
176  48E25160-BC22-42EE-87E0-0AD8D859D504.png  ...  ค่า duration 1/100 ISO 630
177  D17313E9-79BC-4488-AFF4-7731CDC679F5.png  ...  ค่า duration 1/100 ISO 630
178  4F81BAF1-1F2F-448E-8915-D9ECB2FD6CB7.png  ...  ค่า duration 1/100 ISO 630
179  5A4CA22B-87A9-4808-885E-E902B15FDAFC.png  ...  ค่า duration 1/100 ISO 630

[180 rows x 7 columns]

In [ ]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [ ]:
A1_set1

                                          Img  ...                    หมายเหตุ
0    797683A5-C868-494F-A26C-B587A80C35FB.png  ...  ค่า duration 1/100 ISO 630
1    768E32A5-C3FF-468D-A2DA-784E5201EAB8.png  ...  ค่า duration 1/100 ISO 630
2    B16EC514-E307-4DF1-B38E-4D502BECAE1E.png  ...  ค่า duration 1/100 ISO 630
3    4B4FB3F9-B796-4241-8FE6-890C04EEBA34.png  ...  ค่า duration 1/100 ISO 630
4    D5FF5062-E4EF-473A-B716-33BA16B096B9.png  ...  ค่า duration 1/100 ISO 630
..                                        ...  ...                         ...
175  8246DD62-E359-4E26-85C5-ECAF1EF21745.png  ...  ค่า duration 1/100 ISO 630
176  48E25160-BC22-42EE-87E0-0AD8D859D504.png  ...  ค่า duration 1/100 ISO 630
177  D17313E9-79BC-4488-AFF4-7731CDC679F5.png  ...  ค่า duration 1/100 ISO 630
178  4F81BAF1-1F2F-448E-8915-D9ECB2FD6CB7.png  ...  ค่า duration 1/100 ISO 630
179  5A4CA22B-87A9-4808-885E-E902B15FDAFC.png  ...  ค่า duration 1/100 ISO 630

[180 rows x 7 columns]

In [ ]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

     Ref Shad                                       Img
0     D4   A1  797683A5-C868-494F-A26C-B587A80C35FB.png
1     D4   A1  768E32A5-C3FF-468D-A2DA-784E5201EAB8.png
2     D4   A1  B16EC514-E307-4DF1-B38E-4D502BECAE1E.png
3     D4   A1  4B4FB3F9-B796-4241-8FE6-890C04EEBA34.png
4     D4   A1  D5FF5062-E4EF-473A-B716-33BA16B096B9.png
..   ...  ...                                       ...
175  NaN   D4  8246DD62-E359-4E26-85C5-ECAF1EF21745.png
176  NaN   D4  48E25160-BC22-42EE-87E0-0AD8D859D504.png
177  NaN   D4  D17313E9-79BC-4488-AFF4-7731CDC679F5.png
178  NaN   D4  4F81BAF1-1F2F-448E-8915-D9ECB2FD6CB7.png
179  NaN   D4  5A4CA22B-87A9-4808-885E-E902B15FDAFC.png

[180 rows x 3 columns]

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

     Ref Shad                                       Img
0     D4   A1  797683A5-C868-494F-A26C-B587A80C35FB.png
1     D4   A1  768E32A5-C3FF-468D-A2DA-784E5201EAB8.png
2     D4   A1  B16EC514-E307-4DF1-B38E-4D502BECAE1E.png
3     D4   A1  4B4FB3F9-B796-4241-8FE6-890C04EEBA34.png
4     D4   A1  D5FF5062-E4EF-473A-B716-33BA16B096B9.png
..   ...  ...                                       ...
175  NaN   D4  8246DD62-E359-4E26-85C5-ECAF1EF21745.png
176  NaN   D4  48E25160-BC22-42EE-87E0-0AD8D859D504.png
177  NaN   D4  D17313E9-79BC-4488-AFF4-7731CDC679F5.png
178  NaN   D4  4F81BAF1-1F2F-448E-8915-D9ECB2FD6CB7.png
179  NaN   D4  5A4CA22B-87A9-4808-885E-E902B15FDAFC.png

[180 rows x 3 columns]

In [ ]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img  ...                    หมายเหตุ
0  797683A5-C868-494F-A26C-B587A80C35FB.png  ...  ค่า duration 1/100 ISO 630
1  768E32A5-C3FF-468D-A2DA-784E5201EAB8.png  ...  ค่า duration 1/100 ISO 630
2  B16EC514-E307-4DF1-B38E-4D502BECAE1E.png  ...  ค่า duration 1/100 ISO 630

[3 rows x 7 columns]

In [ ]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png'

In [ ]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821] 
S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)
# all_total.append(list_total)

In [ ]:
list_total

[223.87314341368395,
 199.018018018018,
 157.4263452641831,
 235.6770554338122,
 214.7927927927928,
 175.47877607337068]

In [ ]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [ ]:
list_total1

[[222.84514243973703, 204.930200470741, 162.1330249168087],
 [228.33568703838975, 210.42504666828992, 168.05372940508076],
 [227.27165002840678, 208.42415388361334, 165.68371073776478]]

In [ ]:
# all_total = list()
# for img in A1_set11['Img']:
#   S5_double = img
#   full_path_to_file2 = os.path.join(S5_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imagee = cv2.imread(S5_double)
#   S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
#   S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
#   S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
#   S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
#   S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
#   S5refA1_3 = np.array(S5refA1_1)
#   S5refA1_4 = np.array(S5refA1_2)
#   Rref = S5refA1_1[:,0].mean()
#   Gref = S5refA1_1[:,1].mean()
#   Bref = S5refA1_1[:,2].mean()
#   R = S5refA1_2[:,0].mean()
#   G = S5refA1_2[:,1].mean()
#   B = S5refA1_2[:,2].mean()

#   list_total = list()
#   list_total.append(Rref)
#   list_total.append(Gref)
#   list_total.append(Bref)
#   list_total.append(R)
#   list_total.append(G)
#   list_total.append(B)
#   all_total.append(list_total)

In [ ]:
# cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
# S1=pd.DataFrame(all_total,columns=cols)
# S1['Setting']='Set1'
# S1

In [ ]:
[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

[[239.26191055920785, 226.7721775829884, 193.5400535670806],
 [238.4326759191624, 226.12490869247625, 192.41555068582096],
 [238.7831344858372, 226.52520087655222, 193.02548494440387]]

In [ ]:
all_total = list()
for img in A1_set11['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  all_total.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
S2=pd.DataFrame(all_total,columns=cols)
S2['Setting']='Set1'
S2

       H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0  21.730136  92.286178  222.503774  21.146822  68.220599  231.151368    Set1
1  21.930687  84.742229  227.166951  21.674945  63.030760  234.655060    Set1
2  21.847983  85.787111  226.220924  21.248438  64.638179  233.944485    Set1

In [ ]:
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1700:1811,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]

#Datapoint 1

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1710),(1820,1820),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1820),(2140,1710),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_1R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_1R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t1=pd.DataFrame(data_1R,columns=cols)
t1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    221.452966  198.663258  140.723480  231.151368  212.407353  169.323269
1    225.967129  204.788329  149.623570  234.655060  217.866732  176.751238
2    225.045532  203.394449  148.004383  233.944485  216.094635  174.729162
3    227.891567  205.473095  150.025728  236.328139  218.400698  177.037659
4    227.365311  204.793036  149.139599  235.596218  217.444039  175.850337
..          ...         ...         ...         ...         ...         ...
175  232.332035  210.735573  155.115819  232.209480  210.398344  154.826556
176  230.434705  208.593134  153.862349  230.927603  208.410762  153.750183
177  230.329600  208.196169  152.586397  230.626978  208.392014  152.532505
178  230.479263  208.721370  153.299894  230.000000  207.791251  152.961123
179  232.280416  210.003733  154.734356  231.908530  209.557909  154.577551

[180 rows x 6 columns]

In [ ]:
data_1H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1710:1821,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1710:1821,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_1H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t11=pd.DataFrame(data_1H,columns=cols)
t11['Setting']='Set2'
t11

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    21.725672  92.970944  221.452966  21.146822  68.220599  231.151368    Set2
1    21.869653  86.252739  225.967129  21.674945  63.030760  234.655060    Set2
2    21.779239  87.409220  225.045532  21.248438  64.638179  233.944485    Set2
3    21.584287  87.221654  227.891567  21.185293  64.026702  236.328220    Set2
4    21.570571  87.843844  227.365311  21.106891  64.754322  235.596380    Set2
..         ...        ...         ...        ...        ...         ...     ...
175  21.778427  84.849606  232.332035  21.649136  85.207126  232.209561    Set2
176  21.614885  84.885318  230.434705  21.434867  85.456051  230.928090    Set2
177  21.647512  86.211996  230.329600  21.591023  86.591916  230.626978    Set2
178  21.742635  85.531532  230.479263  21.504018  85.636393  230.002191    Set2
179  21.544436  85.257365  232.280416  21.500528  85.259557  231.908692    Set2

[180 rows x 7 columns]

In [ ]:
dp1 = pd.concat([t1,t11,table1], axis=1)
dp1

          R-ref       G-ref  ...  Shad                                       Img
0    221.452966  198.663258  ...    A1  797683A5-C868-494F-A26C-B587A80C35FB.png
1    225.967129  204.788329  ...    A1  768E32A5-C3FF-468D-A2DA-784E5201EAB8.png
2    225.045532  203.394449  ...    A1  B16EC514-E307-4DF1-B38E-4D502BECAE1E.png
3    227.891567  205.473095  ...    A1  4B4FB3F9-B796-4241-8FE6-890C04EEBA34.png
4    227.365311  204.793036  ...    A1  D5FF5062-E4EF-473A-B716-33BA16B096B9.png
..          ...         ...  ...   ...                                       ...
175  232.332035  210.735573  ...    D4  8246DD62-E359-4E26-85C5-ECAF1EF21745.png
176  230.434705  208.593134  ...    D4  48E25160-BC22-42EE-87E0-0AD8D859D504.png
177  230.329600  208.196169  ...    D4  D17313E9-79BC-4488-AFF4-7731CDC679F5.png
178  230.479263  208.721370  ...    D4  4F81BAF1-1F2F-448E-8915-D9ECB2FD6CB7.png
179  232.280416  210.003733  ...    D4  5A4CA22B-87A9-4808-885E-E902B15FDAFC.png

[180 rows x 16 columns]

#Datapoint 2

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1711),(1820,1821),(255,0,0),10)#(x,y)(x,y) 
# shad10= cv2.rectangle(RGB_img1,(2030,1821),(2140,1711),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_2R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_2R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t2=pd.DataFrame(data_2R,columns=cols)
t2

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    221.346563  198.551984  140.612044  231.045776  212.305982  169.213294
1    225.857073  204.659037  149.442821  234.562373  217.752617  176.586965
2    224.941076  203.262316  147.819171  233.840597  215.972729  174.572843
3    227.812759  205.354111  149.887915  236.253145  218.304845  176.901307
4    227.271975  204.651002  148.977924  235.500446  217.326029  175.698401
..          ...         ...         ...         ...         ...         ...
175  232.229364  210.584612  154.923302  232.098937  210.225550  154.604091
176  230.331142  208.448016  153.659119  230.803669  208.220842  153.511160
177  230.235452  208.056002  152.398425  230.503044  208.203149  152.298596
178  230.383573  208.573249  153.107946  229.872494  207.598572  152.717880
179  232.186024  209.865595  154.550199  231.786381  209.371804  154.342099

[180 rows x 6 columns]

In [ ]:
data_2H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1711:1822,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1711:1822,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_2H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t22=pd.DataFrame(data_2H,columns=cols)
t22['Setting']='Set2'
t22

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    21.725347  93.021589  221.346563  21.150231  68.257852  231.045776    Set2
1    21.870303  86.373346  225.857073  21.677461  63.133593  234.562373    Set2
2    21.777615  87.540622  224.941076  21.250548  64.722831  233.840597    Set2
3    21.577307  87.316857  227.812759  21.186673  64.111517  236.253226    Set2
4    21.561480  87.955280  227.271975  21.105511  64.839705  235.500609    Set2
..         ...        ...         ...        ...        ...         ...     ...
175  21.769337  84.984173  232.229364  21.633958  85.366366  232.099018    Set2
176  21.610665  85.031491  230.331142  21.419122  85.624056  230.804156    Set2
177  21.639802  86.348754  230.235452  21.575440  86.753591  230.503044    Set2
178  21.732408  85.672105  230.383573  21.490626  85.806509  229.874685    Set2
179  21.539404  85.388199  232.186024  21.486486  85.423910  231.786543    Set2

[180 rows x 7 columns]

In [ ]:
dp2 = pd.concat([t2,t22,table1], axis=1)
dp2

          R-ref       G-ref  ...  Shad                                       Img
0    221.346563  198.551984  ...    A1  797683A5-C868-494F-A26C-B587A80C35FB.png
1    225.857073  204.659037  ...    A1  768E32A5-C3FF-468D-A2DA-784E5201EAB8.png
2    224.941076  203.262316  ...    A1  B16EC514-E307-4DF1-B38E-4D502BECAE1E.png
3    227.812759  205.354111  ...    A1  4B4FB3F9-B796-4241-8FE6-890C04EEBA34.png
4    227.271975  204.651002  ...    A1  D5FF5062-E4EF-473A-B716-33BA16B096B9.png
..          ...         ...  ...   ...                                       ...
175  232.229364  210.584612  ...    D4  8246DD62-E359-4E26-85C5-ECAF1EF21745.png
176  230.331142  208.448016  ...    D4  48E25160-BC22-42EE-87E0-0AD8D859D504.png
177  230.235452  208.056002  ...    D4  D17313E9-79BC-4488-AFF4-7731CDC679F5.png
178  230.383573  208.573249  ...    D4  4F81BAF1-1F2F-448E-8915-D9ECB2FD6CB7.png
179  232.186024  209.865595  ...    D4  5A4CA22B-87A9-4808-885E-E902B15FDAFC.png

[180 rows x 16 columns]

#Datapoint 3

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1730),(1820,1840),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1840),(2140,1730),(255,0,0),10) 
# plt.imshow(RGB_img1

In [ ]:
data_3R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_3R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t3=pd.DataFrame(data_3R,columns=cols)
t3

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    218.984904  196.210210  138.531288  228.785164  210.267348  167.038877
1    223.758461  202.058518  146.007223  232.672267  215.410762  173.426670
2    222.968266  200.547358  144.238292  231.694668  213.459622  171.383979
3    225.909748  202.673890  146.704488  234.507589  215.962097  173.782161
4    225.289506  201.746449  145.691340  233.406217  214.836783  172.558964
..          ...         ...         ...         ...         ...         ...
175  230.447204  207.955685  151.623001  230.108108  207.356140  151.056327
176  228.486730  205.829478  150.098125  229.000893  205.546871  150.230095
177  228.407272  205.465141  149.018505  228.688418  205.475611  149.116549
178  228.432351  205.686227  149.457512  228.212645  205.078890  149.583232
179  230.571707  207.465060  151.360766  230.030598  206.743933  151.035306

[180 rows x 6 columns]

In [ ]:
data_3H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1730:1841,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1730:1841,2030:2141]
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_3H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t33=pd.DataFrame(data_3H,columns=cols)
t33['Setting']='Set2'
t33

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    21.723074  93.685009  218.984904  21.273354  68.851230  228.785164    Set2
1    21.830046  88.670075  223.758461  21.668939  65.017693  232.672267    Set2
2    21.681438  90.109975  222.968266  21.258826  66.450532  231.694668    Set2
3    21.464329  89.457593  225.909748  21.087249  66.047155  234.507589    Set2
4    21.370668  90.164759  225.289506  21.092768  66.533074  233.406217    Set2
..         ...        ...         ...        ...        ...         ...     ...
175  21.645402  87.307443  230.447204  21.486973  87.808295  230.108189    Set2
176  21.513919  87.607662  228.486730  21.278305  87.915916  229.001380    Set2
177  21.522198  88.736142  228.407272  21.374401  88.934664  228.688418    Set2
178  21.559533  88.255986  228.432351  21.341774  88.057219  228.214836    Set2
179  21.442984  87.712523  230.571707  21.330898  87.778021  230.030760    Set2

[180 rows x 7 columns]

In [ ]:
dp3 = pd.concat([t3,t33,table1], axis=1)
dp3

          R-ref       G-ref  ...  Shad                                       Img
0    218.984904  196.210210  ...    A1  797683A5-C868-494F-A26C-B587A80C35FB.png
1    223.758461  202.058518  ...    A1  768E32A5-C3FF-468D-A2DA-784E5201EAB8.png
2    222.968266  200.547358  ...    A1  B16EC514-E307-4DF1-B38E-4D502BECAE1E.png
3    225.909748  202.673890  ...    A1  4B4FB3F9-B796-4241-8FE6-890C04EEBA34.png
4    225.289506  201.746449  ...    A1  D5FF5062-E4EF-473A-B716-33BA16B096B9.png
..          ...         ...  ...   ...                                       ...
175  230.447204  207.955685  ...    D4  8246DD62-E359-4E26-85C5-ECAF1EF21745.png
176  228.486730  205.829478  ...    D4  48E25160-BC22-42EE-87E0-0AD8D859D504.png
177  228.407272  205.465141  ...    D4  D17313E9-79BC-4488-AFF4-7731CDC679F5.png
178  228.432351  205.686227  ...    D4  4F81BAF1-1F2F-448E-8915-D9ECB2FD6CB7.png
179  230.571707  207.465060  ...    D4  5A4CA22B-87A9-4808-885E-E902B15FDAFC.png

[180 rows x 16 columns]

#Datapoint 4

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1750),(1820,1860),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1860),(2140,1750),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_4R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141]  
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_4R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t4=pd.DataFrame(data_4R,columns=cols)
t4

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    216.301112  193.710170  136.545329  225.989855  207.792793  164.613992
1    221.245029  199.167600  142.495739  230.337473  212.772096  170.166301
2    220.649704  197.540541  140.500771  229.294862  210.732165  168.115169
3    223.717312  199.733301  143.359711  232.491275  213.503125  170.817791
4    222.882477  198.580472  142.120688  230.822011  211.919081  169.064118
..          ...         ...         ...         ...         ...         ...
175  228.422044  205.004139  148.070936  227.610665  203.856099  146.381463
176  225.992452  202.502557  145.868436  226.297054  201.852041  145.305819
177  226.052674  202.252171  144.963883  225.996104  201.763412  144.237237
178  226.079133  202.397938  145.452561  225.558315  201.419122  144.563266
179  228.388605  204.379109  147.532343  227.432432  203.124990  146.101940

[180 rows x 6 columns]

In [ ]:
data_4H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1750:1861,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1750:1861,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_4H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t44=pd.DataFrame(data_4H,columns=cols)
t44['Setting']='Set2'
t44

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    21.714228  94.001299  216.301112  21.413927  69.294944  225.989855    Set2
1    21.833780  90.782161  221.245029  21.694181  66.658713  230.337473    Set2
2    21.604334  92.646863  220.649704  21.232692  68.085302  229.294862    Set2
3    21.295918  91.604740  223.717312  20.999594  67.647269  232.491275    Set2
4    21.221167  92.431540  222.882477  21.069556  68.260450  230.822011    Set2
..         ...        ...         ...        ...        ...         ...     ...
175  21.477640  89.740200  228.422044  21.355815  91.084571  227.610665    Set2
176  21.401753  90.480643  225.992452  21.138300  91.322458  226.297054    Set2
177  21.363039  91.524714  226.052674  21.208668  92.305657  225.996104    Set2
178  21.394530  90.975895  226.079133  21.262641  91.591835  225.558315    Set2
179  21.306631  90.342748  228.388605  21.200552  91.259557  227.432432    Set2

[180 rows x 7 columns]

In [ ]:
dp4 = pd.concat([t4,t44,table1], axis=1)
dp4

          R-ref       G-ref  ...  Shad                                       Img
0    216.301112  193.710170  ...    A1  797683A5-C868-494F-A26C-B587A80C35FB.png
1    221.245029  199.167600  ...    A1  768E32A5-C3FF-468D-A2DA-784E5201EAB8.png
2    220.649704  197.540541  ...    A1  B16EC514-E307-4DF1-B38E-4D502BECAE1E.png
3    223.717312  199.733301  ...    A1  4B4FB3F9-B796-4241-8FE6-890C04EEBA34.png
4    222.882477  198.580472  ...    A1  D5FF5062-E4EF-473A-B716-33BA16B096B9.png
..          ...         ...  ...   ...                                       ...
175  228.422044  205.004139  ...    D4  8246DD62-E359-4E26-85C5-ECAF1EF21745.png
176  225.992452  202.502557  ...    D4  48E25160-BC22-42EE-87E0-0AD8D859D504.png
177  226.052674  202.252171  ...    D4  D17313E9-79BC-4488-AFF4-7731CDC679F5.png
178  226.079133  202.397938  ...    D4  4F81BAF1-1F2F-448E-8915-D9ECB2FD6CB7.png
179  228.388605  204.379109  ...    D4  5A4CA22B-87A9-4808-885E-E902B15FDAFC.png

[180 rows x 16 columns]

#Datapoint 5

In [ ]:
# ref1 = cv2.rectangle(RGB_img1,(1710,1770),(1820,1880),(255,0,0),10)#(x,y)(x,y)
# shad10= cv2.rectangle(RGB_img1,(2030,1880),(2140,1770),(255,0,0),10) 
# plt.imshow(RGB_img1)

In [ ]:
data_5R = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)#RGB
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Rref = S5refA1_1[:,0].mean()
  Gref = S5refA1_1[:,1].mean()
  Bref = S5refA1_1[:,2].mean()
  R = S5refA1_2[:,0].mean()
  G = S5refA1_2[:,1].mean()
  B = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Rref)
  list_total.append(Gref)
  list_total.append(Bref)
  list_total.append(R)
  list_total.append(G)
  list_total.append(B)
  data_5R.append(list_total)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
t5=pd.DataFrame(data_5R,columns=cols)
t5

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    213.533804  191.196656  135.447366  223.063063  205.209967  162.564889
1    219.077753  196.750264  140.129860  228.334713  210.535590  168.157942
2    218.643373  195.173200  138.130834  227.376106  208.503449  165.973298
3    221.790358  197.301193  140.857236  230.414983  211.438601  168.788572
4    220.679490  195.979466  139.594919  228.609772  209.709115  166.771366
..          ...         ...         ...         ...         ...         ...
175  226.690447  202.686633  145.737927  225.677948  201.359711  143.959825
176  223.798718  199.702459  143.006493  224.081974  199.086519  142.426183
177  224.069637  199.804156  142.389741  223.820226  199.102346  141.771285
178  223.940346  199.721370  142.798799  223.612288  198.918270  142.316857
179  226.420177  201.772259  144.907232  225.426183  200.541596  143.534210

[180 rows x 6 columns]

In [ ]:
data_5H = list()
for img in A1_set1['Img']:
  S5_double = img
  full_path_to_file2 = os.path.join(S5_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imagee = cv2.imread(S5_double)
  S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2HSV)#HSV
  S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,1710:1821]  
  S5meanA1_2 = S5RGB_imgA1A1_1[1770:1881,2030:2141] 
  S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
  S5refA1_2 = np.reshape(S5meanA1_2,(111*111, 3))
  S5refA1_3 = np.array(S5refA1_1)
  S5refA1_4 = np.array(S5refA1_2)
  Href = S5refA1_1[:,0].mean()
  Sref = S5refA1_1[:,1].mean()
  Vref = S5refA1_1[:,2].mean()
  H = S5refA1_2[:,0].mean()
  S = S5refA1_2[:,1].mean()
  V = S5refA1_2[:,2].mean()

  list_total = list()
  list_total.append(Href)
  list_total.append(Sref)
  list_total.append(Vref)
  list_total.append(H)
  list_total.append(S)
  list_total.append(V)
  data_5H.append(list_total)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad']
t55=pd.DataFrame(data_5H,columns=cols)
t55['Setting']='Set2'
t55

         H-ref      S-ref       V-ref     H-Shad     S-Shad      V-Shad Setting
0    21.592241  93.186592  213.533804  21.469118  69.186835  223.063063    Set2
1    21.745232  91.900901  219.077753  21.545004  67.252333  228.334713    Set2
2    21.495982  93.916078  218.643373  21.053648  68.922003  227.376106    Set2
3    21.159565  93.059898  221.790358  20.982794  68.227660  230.414983    Set2
4    21.096421  93.731109  220.679490  21.072316  69.030679  228.609772    Set2
..         ...        ...         ...        ...        ...         ...     ...
175  21.325785  91.088954  226.690447  21.216703  92.396234  225.677948    Set2
176  21.257528  92.119390  223.798718  21.015259  92.973135  224.081974    Set2
177  21.211509  93.007629  224.069637  21.060709  93.521549  223.820226    Set2
178  21.242837  92.430322  223.940346  21.093174  92.727133  223.612288    Set2
179  21.134892  91.863079  226.420177  21.040987  92.698320  225.426183    Set2

[180 rows x 7 columns]

In [ ]:
dp5= pd.concat([t5,t55,table1], axis=1)
dp5

          R-ref       G-ref  ...  Shad                                       Img
0    213.533804  191.196656  ...    A1  797683A5-C868-494F-A26C-B587A80C35FB.png
1    219.077753  196.750264  ...    A1  768E32A5-C3FF-468D-A2DA-784E5201EAB8.png
2    218.643373  195.173200  ...    A1  B16EC514-E307-4DF1-B38E-4D502BECAE1E.png
3    221.790358  197.301193  ...    A1  4B4FB3F9-B796-4241-8FE6-890C04EEBA34.png
4    220.679490  195.979466  ...    A1  D5FF5062-E4EF-473A-B716-33BA16B096B9.png
..          ...         ...  ...   ...                                       ...
175  226.690447  202.686633  ...    D4  8246DD62-E359-4E26-85C5-ECAF1EF21745.png
176  223.798718  199.702459  ...    D4  48E25160-BC22-42EE-87E0-0AD8D859D504.png
177  224.069637  199.804156  ...    D4  D17313E9-79BC-4488-AFF4-7731CDC679F5.png
178  223.940346  199.721370  ...    D4  4F81BAF1-1F2F-448E-8915-D9ECB2FD6CB7.png
179  226.420177  201.772259  ...    D4  5A4CA22B-87A9-4808-885E-E902B15FDAFC.png

[180 rows x 16 columns]

In [ ]:
st1= pd.concat([dp1, dp2,dp3,dp4,dp5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    221.452966  198.663258  ...    A1  797683A5-C868-494F-A26C-B587A80C35FB.png
1    225.967129  204.788329  ...    A1  768E32A5-C3FF-468D-A2DA-784E5201EAB8.png
2    225.045532  203.394449  ...    A1  B16EC514-E307-4DF1-B38E-4D502BECAE1E.png
3    227.891567  205.473095  ...    A1  4B4FB3F9-B796-4241-8FE6-890C04EEBA34.png
4    227.365311  204.793036  ...    A1  D5FF5062-E4EF-473A-B716-33BA16B096B9.png
..          ...         ...  ...   ...                                       ...
175  226.690447  202.686633  ...    D4  8246DD62-E359-4E26-85C5-ECAF1EF21745.png
176  223.798718  199.702459  ...    D4  48E25160-BC22-42EE-87E0-0AD8D859D504.png
177  224.069637  199.804156  ...    D4  D17313E9-79BC-4488-AFF4-7731CDC679F5.png
178  223.940346  199.721370  ...    D4  4F81BAF1-1F2F-448E-8915-D9ECB2FD6CB7.png
179  226.420177  201.772259  ...    D4  5A4CA22B-87A9-4808-885E-E902B15FDAFC.png

[900 rows x 16 columns]

In [ ]:
st1.to_csv('D4_2.csv', index=False)