<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/prepareBSet1_%E0%B8%BA%E0%B8%BA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import pandas as pd

In [33]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [121]:
path = '/content/drive/My Drive/shadeimg'

In [122]:
import os

In [123]:
os.listdir(path)

['9-10 7 2021',
 'รูปฟัน07',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade']

In [124]:
!pip install azure-storage-blob==2.1.0

Requirement already satisfied: azure-storage-blob==2.1.0 in /usr/local/lib/python3.7/dist-packages (2.1.0)
Requirement already satisfied: azure-common>=1.1.5 in /usr/local/lib/python3.7/dist-packages (from azure-storage-blob==2.1.0) (1.1.27)
Requirement already satisfied: azure-storage-common~=2.1 in /usr/local/lib/python3.7/dist-packages (from azure-storage-blob==2.1.0) (2.1.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: cryptography in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (36.0.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)

In [125]:
from azure.storage.blob import BlockBlobService
import os

In [126]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [148]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [149]:
AA = os.path.join(path,'BB1.xlsx')

In [183]:
A1_set1= pd.read_excel(AA, sheet_name='B1Set1')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                   หมายเหตุ
0    1CE4FFAC-5C8A-4C04-8A57-7BB28F25302D.png  ...  ค่า duration 1/90 ISO 171
1    67F8EDAB-A9C7-4B91-B07B-BFADEE915B61.png  ...  ค่า duration 1/90 ISO 171
2    935ACCF9-A4D6-4CB3-A437-6333758D46CD.png  ...  ค่า duration 1/90 ISO 171
3    C7A49040-51EF-4045-9394-5E8F4A17B8A2.png  ...  ค่า duration 1/90 ISO 171
4    EFCB2FF8-FACF-4778-946B-4DFEC0F8EB5D.png  ...  ค่า duration 1/90 ISO 171
..                                        ...  ...                        ...
156  7F907FD3-86BA-4233-82DF-9B77B09B5566.png  ...  ค่า duration 1/90 ISO 171
157  72C70439-4042-4FE8-9CA7-4B50C1DBFE4F.png  ...  ค่า duration 1/90 ISO 171
158  A94C9C2F-7BE2-4FB6-9162-EF80D3AA69E5.png  ...  ค่า duration 1/90 ISO 171
159  8500912D-3416-4130-A2F6-94C82BC93D04.png  ...  ค่า duration 1/90 ISO 171
160  6B11BEFB-86E4-4D50-8F02-75BD276538B8.png  ...  ค่า duration 1/90 ISO 171

[161 rows x 7 columns]

In [184]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [185]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [186]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [187]:
A1_set1

                                          Img  ...                   หมายเหตุ
0    1CE4FFAC-5C8A-4C04-8A57-7BB28F25302D.png  ...  ค่า duration 1/90 ISO 171
1    67F8EDAB-A9C7-4B91-B07B-BFADEE915B61.png  ...  ค่า duration 1/90 ISO 171
2    935ACCF9-A4D6-4CB3-A437-6333758D46CD.png  ...  ค่า duration 1/90 ISO 171
3    C7A49040-51EF-4045-9394-5E8F4A17B8A2.png  ...  ค่า duration 1/90 ISO 171
4    EFCB2FF8-FACF-4778-946B-4DFEC0F8EB5D.png  ...  ค่า duration 1/90 ISO 171
..                                        ...  ...                        ...
156  7F907FD3-86BA-4233-82DF-9B77B09B5566.png  ...  ค่า duration 1/90 ISO 171
157  72C70439-4042-4FE8-9CA7-4B50C1DBFE4F.png  ...  ค่า duration 1/90 ISO 171
158  A94C9C2F-7BE2-4FB6-9162-EF80D3AA69E5.png  ...  ค่า duration 1/90 ISO 171
159  8500912D-3416-4130-A2F6-94C82BC93D04.png  ...  ค่า duration 1/90 ISO 171
160  6B11BEFB-86E4-4D50-8F02-75BD276538B8.png  ...  ค่า duration 1/90 ISO 171

[161 rows x 7 columns]

In [ ]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [242]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    B1   A1  1CE4FFAC-5C8A-4C04-8A57-7BB28F25302D.png
1    B1   A1  67F8EDAB-A9C7-4B91-B07B-BFADEE915B61.png
2    B1   A1  935ACCF9-A4D6-4CB3-A437-6333758D46CD.png
3    B1   A1  C7A49040-51EF-4045-9394-5E8F4A17B8A2.png
4    B1   A1  EFCB2FF8-FACF-4778-946B-4DFEC0F8EB5D.png
..   ..  ...                                       ...
156  B1   D4  7F907FD3-86BA-4233-82DF-9B77B09B5566.png
157  B1   D4  72C70439-4042-4FE8-9CA7-4B50C1DBFE4F.png
158  B1   D4  A94C9C2F-7BE2-4FB6-9162-EF80D3AA69E5.png
159  B1   D4  8500912D-3416-4130-A2F6-94C82BC93D04.png
160  B1   D4  6B11BEFB-86E4-4D50-8F02-75BD276538B8.png

[161 rows x 3 columns]

In [177]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img  ...                   หมายเหตุ
0  1CE4FFAC-5C8A-4C04-8A57-7BB28F25302D.png  ...  ค่า duration 1/90 ISO 171
1  67F8EDAB-A9C7-4B91-B07B-BFADEE915B61.png  ...  ค่า duration 1/90 ISO 171
2  935ACCF9-A4D6-4CB3-A437-6333758D46CD.png  ...  ค่า duration 1/90 ISO 171

[3 rows x 7 columns]

In [168]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [172]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total1,columns=cols)
S1['Setting']='Set1'
S1

        R-ref       G-ref       B-ref Setting
0  236.314341  223.389579  187.686227    Set1
1  233.183427  220.441198  184.088791    Set1
2  237.357357  224.482672  188.834267    Set1

In [189]:
pd.concat([S1,table1], axis=1)

          R-ref       G-ref  ...  Shad                                       Img
0    236.314341  223.389579  ...    A1  1CE4FFAC-5C8A-4C04-8A57-7BB28F25302D.png
1    233.183427  220.441198  ...    A1  67F8EDAB-A9C7-4B91-B07B-BFADEE915B61.png
2    237.357357  224.482672  ...    A1  935ACCF9-A4D6-4CB3-A437-6333758D46CD.png
3           NaN         NaN  ...    A1  C7A49040-51EF-4045-9394-5E8F4A17B8A2.png
4           NaN         NaN  ...    A1  EFCB2FF8-FACF-4778-946B-4DFEC0F8EB5D.png
..          ...         ...  ...   ...                                       ...
156         NaN         NaN  ...    D4  7F907FD3-86BA-4233-82DF-9B77B09B5566.png
157         NaN         NaN  ...    D4  72C70439-4042-4FE8-9CA7-4B50C1DBFE4F.png
158         NaN         NaN  ...    D4  A94C9C2F-7BE2-4FB6-9162-EF80D3AA69E5.png
159         NaN         NaN  ...    D4  8500912D-3416-4130-A2F6-94C82BC93D04.png
160         NaN         NaN  ...    D4  6B11BEFB-86E4-4D50-8F02-75BD276538B8.png

[161 rows x 7 columns]

In [87]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [85]:
import numpy as np

In [ ]:
from tabulate import tabulate

In [ ]:
table   = [['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref', 'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Shade-ref', 'Shade', 'Setting']]

#ดึงค่า

In [190]:
list_total1 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [191]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total1,columns=cols)
S1.index.names=['id']

In [192]:
list_total2 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total2.append(S1rgbA1_2)

In [193]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total2,columns=cols)

In [194]:
dataA1 = pd.concat([S1, S2], axis=1)
dataA1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    236.314341  223.389579  187.686227  236.876822  224.211578  189.309935
1    233.183427  220.441198  184.088791  233.870279  221.334756  185.852713
2    237.357357  224.482672  188.834267  237.946874  225.400185  190.514473
3    236.065741  223.146741  186.807483  236.561553  223.920560  188.271460
4    233.034575  220.866569  187.019560  233.712538  221.772989  188.830026
..          ...         ...         ...         ...         ...         ...
156  239.118335  216.050564  158.699781  239.658132  217.167485  160.984283
157  239.361821  216.616833  158.641344  239.945665  217.904914  161.247209
158  238.982307  216.200390  158.490707  239.499680  217.358296  160.952564
159  239.360036  216.736872  159.438195  239.948937  218.044663  162.102624
160  239.001542  216.160295  159.107702  239.599459  217.459213  161.832018

[161 rows x 6 columns]

##HSV

In [195]:
list_total11 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total11.append(S1rgbrefA1_1)

In [196]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total11,columns=cols)
S11.index.names=['id']

In [197]:
list_total22 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total22.append(S1hsvA1_2)

In [254]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total22,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'
S22

        H-Shad     S-Shad      V-Shad Setting
id
0    22.043738  51.351611  236.877178    Set1
1    22.205675  52.463907  233.870279    Set1
2    22.124102  50.998151  237.948368    Set1
3    22.157172  52.162151  236.561553    Set1
4    22.067847  49.073181  233.713676    Set1
..         ...        ...         ...     ...
156  21.519095  83.864092  239.663537    Set1
157  21.651447  83.825261  239.948439    Set1
158  21.624280  83.795889  239.509565    Set1
159  21.667662  82.927388  239.952208    Set1
160  21.606500  82.950004  239.605220    Set1

[161 rows x 4 columns]

In [253]:
dataP1 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP1

          R-ref       G-ref  ...  Shad                                       Img
0    236.874709  224.246018  ...    A1  1CE4FFAC-5C8A-4C04-8A57-7BB28F25302D.png
1    233.620047  221.292735  ...    A1  67F8EDAB-A9C7-4B91-B07B-BFADEE915B61.png
2    237.811480  225.270882  ...    A1  935ACCF9-A4D6-4CB3-A437-6333758D46CD.png
3    236.552836  224.011752  ...    A1  C7A49040-51EF-4045-9394-5E8F4A17B8A2.png
4    233.531080  221.732129  ...    A1  EFCB2FF8-FACF-4778-946B-4DFEC0F8EB5D.png
..          ...         ...  ...   ...                                       ...
156  239.445416  216.596348  ...    D4  7F907FD3-86BA-4233-82DF-9B77B09B5566.png
157  239.730963  217.195319  ...    D4  72C70439-4042-4FE8-9CA7-4B50C1DBFE4F.png
158  239.266414  216.745435  ...    D4  A94C9C2F-7BE2-4FB6-9162-EF80D3AA69E5.png
159  239.713869  217.283508  ...    D4  8500912D-3416-4130-A2F6-94C82BC93D04.png
160  239.313326  216.689200  ...    D4  6B11BEFB-86E4-4D50-8F02-75BD276538B8.png

[161 rows x 16 columns]

#2

In [200]:
list_total102 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total102.append(S1rgbrefA1_1)

In [201]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total102,columns=cols)
S1.index.names=['id']

In [202]:
list_total202 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total202.append(S1rgbA1_2)

In [203]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total202,columns=cols)
S2.index.names=['id']

In [204]:
dataA102 = pd.concat([S1, S2], axis=1)
dataA102

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    240.391997  227.668512  192.731838  234.095172  223.988694  191.784543
1    237.192599  223.916181  186.413073  230.566213  219.421833  184.438328
2    241.542735  228.643162  193.608974  235.363266  225.121305  192.477713
3    240.062549  227.259810  191.686189  234.583727  224.221759  191.243536
4    236.737179  224.211247  189.295357  230.967844  220.463627  186.881661
..          ...         ...         ...         ...         ...         ...
156  243.463092  221.955128  166.392968  242.775739  229.180891  192.986656
157  243.870921  222.646659  166.393065  243.127977  229.534427  193.254101
158  243.283508  221.947455  166.092269  243.005375  229.380502  193.325734
159  243.665890  222.488636  166.791278  242.949958  229.416365  193.471319
160  243.509810  222.187354  166.687354  243.209248  229.549903  193.539338

[161 rows x 6 columns]

In [205]:
list_total1102 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1102.append(S1rgbrefA1_1)

In [206]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1102,columns=cols)
S11.index.names=['id']

In [207]:
list_total2202 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2202.append(S1hsvA1_2)

In [256]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2202,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [257]:
dataP2 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP2

          R-ref       G-ref  ...  Shad                                       Img
0    236.874709  224.246018  ...    A1  1CE4FFAC-5C8A-4C04-8A57-7BB28F25302D.png
1    233.620047  221.292735  ...    A1  67F8EDAB-A9C7-4B91-B07B-BFADEE915B61.png
2    237.811480  225.270882  ...    A1  935ACCF9-A4D6-4CB3-A437-6333758D46CD.png
3    236.552836  224.011752  ...    A1  C7A49040-51EF-4045-9394-5E8F4A17B8A2.png
4    233.531080  221.732129  ...    A1  EFCB2FF8-FACF-4778-946B-4DFEC0F8EB5D.png
..          ...         ...  ...   ...                                       ...
156  239.445416  216.596348  ...    D4  7F907FD3-86BA-4233-82DF-9B77B09B5566.png
157  239.730963  217.195319  ...    D4  72C70439-4042-4FE8-9CA7-4B50C1DBFE4F.png
158  239.266414  216.745435  ...    D4  A94C9C2F-7BE2-4FB6-9162-EF80D3AA69E5.png
159  239.713869  217.283508  ...    D4  8500912D-3416-4130-A2F6-94C82BC93D04.png
160  239.313326  216.689200  ...    D4  6B11BEFB-86E4-4D50-8F02-75BD276538B8.png

[161 rows x 16 columns]

#3

In [210]:
list_total103 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1739<i<1839 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total103.append(S1rgbrefA1_1)

In [211]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total103,columns=cols)
S1.index.names=['id']

In [212]:
list_total203 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total203.append(S1rgbA1_2)

In [213]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total203,columns=cols)
S2.index.names=['id']

In [214]:
dataA103 = pd.concat([S1, S2], axis=1)
dataA103

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    239.027195  226.251845  191.067308  232.799926  222.543230  189.706515
1    236.217657  223.082848  185.937063  229.251877  217.959596  182.912334
2    240.128788  227.303710  192.076049  234.022889  223.686961  190.457604
3    238.763889  225.933178  190.074592  233.444166  222.867111  189.324252
4    235.845571  223.432498  188.814394  229.778241  218.993050  185.283940
..          ...         ...         ...         ...         ...         ...
156  242.384421  220.375486  164.225719  241.464646  227.727087  191.128162
157  242.854895  221.146173  164.466103  241.811788  228.040775  191.507367
158  242.255925  220.471639  163.957848  241.746548  227.962469  191.625429
159  242.740482  221.132867  164.957751  241.606246  227.969326  191.770364
160  242.371698  220.620144  164.711344  241.901492  228.022797  191.805486

[161 rows x 6 columns]

In [215]:
list_total1103 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
               if 1739<i<1839 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1103.append(S1rgbrefA1_1)

In [216]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1103,columns=cols)
S11.index.names=['id']

In [217]:
list_total2203 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2203.append(S1hsvA1_2)

In [258]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2203,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [259]:
dataP3 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP3

          R-ref       G-ref  ...  Shad                                       Img
0    236.874709  224.246018  ...    A1  1CE4FFAC-5C8A-4C04-8A57-7BB28F25302D.png
1    233.620047  221.292735  ...    A1  67F8EDAB-A9C7-4B91-B07B-BFADEE915B61.png
2    237.811480  225.270882  ...    A1  935ACCF9-A4D6-4CB3-A437-6333758D46CD.png
3    236.552836  224.011752  ...    A1  C7A49040-51EF-4045-9394-5E8F4A17B8A2.png
4    233.531080  221.732129  ...    A1  EFCB2FF8-FACF-4778-946B-4DFEC0F8EB5D.png
..          ...         ...  ...   ...                                       ...
156  239.445416  216.596348  ...    D4  7F907FD3-86BA-4233-82DF-9B77B09B5566.png
157  239.730963  217.195319  ...    D4  72C70439-4042-4FE8-9CA7-4B50C1DBFE4F.png
158  239.266414  216.745435  ...    D4  A94C9C2F-7BE2-4FB6-9162-EF80D3AA69E5.png
159  239.713869  217.283508  ...    D4  8500912D-3416-4130-A2F6-94C82BC93D04.png
160  239.313326  216.689200  ...    D4  6B11BEFB-86E4-4D50-8F02-75BD276538B8.png

[161 rows x 16 columns]

#4

In [220]:
list_total104 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total104.append(S1rgbrefA1_1)

In [221]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total104,columns=cols)
S1.index.names=['id']

In [222]:
list_total204 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total204.append(S1rgbA1_2)

In [223]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total204,columns=cols)
S2.index.names=['id']

In [224]:
dataA104 = pd.concat([S1, S2], axis=1)
dataA104

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    237.804681  225.044483  189.824981  231.396997  220.968400  187.644426
1    235.044386  222.166181  185.649573  227.834121  216.474933  181.307756
2    238.811674  226.108586  190.869561  232.762117  222.167918  188.586322
3    237.455322  224.702894  188.705128  232.234362  221.410620  187.482810
4    234.812257  222.572358  188.509324  228.466963  217.488092  183.827727
..          ...         ...         ...         ...         ...         ...
156  240.849262  218.284091  161.560509  239.995459  225.991011  188.905106
157  241.285548  219.019716  161.664433  240.352701  226.280790  189.283848
158  240.723096  218.430944  161.274476  240.276990  226.267630  189.569919
159  241.306138  219.146853  162.494172  240.051988  226.226114  189.614679
160  240.834207  218.515152  162.101690  240.478176  226.219257  189.693170

[161 rows x 6 columns]

In [225]:
list_total1104 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1104.append(S1rgbrefA1_1)

In [226]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1104,columns=cols)
S11.index.names=['id']

In [227]:
list_total2204 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2204.append(S1hsvA1_2)

In [260]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2204,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [261]:
dataP4 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP4

          R-ref       G-ref  ...  Shad                                       Img
0    236.874709  224.246018  ...    A1  1CE4FFAC-5C8A-4C04-8A57-7BB28F25302D.png
1    233.620047  221.292735  ...    A1  67F8EDAB-A9C7-4B91-B07B-BFADEE915B61.png
2    237.811480  225.270882  ...    A1  935ACCF9-A4D6-4CB3-A437-6333758D46CD.png
3    236.552836  224.011752  ...    A1  C7A49040-51EF-4045-9394-5E8F4A17B8A2.png
4    233.531080  221.732129  ...    A1  EFCB2FF8-FACF-4778-946B-4DFEC0F8EB5D.png
..          ...         ...  ...   ...                                       ...
156  239.445416  216.596348  ...    D4  7F907FD3-86BA-4233-82DF-9B77B09B5566.png
157  239.730963  217.195319  ...    D4  72C70439-4042-4FE8-9CA7-4B50C1DBFE4F.png
158  239.266414  216.745435  ...    D4  A94C9C2F-7BE2-4FB6-9162-EF80D3AA69E5.png
159  239.713869  217.283508  ...    D4  8500912D-3416-4130-A2F6-94C82BC93D04.png
160  239.313326  216.689200  ...    D4  6B11BEFB-86E4-4D50-8F02-75BD276538B8.png

[161 rows x 16 columns]

#5

In [230]:
list_total105 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total105.append(S1rgbrefA1_1)

In [231]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total105,columns=cols)
S1.index.names=['id']

In [232]:
list_total205 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total205.append(S1rgbA1_2)

In [233]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total205,columns=cols)
S2.index.names=['id']

In [234]:
dataA105 = pd.concat([S1, S2], axis=1)
dataA105

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    236.874709  224.246018  189.226204  230.156056  219.555185  186.043740
1    233.620047  221.292735  185.655789  226.263831  214.966732  180.068854
2    237.811480  225.270882  190.323718  231.649152  220.802891  187.113799
3    236.552836  224.011752  188.282051  231.108331  219.994996  185.944213
4    233.531080  221.732129  188.679779  226.969882  216.026782  182.714577
..          ...         ...         ...         ...         ...         ...
156  239.445416  216.596348  159.533702  238.542952  224.354462  186.914744
157  239.730963  217.195319  159.489316  238.907886  224.672134  187.271986
158  239.266414  216.745435  159.436772  238.759985  224.603373  187.611528
159  239.713869  217.283508  160.377137  238.615698  224.651839  187.685664
160  239.313326  216.689200  159.936189  238.952924  224.485497  187.712816

[161 rows x 6 columns]

In [235]:
list_total1105 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1105.append(S1rgbrefA1_1)

In [236]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1105,columns=cols)
S11.index.names=['id']

In [237]:
list_total2205 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2205.append(S1hsvA1_2)

In [262]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2205,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [263]:
dataP5 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP5

          R-ref       G-ref  ...  Shad                                       Img
0    236.874709  224.246018  ...    A1  1CE4FFAC-5C8A-4C04-8A57-7BB28F25302D.png
1    233.620047  221.292735  ...    A1  67F8EDAB-A9C7-4B91-B07B-BFADEE915B61.png
2    237.811480  225.270882  ...    A1  935ACCF9-A4D6-4CB3-A437-6333758D46CD.png
3    236.552836  224.011752  ...    A1  C7A49040-51EF-4045-9394-5E8F4A17B8A2.png
4    233.531080  221.732129  ...    A1  EFCB2FF8-FACF-4778-946B-4DFEC0F8EB5D.png
..          ...         ...  ...   ...                                       ...
156  239.445416  216.596348  ...    D4  7F907FD3-86BA-4233-82DF-9B77B09B5566.png
157  239.730963  217.195319  ...    D4  72C70439-4042-4FE8-9CA7-4B50C1DBFE4F.png
158  239.266414  216.745435  ...    D4  A94C9C2F-7BE2-4FB6-9162-EF80D3AA69E5.png
159  239.713869  217.283508  ...    D4  8500912D-3416-4130-A2F6-94C82BC93D04.png
160  239.313326  216.689200  ...    D4  6B11BEFB-86E4-4D50-8F02-75BD276538B8.png

[161 rows x 16 columns]

In [264]:
st1= pd.concat([dataP1, dataP2,dataP3,dataP4,dataP5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    236.874709  224.246018  ...    A1  1CE4FFAC-5C8A-4C04-8A57-7BB28F25302D.png
1    233.620047  221.292735  ...    A1  67F8EDAB-A9C7-4B91-B07B-BFADEE915B61.png
2    237.811480  225.270882  ...    A1  935ACCF9-A4D6-4CB3-A437-6333758D46CD.png
3    236.552836  224.011752  ...    A1  C7A49040-51EF-4045-9394-5E8F4A17B8A2.png
4    233.531080  221.732129  ...    A1  EFCB2FF8-FACF-4778-946B-4DFEC0F8EB5D.png
..          ...         ...  ...   ...                                       ...
156  239.445416  216.596348  ...    D4  7F907FD3-86BA-4233-82DF-9B77B09B5566.png
157  239.730963  217.195319  ...    D4  72C70439-4042-4FE8-9CA7-4B50C1DBFE4F.png
158  239.266414  216.745435  ...    D4  A94C9C2F-7BE2-4FB6-9162-EF80D3AA69E5.png
159  239.713869  217.283508  ...    D4  8500912D-3416-4130-A2F6-94C82BC93D04.png
160  239.313326  216.689200  ...    D4  6B11BEFB-86E4-4D50-8F02-75BD276538B8.png

[805 rows x 16 columns]

In [266]:
st1.to_csv('B1Set1 .csv', index=False)