<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/prepareCSet1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/shadeimg'

In [4]:
import os

In [5]:
os.listdir(path)

['รูปฟัน07',
 '9-10 7 2021',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx']

In [6]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 4.8 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.27-py2.py3-none-any.whl (12 kB)
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 6.2 MB/s
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 19.4 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.27 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [7]:
from azure.storage.blob import BlockBlobService
import os

In [8]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [9]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [10]:
AA = os.path.join(path,'CC1.xlsx')

In [11]:
A1_set1= pd.read_excel(AA, sheet_name='C1Set1')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                   หมายเหตุ
0    998EA81C-77D0-4357-9197-D7AEAAAE4F91.png  ...  ค่า duration 1/90 ISO 171
1    C69EF426-D68B-4503-AFC0-A62E37CCB172.png  ...  ค่า duration 1/90 ISO 171
2    95C4078C-AD0D-4394-BCF6-9C2E1E7C2219.png  ...  ค่า duration 1/90 ISO 171
3    770F3E42-0415-48C8-AE28-664827DCDAAE.png  ...  ค่า duration 1/90 ISO 171
4    AFD98982-91EB-4E2A-BEA8-8FDCCC8F33E1.png  ...  ค่า duration 1/90 ISO 171
..                                        ...  ...                        ...
156  A9854833-BA01-4164-84F9-B1476A91492D.png  ...  ค่า duration 1/90 ISO 171
157  BD568D7E-1E6F-4C9F-BDD2-74275B5761E8.png  ...  ค่า duration 1/90 ISO 171
158  1D403CC3-FD44-4629-8CB7-6E6881E8B2B5.png  ...  ค่า duration 1/90 ISO 171
159  A30F72D2-763B-47EE-89E4-B799D739BD79.png  ...  ค่า duration 1/90 ISO 171
160  9230FC43-7526-4F67-9B8F-0A699DD870DA.png  ...  ค่า duration 1/90 ISO 171

[161 rows x 7 columns]

In [12]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [13]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [14]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [15]:
A1_set1

                                          Img  ...                   หมายเหตุ
0    998EA81C-77D0-4357-9197-D7AEAAAE4F91.png  ...  ค่า duration 1/90 ISO 171
1    C69EF426-D68B-4503-AFC0-A62E37CCB172.png  ...  ค่า duration 1/90 ISO 171
2    95C4078C-AD0D-4394-BCF6-9C2E1E7C2219.png  ...  ค่า duration 1/90 ISO 171
3    770F3E42-0415-48C8-AE28-664827DCDAAE.png  ...  ค่า duration 1/90 ISO 171
4    AFD98982-91EB-4E2A-BEA8-8FDCCC8F33E1.png  ...  ค่า duration 1/90 ISO 171
..                                        ...  ...                        ...
156  A9854833-BA01-4164-84F9-B1476A91492D.png  ...  ค่า duration 1/90 ISO 171
157  BD568D7E-1E6F-4C9F-BDD2-74275B5761E8.png  ...  ค่า duration 1/90 ISO 171
158  1D403CC3-FD44-4629-8CB7-6E6881E8B2B5.png  ...  ค่า duration 1/90 ISO 171
159  A30F72D2-763B-47EE-89E4-B799D739BD79.png  ...  ค่า duration 1/90 ISO 171
160  9230FC43-7526-4F67-9B8F-0A699DD870DA.png  ...  ค่า duration 1/90 ISO 171

[161 rows x 7 columns]

In [16]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [17]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    C1   A1  998EA81C-77D0-4357-9197-D7AEAAAE4F91.png
1    C1   A1  C69EF426-D68B-4503-AFC0-A62E37CCB172.png
2    C1   A1  95C4078C-AD0D-4394-BCF6-9C2E1E7C2219.png
3    C1   A1  770F3E42-0415-48C8-AE28-664827DCDAAE.png
4    C1   A1  AFD98982-91EB-4E2A-BEA8-8FDCCC8F33E1.png
..   ..  ...                                       ...
156  C1   D4  A9854833-BA01-4164-84F9-B1476A91492D.png
157  C1   D4  BD568D7E-1E6F-4C9F-BDD2-74275B5761E8.png
158  C1   D4  1D403CC3-FD44-4629-8CB7-6E6881E8B2B5.png
159  C1   D4  A30F72D2-763B-47EE-89E4-B799D739BD79.png
160  C1   D4  9230FC43-7526-4F67-9B8F-0A699DD870DA.png

[161 rows x 3 columns]

In [18]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img  ...                   หมายเหตุ
0  998EA81C-77D0-4357-9197-D7AEAAAE4F91.png  ...  ค่า duration 1/90 ISO 171
1  C69EF426-D68B-4503-AFC0-A62E37CCB172.png  ...  ค่า duration 1/90 ISO 171
2  95C4078C-AD0D-4394-BCF6-9C2E1E7C2219.png  ...  ค่า duration 1/90 ISO 171

[3 rows x 7 columns]

In [19]:
import numpy as np

In [20]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [21]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total1,columns=cols)
S1['Setting']='Set1'
S1

        R-ref       G-ref       B-ref Setting
0  238.821037  225.705543  190.281389    Set1
1  239.015096  225.933366  189.813814    Set1
2  239.849931  227.537051  193.802045    Set1

In [22]:
pd.concat([S1,table1], axis=1)

          R-ref       G-ref  ...  Shad                                       Img
0    238.821037  225.705543  ...    A1  998EA81C-77D0-4357-9197-D7AEAAAE4F91.png
1    239.015096  225.933366  ...    A1  C69EF426-D68B-4503-AFC0-A62E37CCB172.png
2    239.849931  227.537051  ...    A1  95C4078C-AD0D-4394-BCF6-9C2E1E7C2219.png
3           NaN         NaN  ...    A1  770F3E42-0415-48C8-AE28-664827DCDAAE.png
4           NaN         NaN  ...    A1  AFD98982-91EB-4E2A-BEA8-8FDCCC8F33E1.png
..          ...         ...  ...   ...                                       ...
156         NaN         NaN  ...    D4  A9854833-BA01-4164-84F9-B1476A91492D.png
157         NaN         NaN  ...    D4  BD568D7E-1E6F-4C9F-BDD2-74275B5761E8.png
158         NaN         NaN  ...    D4  1D403CC3-FD44-4629-8CB7-6E6881E8B2B5.png
159         NaN         NaN  ...    D4  A30F72D2-763B-47EE-89E4-B799D739BD79.png
160         NaN         NaN  ...    D4  9230FC43-7526-4F67-9B8F-0A699DD870DA.png

[161 rows x 7 columns]

In [23]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [24]:
import numpy as np

In [25]:
from tabulate import tabulate

In [26]:
table   = [['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref', 'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Shade-ref', 'Shade', 'Setting']]

#ดึงค่า

In [27]:
list_total1 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [28]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total1,columns=cols)
S1.index.names=['id']

In [29]:
list_total2 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total2.append(S1rgbA1_2)

In [30]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total2,columns=cols)

In [31]:
dataA1 = pd.concat([S1, S2], axis=1)
dataA1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    238.821037  225.705543  190.281389  239.471161  226.830738  192.584525
1    239.015096  225.933366  189.813814  239.661831  227.036128  192.028376
2    239.849931  227.537051  193.802045  240.594268  228.924187  196.427779
3    239.325785  226.816573  192.238942  239.886139  227.853140  194.250551
4    236.398182  225.056083  193.174742  237.114572  226.267051  195.376574
..          ...         ...         ...         ...         ...         ...
156  235.833942  217.371804  167.764792  236.268260  218.338952  169.696679
157  235.708628  216.834591  166.549874  236.117346  217.854847  168.506721
158  236.188702  217.942050  168.279036  236.684731  218.914871  170.323163
159  235.824040  217.376755  166.797744  236.268758  218.392220  168.822417
160  235.946027  216.718773  165.559938  236.333760  217.695825  167.450679

[161 rows x 6 columns]

##HSV

In [32]:
list_total11 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total11.append(S1rgbrefA1_1)

In [33]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total11,columns=cols)
S11.index.names=['id']

In [34]:
list_total22 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total22.append(S1hsvA1_2)

In [35]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total22,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'
S22

        H-Shad     S-Shad      V-Shad Setting
id
0    22.136619  50.134841  239.480976    Set1
1    22.305099  50.899580  239.668587    Set1
2    22.455160  47.039400  240.609558    Set1
3    22.290520  48.668445  239.892326    Set1
4    22.447692  45.052699  237.122395    Set1
..         ...        ...         ...     ...
156  22.047081  71.934500  236.268260    Set1
157  22.055259  73.118199  236.117346    Set1
158  22.134770  71.622644  236.684731    Set1
159  22.196074  72.909750  236.268758    Set1
160  21.991537  74.414906  236.333760    Set1

[161 rows x 4 columns]

In [36]:
dataP1 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP1

          R-ref       G-ref  ...  Shad                                       Img
0    238.821037  225.705543  ...    A1  998EA81C-77D0-4357-9197-D7AEAAAE4F91.png
1    239.015096  225.933366  ...    A1  C69EF426-D68B-4503-AFC0-A62E37CCB172.png
2    239.849931  227.537051  ...    A1  95C4078C-AD0D-4394-BCF6-9C2E1E7C2219.png
3    239.325785  226.816573  ...    A1  770F3E42-0415-48C8-AE28-664827DCDAAE.png
4    236.398182  225.056083  ...    A1  AFD98982-91EB-4E2A-BEA8-8FDCCC8F33E1.png
..          ...         ...  ...   ...                                       ...
156  235.833942  217.371804  ...    D4  A9854833-BA01-4164-84F9-B1476A91492D.png
157  235.708628  216.834591  ...    D4  BD568D7E-1E6F-4C9F-BDD2-74275B5761E8.png
158  236.188702  217.942050  ...    D4  1D403CC3-FD44-4629-8CB7-6E6881E8B2B5.png
159  235.824040  217.376755  ...    D4  A30F72D2-763B-47EE-89E4-B799D739BD79.png
160  235.946027  216.718773  ...    D4  9230FC43-7526-4F67-9B8F-0A699DD870DA.png

[161 rows x 16 columns]

#2

In [37]:
list_total102 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total102.append(S1rgbrefA1_1)

In [38]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total102,columns=cols)
S1.index.names=['id']

In [39]:
list_total202 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total202.append(S1rgbA1_2)

In [40]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total202,columns=cols)
S2.index.names=['id']

In [41]:
dataA102 = pd.concat([S1, S2], axis=1)
dataA102

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    243.100913  230.901030  195.992521  234.161802  218.400056  177.928552
1    243.442211  231.243784  195.775447  234.603929  218.542211  177.562506
2    243.966006  232.617910  199.868687  235.838847  220.603466  181.161523
3    243.670552  232.004759  198.212510  235.361042  220.153183  180.510333
4    241.015152  230.078866  197.686480  231.835233  216.726346  177.242054
..          ...         ...         ...         ...         ...         ...
156  240.815462  222.885392  174.204254  239.525809  224.994254  188.848485
157  240.620435  222.361208  172.925991  239.234177  224.636642  187.737281
158  241.244464  223.586441  175.072164  239.846817  225.748679  189.717450
159  240.847319  223.053516  173.324009  239.282921  225.159114  188.277268
160  240.927350  222.384810  172.125874  239.436197  224.677509  187.074785

[161 rows x 6 columns]

In [42]:
list_total1102 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1102.append(S1rgbrefA1_1)

In [43]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1102,columns=cols)
S11.index.names=['id']

In [44]:
list_total2202 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2202.append(S1hsvA1_2)

In [45]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2202,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [46]:
dataP2 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP2

          R-ref       G-ref  ...  Shad                                       Img
0    243.100913  230.901030  ...    A1  998EA81C-77D0-4357-9197-D7AEAAAE4F91.png
1    243.442211  231.243784  ...    A1  C69EF426-D68B-4503-AFC0-A62E37CCB172.png
2    243.966006  232.617910  ...    A1  95C4078C-AD0D-4394-BCF6-9C2E1E7C2219.png
3    243.670552  232.004759  ...    A1  770F3E42-0415-48C8-AE28-664827DCDAAE.png
4    241.015152  230.078866  ...    A1  AFD98982-91EB-4E2A-BEA8-8FDCCC8F33E1.png
..          ...         ...  ...   ...                                       ...
156  240.815462  222.885392  ...    D4  A9854833-BA01-4164-84F9-B1476A91492D.png
157  240.620435  222.361208  ...    D4  BD568D7E-1E6F-4C9F-BDD2-74275B5761E8.png
158  241.244464  223.586441  ...    D4  1D403CC3-FD44-4629-8CB7-6E6881E8B2B5.png
159  240.847319  223.053516  ...    D4  A30F72D2-763B-47EE-89E4-B799D739BD79.png
160  240.927350  222.384810  ...    D4  9230FC43-7526-4F67-9B8F-0A699DD870DA.png

[161 rows x 16 columns]

#3

In [47]:
list_total103 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1739<i<1839 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total103.append(S1rgbrefA1_1)

In [48]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total103,columns=cols)
S1.index.names=['id']

In [49]:
list_total203 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total203.append(S1rgbA1_2)

In [50]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total203,columns=cols)
S2.index.names=['id']

In [51]:
dataA103 = pd.concat([S1, S2], axis=1)
dataA103

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    241.886752  229.539627  194.758353  232.801594  216.483551  175.844685
1    242.135781  229.859848  194.487082  232.920026  216.203410  174.735613
2    242.884227  231.409771  198.796717  234.321750  218.636271  178.919841
3    242.349359  230.585082  196.799922  233.973682  218.365490  178.417014
4    239.753497  228.713967  196.514569  230.413493  214.830229  175.105644
..          ...         ...         ...         ...         ...         ...
156  239.331779  221.244172  172.371115  237.881753  223.127421  186.803818
157  239.149573  220.710470  171.237277  237.715874  222.924011  185.823186
158  239.692405  221.903263  173.146562  238.290891  223.930220  187.760634
159  239.305458  221.341006  171.426962  237.769623  223.378371  186.379298
160  239.255342  220.603730  170.189103  237.878973  222.722454  185.086461

[161 rows x 6 columns]

In [52]:
list_total1103 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
               if 1739<i<1839 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1103.append(S1rgbrefA1_1)

In [53]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1103,columns=cols)
S11.index.names=['id']

In [54]:
list_total2203 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2203.append(S1hsvA1_2)

In [55]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2203,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [56]:
dataP3 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP3

          R-ref       G-ref  ...  Shad                                       Img
0    241.886752  229.539627  ...    A1  998EA81C-77D0-4357-9197-D7AEAAAE4F91.png
1    242.135781  229.859848  ...    A1  C69EF426-D68B-4503-AFC0-A62E37CCB172.png
2    242.884227  231.409771  ...    A1  95C4078C-AD0D-4394-BCF6-9C2E1E7C2219.png
3    242.349359  230.585082  ...    A1  770F3E42-0415-48C8-AE28-664827DCDAAE.png
4    239.753497  228.713967  ...    A1  AFD98982-91EB-4E2A-BEA8-8FDCCC8F33E1.png
..          ...         ...  ...   ...                                       ...
156  239.331779  221.244172  ...    D4  A9854833-BA01-4164-84F9-B1476A91492D.png
157  239.149573  220.710470  ...    D4  BD568D7E-1E6F-4C9F-BDD2-74275B5761E8.png
158  239.692405  221.903263  ...    D4  1D403CC3-FD44-4629-8CB7-6E6881E8B2B5.png
159  239.305458  221.341006  ...    D4  A30F72D2-763B-47EE-89E4-B799D739BD79.png
160  239.255342  220.603730  ...    D4  9230FC43-7526-4F67-9B8F-0A699DD870DA.png

[161 rows x 16 columns]

#4

In [57]:
list_total104 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total104.append(S1rgbrefA1_1)

In [58]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total104,columns=cols)
S1.index.names=['id']

In [59]:
list_total204 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total204.append(S1rgbA1_2)

In [60]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total204,columns=cols)
S2.index.names=['id']

In [61]:
dataA104 = pd.concat([S1, S2], axis=1)
dataA104

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    240.434246  227.901127  193.160256  231.219442  214.290705  173.437031
1    240.689782  228.253497  192.838772  231.039199  213.655176  171.713465
2    241.482032  229.891414  197.313131  232.626448  216.424613  176.563989
3    240.742521  228.815559  194.967463  232.497452  216.420628  176.211009
4    238.366453  227.380439  195.708819  228.849597  212.813270  173.089241
..          ...         ...         ...         ...         ...         ...
156  237.518260  219.384810  170.288267  235.902419  220.730609  184.288296
157  237.280692  218.758936  168.960664  235.791215  220.539153  182.962654
158  237.884518  219.986791  170.961441  236.397739  221.618478  185.207302
159  237.461053  219.423757  169.215423  235.951256  221.036790  183.646001
160  237.518454  218.775253  168.165016  236.046891  220.360671  182.475489

[161 rows x 6 columns]

In [62]:
list_total1104 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1104.append(S1rgbrefA1_1)

In [63]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1104,columns=cols)
S11.index.names=['id']

In [64]:
list_total2204 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2204.append(S1hsvA1_2)

In [65]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2204,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [66]:
dataP4 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP4

          R-ref       G-ref  ...  Shad                                       Img
0    240.434246  227.901127  ...    A1  998EA81C-77D0-4357-9197-D7AEAAAE4F91.png
1    240.689782  228.253497  ...    A1  C69EF426-D68B-4503-AFC0-A62E37CCB172.png
2    241.482032  229.891414  ...    A1  95C4078C-AD0D-4394-BCF6-9C2E1E7C2219.png
3    240.742521  228.815559  ...    A1  770F3E42-0415-48C8-AE28-664827DCDAAE.png
4    238.366453  227.380439  ...    A1  AFD98982-91EB-4E2A-BEA8-8FDCCC8F33E1.png
..          ...         ...  ...   ...                                       ...
156  237.518260  219.384810  ...    D4  A9854833-BA01-4164-84F9-B1476A91492D.png
157  237.280692  218.758936  ...    D4  BD568D7E-1E6F-4C9F-BDD2-74275B5761E8.png
158  237.884518  219.986791  ...    D4  1D403CC3-FD44-4629-8CB7-6E6881E8B2B5.png
159  237.461053  219.423757  ...    D4  A30F72D2-763B-47EE-89E4-B799D739BD79.png
160  237.518454  218.775253  ...    D4  9230FC43-7526-4F67-9B8F-0A699DD870DA.png

[161 rows x 16 columns]

#5

In [67]:
list_total105 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total105.append(S1rgbrefA1_1)

In [68]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total105,columns=cols)
S1.index.names=['id']

In [69]:
list_total205 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total205.append(S1rgbA1_2)

In [70]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total205,columns=cols)
S2.index.names=['id']

In [71]:
dataA105 = pd.concat([S1, S2], axis=1)
dataA105

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    239.236500  226.574106  192.074883  229.881753  212.417756  171.454267
1    239.455614  226.906080  191.725427  229.586322  211.631637  169.314151
2    240.266900  228.472222  195.808858  231.276063  214.568437  174.635530
3    239.647145  227.612568  193.990579  231.185340  214.659902  174.247521
4    236.769231  226.019619  195.219406  227.309425  211.180521  171.918173
..          ...         ...         ...         ...         ...         ...
156  235.922397  217.792929  168.631410  234.318970  218.847558  182.177185
157  235.769619  217.216103  167.310218  234.268186  218.705681  180.736910
158  236.278069  218.341686  169.263403  234.760727  219.694375  182.955240
159  235.942793  217.858877  167.632187  234.514410  219.139653  181.463720
160  235.888403  216.970765  166.124417  234.411917  218.368363  180.160689

[161 rows x 6 columns]

In [72]:
list_total1105 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1105.append(S1rgbrefA1_1)

In [73]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1105,columns=cols)
S11.index.names=['id']

In [74]:
list_total2205 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2205.append(S1hsvA1_2)

In [75]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2205,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [76]:
dataP5 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP5

          R-ref       G-ref  ...  Shad                                       Img
0    239.236500  226.574106  ...    A1  998EA81C-77D0-4357-9197-D7AEAAAE4F91.png
1    239.455614  226.906080  ...    A1  C69EF426-D68B-4503-AFC0-A62E37CCB172.png
2    240.266900  228.472222  ...    A1  95C4078C-AD0D-4394-BCF6-9C2E1E7C2219.png
3    239.647145  227.612568  ...    A1  770F3E42-0415-48C8-AE28-664827DCDAAE.png
4    236.769231  226.019619  ...    A1  AFD98982-91EB-4E2A-BEA8-8FDCCC8F33E1.png
..          ...         ...  ...   ...                                       ...
156  235.922397  217.792929  ...    D4  A9854833-BA01-4164-84F9-B1476A91492D.png
157  235.769619  217.216103  ...    D4  BD568D7E-1E6F-4C9F-BDD2-74275B5761E8.png
158  236.278069  218.341686  ...    D4  1D403CC3-FD44-4629-8CB7-6E6881E8B2B5.png
159  235.942793  217.858877  ...    D4  A30F72D2-763B-47EE-89E4-B799D739BD79.png
160  235.888403  216.970765  ...    D4  9230FC43-7526-4F67-9B8F-0A699DD870DA.png

[161 rows x 16 columns]

In [77]:
st1= pd.concat([dataP1, dataP2,dataP3,dataP4,dataP5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    238.821037  225.705543  ...    A1  998EA81C-77D0-4357-9197-D7AEAAAE4F91.png
1    239.015096  225.933366  ...    A1  C69EF426-D68B-4503-AFC0-A62E37CCB172.png
2    239.849931  227.537051  ...    A1  95C4078C-AD0D-4394-BCF6-9C2E1E7C2219.png
3    239.325785  226.816573  ...    A1  770F3E42-0415-48C8-AE28-664827DCDAAE.png
4    236.398182  225.056083  ...    A1  AFD98982-91EB-4E2A-BEA8-8FDCCC8F33E1.png
..          ...         ...  ...   ...                                       ...
156  235.922397  217.792929  ...    D4  A9854833-BA01-4164-84F9-B1476A91492D.png
157  235.769619  217.216103  ...    D4  BD568D7E-1E6F-4C9F-BDD2-74275B5761E8.png
158  236.278069  218.341686  ...    D4  1D403CC3-FD44-4629-8CB7-6E6881E8B2B5.png
159  235.942793  217.858877  ...    D4  A30F72D2-763B-47EE-89E4-B799D739BD79.png
160  235.888403  216.970765  ...    D4  9230FC43-7526-4F67-9B8F-0A699DD870DA.png

[805 rows x 16 columns]

In [78]:
st1.to_csv('C1Set1 .csv', index=False)