<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/prepareASet3_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [79]:
 import pandas as pd

In [80]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [81]:
path = '/content/drive/My Drive/shadeimg'

In [82]:
import os

In [83]:
os.listdir(path)

['รูปฟัน07',
 '9-10 7 2021',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx']

In [84]:
!pip install azure-storage-blob==2.1.0

Requirement already satisfied: azure-storage-blob==2.1.0 in /usr/local/lib/python3.7/dist-packages (2.1.0)
Requirement already satisfied: azure-storage-common~=2.1 in /usr/local/lib/python3.7/dist-packages (from azure-storage-blob==2.1.0) (2.1.0)
Requirement already satisfied: azure-common>=1.1.5 in /usr/local/lib/python3.7/dist-packages (from azure-storage-blob==2.1.0) (1.1.27)
Requirement already satisfied: cryptography in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (36.0.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)

In [85]:
from azure.storage.blob import BlockBlobService
import os

In [86]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [87]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [88]:
AA = os.path.join(path,'AA1.xlsx')

In [89]:
A1_set1= pd.read_excel(AA, sheet_name='A1Set4')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                หมายเหตุ
0    C3752024-70F6-407B-B596-E214E55D43EB.png  ...  Duration 1/145 ISO 130
1    3251DE85-8D7F-4AED-B90C-7B20C3559811.png  ...  Duration 1/145 ISO 130
2    CA4551E2-6E87-4618-9646-2F81E76E705B.png  ...  Duration 1/145 ISO 130
3    56C5CD77-8D8E-4098-84F3-E1EAE1DB9B01.png  ...  Duration 1/145 ISO 130
4    FBB7194F-AE4D-4A46-81F5-FCEB5994D3C5.png  ...  Duration 1/145 ISO 130
..                                        ...  ...                     ...
157  2A050294-DD36-4D73-9AA2-9023AB7BBB9A.png  ...  Duration 1/145 ISO 130
158  AA85B5B0-3D53-48CE-BD1E-247782EA576A.png  ...  Duration 1/145 ISO 130
159  D360D9A0-603E-4947-A8FE-72EB861A079A.png  ...  Duration 1/145 ISO 130
160  6E199F41-F776-47E5-BC1C-8DE86C2485F9.png  ...  Duration 1/145 ISO 130
161  4CD302CD-AAAC-4130-9FBE-AF8E3C90588B.png  ...  Duration 1/145 ISO 130

[162 rows x 7 columns]

In [90]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [91]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [92]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [93]:
A1_set1

                                          Img  ...                หมายเหตุ
0    C3752024-70F6-407B-B596-E214E55D43EB.png  ...  Duration 1/145 ISO 130
1    3251DE85-8D7F-4AED-B90C-7B20C3559811.png  ...  Duration 1/145 ISO 130
2    CA4551E2-6E87-4618-9646-2F81E76E705B.png  ...  Duration 1/145 ISO 130
3    56C5CD77-8D8E-4098-84F3-E1EAE1DB9B01.png  ...  Duration 1/145 ISO 130
4    FBB7194F-AE4D-4A46-81F5-FCEB5994D3C5.png  ...  Duration 1/145 ISO 130
..                                        ...  ...                     ...
157  2A050294-DD36-4D73-9AA2-9023AB7BBB9A.png  ...  Duration 1/145 ISO 130
158  AA85B5B0-3D53-48CE-BD1E-247782EA576A.png  ...  Duration 1/145 ISO 130
159  D360D9A0-603E-4947-A8FE-72EB861A079A.png  ...  Duration 1/145 ISO 130
160  6E199F41-F776-47E5-BC1C-8DE86C2485F9.png  ...  Duration 1/145 ISO 130
161  4CD302CD-AAAC-4130-9FBE-AF8E3C90588B.png  ...  Duration 1/145 ISO 130

[162 rows x 7 columns]

In [94]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [95]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    A1   A1  C3752024-70F6-407B-B596-E214E55D43EB.png
1    A1   A1  3251DE85-8D7F-4AED-B90C-7B20C3559811.png
2    A1   A1  CA4551E2-6E87-4618-9646-2F81E76E705B.png
3    A1   A1  56C5CD77-8D8E-4098-84F3-E1EAE1DB9B01.png
4    A1   A1  FBB7194F-AE4D-4A46-81F5-FCEB5994D3C5.png
..   ..  ...                                       ...
157  A1   D4  2A050294-DD36-4D73-9AA2-9023AB7BBB9A.png
158  A1   D4  AA85B5B0-3D53-48CE-BD1E-247782EA576A.png
159  A1   D4  D360D9A0-603E-4947-A8FE-72EB861A079A.png
160  A1   D4  6E199F41-F776-47E5-BC1C-8DE86C2485F9.png
161  A1   D4  4CD302CD-AAAC-4130-9FBE-AF8E3C90588B.png

[162 rows x 3 columns]

In [96]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img Ref  ... ฉากหลัง                หมายเหตุ
0  C3752024-70F6-407B-B596-E214E55D43EB.png  A1  ...    สีดำ  Duration 1/145 ISO 130
1  3251DE85-8D7F-4AED-B90C-7B20C3559811.png  A1  ...    สีดำ  Duration 1/145 ISO 130
2  CA4551E2-6E87-4618-9646-2F81E76E705B.png  A1  ...    สีดำ  Duration 1/145 ISO 130

[3 rows x 7 columns]

In [97]:
import numpy as np

In [98]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [99]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total1,columns=cols)
S1['Setting']='Set1'
S1

        R-ref       G-ref       B-ref Setting
0  220.936531  220.209074  202.529502    Set1
1  220.328139  220.168087  202.125883    Set1
2  219.423505  219.963883  202.022320    Set1

In [100]:
pd.concat([S1,table1], axis=1)

          R-ref       G-ref  ...  Shad                                       Img
0    220.936531  220.209074  ...    A1  C3752024-70F6-407B-B596-E214E55D43EB.png
1    220.328139  220.168087  ...    A1  3251DE85-8D7F-4AED-B90C-7B20C3559811.png
2    219.423505  219.963883  ...    A1  CA4551E2-6E87-4618-9646-2F81E76E705B.png
3           NaN         NaN  ...    A1  56C5CD77-8D8E-4098-84F3-E1EAE1DB9B01.png
4           NaN         NaN  ...    A1  FBB7194F-AE4D-4A46-81F5-FCEB5994D3C5.png
..          ...         ...  ...   ...                                       ...
157         NaN         NaN  ...    D4  2A050294-DD36-4D73-9AA2-9023AB7BBB9A.png
158         NaN         NaN  ...    D4  AA85B5B0-3D53-48CE-BD1E-247782EA576A.png
159         NaN         NaN  ...    D4  D360D9A0-603E-4947-A8FE-72EB861A079A.png
160         NaN         NaN  ...    D4  6E199F41-F776-47E5-BC1C-8DE86C2485F9.png
161         NaN         NaN  ...    D4  4CD302CD-AAAC-4130-9FBE-AF8E3C90588B.png

[162 rows x 7 columns]

In [101]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [102]:
import numpy as np

In [103]:
from tabulate import tabulate

In [104]:
table   = [['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref', 'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Shade-ref', 'Shade', 'Setting']]

#ดึงค่า

In [105]:
list_total1 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [106]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total1,columns=cols)
S1.index.names=['id']

In [107]:
list_total2 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total2.append(S1rgbA1_2)

In [108]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total2,columns=cols)

In [109]:
dataA1 = pd.concat([S1, S2], axis=1)
dataA1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    220.936531  220.209074  202.529502  220.311927  219.639286  202.152692
1    220.328139  220.168087  202.125883  219.749733  219.644193  201.721926
2    219.423505  219.963883  202.022320  218.796174  219.356731  201.661546
3    219.000730  219.496632  201.653275  218.401109  218.914586  201.216059
4    218.720964  218.942131  201.804967  218.119195  218.395420  201.405803
..          ...         ...         ...         ...         ...         ...
157  221.283175  218.312637  176.254281  220.833653  217.830951  175.569021
158  215.514974  212.764467  171.956172  215.175734  212.485385  171.877391
159  215.815194  213.107540  172.342424  215.479909  212.782732  172.170543
160  220.796039  217.822904  175.524633  220.447834  217.461063  175.006827
161  215.703433  213.147066  172.019804  215.364412  212.831804  171.863523

[162 rows x 6 columns]

##HSV

In [110]:
list_total11 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total11.append(S1rgbrefA1_1)

In [111]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total11,columns=cols)
S11.index.names=['id']

In [112]:
list_total22 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total22.append(S1hsvA1_2)

In [113]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total22,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'
S22

        H-Shad     S-Shad      V-Shad Setting
id
0    29.266126  21.221819  220.546120    Set1
1    30.350117  21.382974  220.222175    Set1
2    31.520447  20.867079  219.707062    Set1
3    31.427992  21.000853  219.310006    Set1
4    31.106322  20.272527  218.830809    Set1
..         ...        ...         ...     ...
157  28.269469  52.384325  220.852002    Set1
158  28.171183  51.285186  215.175734    Set1
159  28.224593  51.259370  215.479909    Set1
160  27.964441  52.598464  220.449115    Set1
161  28.354811  51.507574  215.364554    Set1

[162 rows x 4 columns]

In [114]:
dataP1 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP1

          R-ref       G-ref  ...  Shad                                       Img
0    220.936531  220.209074  ...    A1  C3752024-70F6-407B-B596-E214E55D43EB.png
1    220.328139  220.168087  ...    A1  3251DE85-8D7F-4AED-B90C-7B20C3559811.png
2    219.423505  219.963883  ...    A1  CA4551E2-6E87-4618-9646-2F81E76E705B.png
3    219.000730  219.496632  ...    A1  56C5CD77-8D8E-4098-84F3-E1EAE1DB9B01.png
4    218.720964  218.942131  ...    A1  FBB7194F-AE4D-4A46-81F5-FCEB5994D3C5.png
..          ...         ...  ...   ...                                       ...
157  221.283175  218.312637  ...    D4  2A050294-DD36-4D73-9AA2-9023AB7BBB9A.png
158  215.514974  212.764467  ...    D4  AA85B5B0-3D53-48CE-BD1E-247782EA576A.png
159  215.815194  213.107540  ...    D4  D360D9A0-603E-4947-A8FE-72EB861A079A.png
160  220.796039  217.822904  ...    D4  6E199F41-F776-47E5-BC1C-8DE86C2485F9.png
161  215.703433  213.147066  ...    D4  4CD302CD-AAAC-4130-9FBE-AF8E3C90588B.png

[162 rows x 16 columns]

#2

In [115]:
list_total102 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total102.append(S1rgbrefA1_1)

In [116]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total102,columns=cols)
S1.index.names=['id']

In [117]:
list_total202 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total202.append(S1rgbA1_2)

In [118]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total202,columns=cols)
S2.index.names=['id']

In [119]:
dataA102 = pd.concat([S1, S2], axis=1)
dataA102

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    223.749806  222.620629  202.886752  224.948290  223.887499  205.717264
1    223.753011  222.766123  202.974747  225.052173  223.963303  205.584283
2    222.921426  222.368395  202.320027  224.597072  223.905384  205.158743
3    222.619852  221.879176  202.016706  223.718469  223.345751  205.152813
4    222.424825  221.539627  201.913947  224.100639  223.203132  205.025762
..          ...         ...         ...         ...         ...         ...
157  224.972902  222.722902  186.766511  231.625429  232.506997  215.421833
158  218.324495  215.368395  173.050505  225.375498  226.277083  207.952368
159  218.626166  215.748446  174.276612  227.475952  227.049022  208.887221
160  224.981061  222.850427  187.196678  231.162265  232.097952  215.540358
161  218.699204  215.739899  173.789821  226.393847  226.778056  208.324622

[162 rows x 6 columns]

In [120]:
list_total1102 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1102.append(S1rgbrefA1_1)

In [121]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1102,columns=cols)
S11.index.names=['id']

In [122]:
list_total2202 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2202.append(S1hsvA1_2)

In [123]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2202,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [124]:
dataP2 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP2

          R-ref       G-ref  ...  Shad                                       Img
0    223.749806  222.620629  ...    A1  C3752024-70F6-407B-B596-E214E55D43EB.png
1    223.753011  222.766123  ...    A1  3251DE85-8D7F-4AED-B90C-7B20C3559811.png
2    222.921426  222.368395  ...    A1  CA4551E2-6E87-4618-9646-2F81E76E705B.png
3    222.619852  221.879176  ...    A1  56C5CD77-8D8E-4098-84F3-E1EAE1DB9B01.png
4    222.424825  221.539627  ...    A1  FBB7194F-AE4D-4A46-81F5-FCEB5994D3C5.png
..          ...         ...  ...   ...                                       ...
157  224.972902  222.722902  ...    D4  2A050294-DD36-4D73-9AA2-9023AB7BBB9A.png
158  218.324495  215.368395  ...    D4  AA85B5B0-3D53-48CE-BD1E-247782EA576A.png
159  218.626166  215.748446  ...    D4  D360D9A0-603E-4947-A8FE-72EB861A079A.png
160  224.981061  222.850427  ...    D4  6E199F41-F776-47E5-BC1C-8DE86C2485F9.png
161  218.699204  215.739899  ...    D4  4CD302CD-AAAC-4130-9FBE-AF8E3C90588B.png

[162 rows x 16 columns]

#3

In [125]:
list_total103 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1739<i<1839 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total103.append(S1rgbrefA1_1)

In [126]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total103,columns=cols)
S1.index.names=['id']

In [127]:
list_total203 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total203.append(S1rgbA1_2)

In [128]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total203,columns=cols)
S2.index.names=['id']

In [129]:
dataA103 = pd.concat([S1, S2], axis=1)
dataA103

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    222.996018  221.877525  202.261752  224.121583  222.986934  204.658419
1    222.729215  221.952991  202.174825  224.216384  223.145770  204.591048
2    221.818765  221.665598  201.673077  223.899268  223.106292  204.302845
3    221.516123  221.166667  201.440171  222.867853  222.594848  204.315819
4    221.307498  220.734169  201.545455  223.280326  222.525623  204.194514
..          ...         ...         ...         ...         ...         ...
157  224.006022  221.596251  184.234266  230.772125  231.479659  213.900195
158  217.090618  214.114122  170.848193  224.768881  225.769252  207.518117
159  217.155497  214.212218  171.652001  226.556482  226.480308  208.175795
160  223.760101  221.412199  184.070027  230.068205  230.987490  213.828283
161  217.234169  214.265054  171.225039  225.865907  226.242980  207.741637

[162 rows x 6 columns]

In [130]:
list_total1103 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
               if 1739<i<1839 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1103.append(S1rgbrefA1_1)

In [131]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1103,columns=cols)
S11.index.names=['id']

In [132]:
list_total2203 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2203.append(S1hsvA1_2)

In [133]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2203,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [134]:
dataP3 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP3

          R-ref       G-ref  ...  Shad                                       Img
0    222.996018  221.877525  ...    A1  C3752024-70F6-407B-B596-E214E55D43EB.png
1    222.729215  221.952991  ...    A1  3251DE85-8D7F-4AED-B90C-7B20C3559811.png
2    221.818765  221.665598  ...    A1  CA4551E2-6E87-4618-9646-2F81E76E705B.png
3    221.516123  221.166667  ...    A1  56C5CD77-8D8E-4098-84F3-E1EAE1DB9B01.png
4    221.307498  220.734169  ...    A1  FBB7194F-AE4D-4A46-81F5-FCEB5994D3C5.png
..          ...         ...  ...   ...                                       ...
157  224.006022  221.596251  ...    D4  2A050294-DD36-4D73-9AA2-9023AB7BBB9A.png
158  217.090618  214.114122  ...    D4  AA85B5B0-3D53-48CE-BD1E-247782EA576A.png
159  217.155497  214.212218  ...    D4  D360D9A0-603E-4947-A8FE-72EB861A079A.png
160  223.760101  221.412199  ...    D4  6E199F41-F776-47E5-BC1C-8DE86C2485F9.png
161  217.234169  214.265054  ...    D4  4CD302CD-AAAC-4130-9FBE-AF8E3C90588B.png

[162 rows x 16 columns]

#4

In [135]:
list_total104 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total104.append(S1rgbrefA1_1)

In [136]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total104,columns=cols)
S1.index.names=['id']

In [137]:
list_total204 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total204.append(S1rgbA1_2)

In [138]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total204,columns=cols)
S2.index.names=['id']

In [139]:
dataA104 = pd.concat([S1, S2], axis=1)
dataA104

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    221.905400  220.852661  202.027778  223.211936  222.084793  204.233435
1    221.296814  220.815948  201.629274  223.110462  222.223334  204.192197
2    220.376166  220.566531  201.340909  222.691502  222.040033  203.709665
3    219.996309  220.108197  201.108974  221.564545  221.646557  203.669910
4    219.749709  219.606546  201.228924  221.948012  221.609953  203.782226
..          ...         ...         ...         ...         ...         ...
157  222.355575  219.621406  179.274573  229.793717  230.481234  211.980910
158  216.234071  213.326535  170.881507  224.111667  225.150218  207.505514
159  216.393162  213.554390  171.578089  225.560838  225.867668  207.934482
160  221.913462  219.178904  178.685606  228.760634  229.636456  211.579372
161  216.353438  213.554293  171.114510  225.023260  225.507831  207.669076

[162 rows x 6 columns]

In [140]:
list_total1104 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1104.append(S1rgbrefA1_1)

In [141]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1104,columns=cols)
S11.index.names=['id']

In [142]:
list_total2204 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2204.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2204,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [ ]:
dataP4 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP4

#5

In [ ]:
list_total105 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total105.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total105,columns=cols)
S1.index.names=['id']

In [ ]:
list_total205 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total205.append(S1rgbA1_2)

In [ ]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total205,columns=cols)
S2.index.names=['id']

In [ ]:
dataA105 = pd.concat([S1, S2], axis=1)
dataA105

In [ ]:
list_total1105 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1105.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1105,columns=cols)
S11.index.names=['id']

In [ ]:
list_total2205 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2205.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2205,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [ ]:
dataP5 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP5

In [ ]:
st1= pd.concat([dataP1, dataP2,dataP3,dataP4,dataP5], axis=0)
st1

In [147]:
st1.to_csv('A1Set3 .csv', index=False)