<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/prepareDSet5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 import pandas as pd

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/shadeimg'

In [4]:
import os

In [5]:
os.listdir(path)

['รูปฟัน07',
 '9-10 7 2021',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'Color-checkerDD.xlsx']

In [6]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 3.4 MB/s
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 4.9 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.27-py2.py3-none-any.whl (12 kB)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 34.8 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.27 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [7]:
from azure.storage.blob import BlockBlobService
import os

In [8]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [9]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [10]:
AA = os.path.join(path,'Color-checkerDD.xlsx')

In [11]:
A1_set1= pd.read_excel(AA, sheet_name='D3_1')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                หมายเหตุ
0    6914F243-996E-49C6-B061-4B5873910254.png  ...  Duration 1/100 ISO 630
1    0F4CC07F-2FB9-430D-8A7D-256916A5E5AC.png  ...  Duration 1/100 ISO 630
2    D31A6339-9324-4718-8F1D-F9C86FF1CAC1.png  ...  Duration 1/100 ISO 630
3    3AD826D5-B618-4F47-BB57-2052C33EFAAE.png  ...  Duration 1/100 ISO 630
4    14BDB65A-A5B9-48B4-9F79-1C078570A88D.png  ...  Duration 1/100 ISO 630
..                                        ...  ...                     ...
159  4BA3C8CF-5469-4252-A5C9-D702506A49EB.png  ...  Duration 1/100 ISO 630
160  FAAE3E0E-8887-4F38-B98A-BB9B3AC9DDE9.png  ...  Duration 1/100 ISO 630
161  8D59BE41-F7B8-48AA-80D2-89C33B5C1139.png  ...  Duration 1/100 ISO 630
162  1CFB9D44-9FE7-404B-AC34-F96C5CF881C8.png  ...  Duration 1/100 ISO 630
163  95F3176B-A2FF-4A86-A11C-65F69D4900DE.png  ...  Duration 1/100 ISO 630

[164 rows x 7 columns]

In [12]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [13]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [14]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [15]:
A1_set1

                                          Img  ...                หมายเหตุ
0    6914F243-996E-49C6-B061-4B5873910254.png  ...  Duration 1/100 ISO 630
1    0F4CC07F-2FB9-430D-8A7D-256916A5E5AC.png  ...  Duration 1/100 ISO 630
2    D31A6339-9324-4718-8F1D-F9C86FF1CAC1.png  ...  Duration 1/100 ISO 630
3    3AD826D5-B618-4F47-BB57-2052C33EFAAE.png  ...  Duration 1/100 ISO 630
4    14BDB65A-A5B9-48B4-9F79-1C078570A88D.png  ...  Duration 1/100 ISO 630
..                                        ...  ...                     ...
159  4BA3C8CF-5469-4252-A5C9-D702506A49EB.png  ...  Duration 1/100 ISO 630
160  FAAE3E0E-8887-4F38-B98A-BB9B3AC9DDE9.png  ...  Duration 1/100 ISO 630
161  8D59BE41-F7B8-48AA-80D2-89C33B5C1139.png  ...  Duration 1/100 ISO 630
162  1CFB9D44-9FE7-404B-AC34-F96C5CF881C8.png  ...  Duration 1/100 ISO 630
163  95F3176B-A2FF-4A86-A11C-65F69D4900DE.png  ...  Duration 1/100 ISO 630

[164 rows x 7 columns]

In [16]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [17]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

          Ref      Shad                                       Img
0     ตารางสี   ตารางสี  6914F243-996E-49C6-B061-4B5873910254.png
1    ตารางเทา  ตารางเทา  0F4CC07F-2FB9-430D-8A7D-256916A5E5AC.png
2          D3        A1  D31A6339-9324-4718-8F1D-F9C86FF1CAC1.png
3          D3        A1  3AD826D5-B618-4F47-BB57-2052C33EFAAE.png
4          D3        A1  14BDB65A-A5B9-48B4-9F79-1C078570A88D.png
..        ...       ...                                       ...
159        D3        D4  4BA3C8CF-5469-4252-A5C9-D702506A49EB.png
160        D3        D4  FAAE3E0E-8887-4F38-B98A-BB9B3AC9DDE9.png
161        D3        D4  8D59BE41-F7B8-48AA-80D2-89C33B5C1139.png
162   ตารางสี   ตารางสี  1CFB9D44-9FE7-404B-AC34-F96C5CF881C8.png
163  ตารางเทา  ตารางเทา  95F3176B-A2FF-4A86-A11C-65F69D4900DE.png

[164 rows x 3 columns]

In [18]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img  ...                หมายเหตุ
0  6914F243-996E-49C6-B061-4B5873910254.png  ...  Duration 1/100 ISO 630
1  0F4CC07F-2FB9-430D-8A7D-256916A5E5AC.png  ...  Duration 1/100 ISO 630
2  D31A6339-9324-4718-8F1D-F9C86FF1CAC1.png  ...  Duration 1/100 ISO 630

[3 rows x 7 columns]

In [19]:
import numpy as np

In [20]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [21]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total1,columns=cols)
S1['Setting']='Set1'
S1

        R-ref       G-ref       B-ref Setting
0   31.335362   32.292346   33.674052    Set1
1   31.302492   31.786706   33.620404    Set1
2  223.533317  203.558640  165.842302    Set1

In [22]:
pd.concat([S1,table1], axis=1)

          R-ref       G-ref  ...      Shad                                       Img
0     31.335362   32.292346  ...   ตารางสี  6914F243-996E-49C6-B061-4B5873910254.png
1     31.302492   31.786706  ...  ตารางเทา  0F4CC07F-2FB9-430D-8A7D-256916A5E5AC.png
2    223.533317  203.558640  ...        A1  D31A6339-9324-4718-8F1D-F9C86FF1CAC1.png
3           NaN         NaN  ...        A1  3AD826D5-B618-4F47-BB57-2052C33EFAAE.png
4           NaN         NaN  ...        A1  14BDB65A-A5B9-48B4-9F79-1C078570A88D.png
..          ...         ...  ...       ...                                       ...
159         NaN         NaN  ...        D4  4BA3C8CF-5469-4252-A5C9-D702506A49EB.png
160         NaN         NaN  ...        D4  FAAE3E0E-8887-4F38-B98A-BB9B3AC9DDE9.png
161         NaN         NaN  ...        D4  8D59BE41-F7B8-48AA-80D2-89C33B5C1139.png
162         NaN         NaN  ...   ตารางสี  1CFB9D44-9FE7-404B-AC34-F96C5CF881C8.png
163         NaN         NaN  ...  ตารางเทา  95F3176B-A2FF-4A86-A11C-65F69D4900DE.png

[164 rows x 7 columns]

In [23]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [24]:
import numpy as np

In [25]:
from tabulate import tabulate

In [26]:
table   = [['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref', 'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Shade-ref', 'Shade', 'Setting']]

#ดึงค่า

In [27]:
list_total1 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [28]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total1,columns=cols)
S1.index.names=['id']

In [29]:
list_total2 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total2.append(S1rgbA1_2)

In [30]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total2,columns=cols)

In [31]:
dataA1 = pd.concat([S1, S2], axis=1)
dataA1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0     31.335362   32.292346   33.674052   29.050139   29.982860   31.364554
1     31.302492   31.786706   33.620404   29.719295   30.171609   31.826186
2    223.533317  203.558640  165.842302  223.503378  203.455302  165.912097
3    224.624949  202.937586  163.191705  224.517033  202.801650  163.173956
4    225.539161  206.125964  167.317020  225.381694  205.911884  167.275798
..          ...         ...         ...         ...         ...         ...
159  221.490788  198.419690  146.799529  221.311927  198.140175  146.593059
160  222.539161  198.197143  144.341450  222.352820  197.989261  144.207738
161  222.287477  198.277169  143.969726  222.029941  198.005547  143.794182
162   31.020696   31.281146   32.820631   29.462983   29.741412   31.306379
163   30.421070   30.051376   30.429429   30.183344   29.966503   30.576061

[164 rows x 6 columns]

##HSV

In [32]:
list_total11 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total11.append(S1rgbrefA1_1)

In [33]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total11,columns=cols)
S11.index.names=['id']

In [34]:
list_total22 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total22.append(S1hsvA1_2)

In [35]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total22,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'
S22

        H-Shad     S-Shad      V-Shad Setting
id
0    94.566034  50.925254   31.577768    Set1
1    92.519593  32.458004   31.951995    Set1
2    19.291231  65.688856  223.503378    Set1
3    19.420169  69.692483  224.517033    Set1
4    19.568025  65.723348  225.381694    Set1
..         ...        ...         ...     ...
159  20.866297  86.153688  221.311927    Set1
160  20.909964  89.686509  222.352820    Set1
161  21.007752  89.922410  222.029941    Set1
162  97.854705  34.831022   31.390513    Set1
163  77.803641  42.008605   31.870564    Set1

[164 rows x 4 columns]

In [36]:
dataP1 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP1

          R-ref       G-ref  ...      Shad                                       Img
0     31.335362   32.292346  ...   ตารางสี  6914F243-996E-49C6-B061-4B5873910254.png
1     31.302492   31.786706  ...  ตารางเทา  0F4CC07F-2FB9-430D-8A7D-256916A5E5AC.png
2    223.533317  203.558640  ...        A1  D31A6339-9324-4718-8F1D-F9C86FF1CAC1.png
3    224.624949  202.937586  ...        A1  3AD826D5-B618-4F47-BB57-2052C33EFAAE.png
4    225.539161  206.125964  ...        A1  14BDB65A-A5B9-48B4-9F79-1C078570A88D.png
..          ...         ...  ...       ...                                       ...
159  221.490788  198.419690  ...        D4  4BA3C8CF-5469-4252-A5C9-D702506A49EB.png
160  222.539161  198.197143  ...        D4  FAAE3E0E-8887-4F38-B98A-BB9B3AC9DDE9.png
161  222.287477  198.277169  ...        D4  8D59BE41-F7B8-48AA-80D2-89C33B5C1139.png
162   31.020696   31.281146  ...   ตารางสี  1CFB9D44-9FE7-404B-AC34-F96C5CF881C8.png
163   30.421070   30.051376  ...  ตารางเทา  95F3176B-A2FF-4A86-A11C-65F69D4900DE.png

[164 rows x 16 columns]

#2

In [37]:
list_total102 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total102.append(S1rgbrefA1_1)

In [38]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total102,columns=cols)
S1.index.names=['id']

In [39]:
list_total202 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total202.append(S1rgbA1_2)

In [40]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total202,columns=cols)
S2.index.names=['id']

In [41]:
dataA102 = pd.concat([S1, S2], axis=1)
dataA102

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0     33.628691   34.322941   34.779720   39.953758   41.419424   42.208600
1     30.829254   31.093823   31.452506   40.842369   41.457974   42.763785
2    229.077214  210.005828  173.135587  223.133259  197.130386  151.897878
3    230.578671  210.178419  171.915793  224.118339  197.318970  149.968585
4    231.488928  212.535742  175.143260  225.152257  199.237976  153.070058
..          ...         ...         ...         ...         ...         ...
159  225.470765  204.589646  154.656177  225.500046  201.949402  156.064684
160  226.769231  204.507576  152.950855  227.142526  201.604856  154.152164
161  226.829934  204.831294  152.717852  227.041238  202.279399  154.062830
162   31.701632   32.238539   33.694833   44.149754   44.952090   46.102863
163   36.257867   35.300699   34.600622   51.353257   51.629691   53.524511

[164 rows x 6 columns]

In [42]:
list_total1102 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1102.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1102,columns=cols)
S11.index.names=['id']

In [ ]:
list_total2202 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2202.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2202,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [46]:
dataP2 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP2

          R-ref       G-ref  ...      Shad                                       Img
0     33.628691   34.322941  ...   ตารางสี  6914F243-996E-49C6-B061-4B5873910254.png
1     30.829254   31.093823  ...  ตารางเทา  0F4CC07F-2FB9-430D-8A7D-256916A5E5AC.png
2    229.077214  210.005828  ...        A1  D31A6339-9324-4718-8F1D-F9C86FF1CAC1.png
3    230.578671  210.178419  ...        A1  3AD826D5-B618-4F47-BB57-2052C33EFAAE.png
4    231.488928  212.535742  ...        A1  14BDB65A-A5B9-48B4-9F79-1C078570A88D.png
..          ...         ...  ...       ...                                       ...
159  225.470765  204.589646  ...        D4  4BA3C8CF-5469-4252-A5C9-D702506A49EB.png
160  226.769231  204.507576  ...        D4  FAAE3E0E-8887-4F38-B98A-BB9B3AC9DDE9.png
161  226.829934  204.831294  ...        D4  8D59BE41-F7B8-48AA-80D2-89C33B5C1139.png
162   31.701632   32.238539  ...   ตารางสี  1CFB9D44-9FE7-404B-AC34-F96C5CF881C8.png
163   36.257867   35.300699  ...  ตารางเทา  95F3176B-A2FF-4A86-A11C-65F69D4900DE.png

[164 rows x 16 columns]

#3

In [ ]:
list_total103 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1739<i<1839 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total103.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total103,columns=cols)
S1.index.names=['id']

In [49]:
list_total203 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total203.append(S1rgbA1_2)

In [ ]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total203,columns=cols)
S2.index.names=['id']

In [ ]:
dataA103 = pd.concat([S1, S2], axis=1)
dataA103

In [ ]:
list_total1103 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
               if 1739<i<1839 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1103.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1103,columns=cols)
S11.index.names=['id']

In [ ]:
list_total2203 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2203.append(S1hsvA1_2)

In [55]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2203,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [ ]:
dataP3 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP3

#4

In [ ]:
list_total104 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total104.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total104,columns=cols)
S1.index.names=['id']

In [ ]:
list_total204 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total204.append(S1rgbA1_2)

In [ ]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total204,columns=cols)
S2.index.names=['id']

In [61]:
dataA104 = pd.concat([S1, S2], axis=1)
dataA104

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0     30.599068   31.501748   32.687257   38.781207   40.236308   41.086090
1     34.918124   35.587413   36.893454   40.306552   40.734779   42.036234
2    225.165210  205.270493  167.643842  219.468539  192.627560  147.815309
3    226.348582  204.863539  165.492133  219.476045  191.991660  144.745529
4    227.371115  207.971154  169.400641  221.403299  194.476879  149.215087
..          ...         ...         ...         ...         ...         ...
159  222.471057  199.976010  148.635684  222.686683  198.635252  153.300343
160  223.619367  199.735625  146.334596  224.116393  197.625892  150.748957
161  223.567890  199.955517  146.117813  224.126216  198.372533  150.917431
162   29.924631   30.235043   31.854895   43.436753   43.952090   45.190807
163   29.707265   28.879274   28.765443   49.942545   50.243073   52.179223

[164 rows x 6 columns]

In [ ]:
list_total1104 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1104.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1104,columns=cols)
S11.index.names=['id']

In [ ]:
list_total2204 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2204.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2204,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [ ]:
dataP4 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP4

#5

In [67]:
list_total105 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total105.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total105,columns=cols)
S1.index.names=['id']

In [ ]:
list_total205 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total205.append(S1rgbA1_2)

In [ ]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total205,columns=cols)
S2.index.names=['id']

In [ ]:
dataA105 = pd.concat([S1, S2], axis=1)
dataA105

In [ ]:
list_total1105 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1105.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1105,columns=cols)
S11.index.names=['id']

In [ ]:
list_total2205 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2205.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2205,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [76]:
dataP5 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP5

          R-ref       G-ref  ...      Shad                                       Img
0     30.566531   31.566239  ...   ตารางสี  6914F243-996E-49C6-B061-4B5873910254.png
1     30.315462   30.825175  ...  ตารางเทา  0F4CC07F-2FB9-430D-8A7D-256916A5E5AC.png
2    223.232129  203.109751  ...        A1  D31A6339-9324-4718-8F1D-F9C86FF1CAC1.png
3    224.423077  202.526030  ...        A1  3AD826D5-B618-4F47-BB57-2052C33EFAAE.png
4    225.159285  205.763792  ...        A1  14BDB65A-A5B9-48B4-9F79-1C078570A88D.png
..          ...         ...  ...       ...                                       ...
159  220.864705  197.523310  ...        D4  4BA3C8CF-5469-4252-A5C9-D702506A49EB.png
160  221.985334  197.427059  ...        D4  FAAE3E0E-8887-4F38-B98A-BB9B3AC9DDE9.png
161  221.548174  197.333333  ...        D4  8D59BE41-F7B8-48AA-80D2-89C33B5C1139.png
162   29.845474   30.088481  ...   ตารางสี  1CFB9D44-9FE7-404B-AC34-F96C5CF881C8.png
163   29.778652   29.516803  ...  ตารางเทา  95F3176B-A2FF-4A86-A11C-65F69D4900DE.png

[164 rows x 16 columns]

In [ ]:
st1= pd.concat([dataP1, dataP2,dataP3,dataP4,dataP5], axis=0)
st1

In [79]:
st1.to_csv('D3set5.csv', index=False)