<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/prepareDSet1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/shadeimg'

In [4]:
import os

In [5]:
os.listdir(path)

['รูปฟัน07',
 '9-10 7 2021',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx']

In [6]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 3.3 MB/s
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 4.6 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.27-py2.py3-none-any.whl (12 kB)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 25.5 MB/s
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.27 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [7]:
from azure.storage.blob import BlockBlobService
import os

In [8]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [9]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [10]:
AA = os.path.join(path,'DD1.xlsx')

In [11]:
A1_set1= pd.read_excel(AA, sheet_name='D2Set1')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                   หมายเหตุ
0    BD87D607-5718-45C1-A0DB-D75E63316FD0.png  ...  ค่า duration 1/90 ISO 171
1    FC1BDDC8-C8A7-4C8D-90F6-E6B112FC674F.png  ...  ค่า duration 1/90 ISO 171
2    27DD78A7-D5F3-4BAB-BFE1-8D2D8AB88D29.png  ...  ค่า duration 1/90 ISO 171
3    25A38DEA-0A5E-4502-AE98-BDEB123DF4E5.png  ...  ค่า duration 1/90 ISO 171
4    7396F2FB-8C50-4ED7-AA8C-CDAE1624F900.png  ...  ค่า duration 1/90 ISO 171
..                                        ...  ...                        ...
156  B4D78C65-4BF0-417E-A69B-299299AF2D33.png  ...  ค่า duration 1/90 ISO 171
157  9D6D42BF-5586-43F9-ADC5-710B5AEA6C31.png  ...  ค่า duration 1/90 ISO 171
158  4AB44A17-0241-4CC0-A3D3-06D3575D7F8C.png  ...  ค่า duration 1/90 ISO 171
159  28CE77BF-E99E-4BF2-BA78-03B73D2BA828.png  ...  ค่า duration 1/90 ISO 171
160  011FF57F-4D10-490E-987F-EEAFCC3A8496.png  ...  ค่า duration 1/90 ISO 171

[161 rows x 7 columns]

In [12]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [13]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [14]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [15]:
A1_set1

                                          Img  ...                   หมายเหตุ
0    BD87D607-5718-45C1-A0DB-D75E63316FD0.png  ...  ค่า duration 1/90 ISO 171
1    FC1BDDC8-C8A7-4C8D-90F6-E6B112FC674F.png  ...  ค่า duration 1/90 ISO 171
2    27DD78A7-D5F3-4BAB-BFE1-8D2D8AB88D29.png  ...  ค่า duration 1/90 ISO 171
3    25A38DEA-0A5E-4502-AE98-BDEB123DF4E5.png  ...  ค่า duration 1/90 ISO 171
4    7396F2FB-8C50-4ED7-AA8C-CDAE1624F900.png  ...  ค่า duration 1/90 ISO 171
..                                        ...  ...                        ...
156  B4D78C65-4BF0-417E-A69B-299299AF2D33.png  ...  ค่า duration 1/90 ISO 171
157  9D6D42BF-5586-43F9-ADC5-710B5AEA6C31.png  ...  ค่า duration 1/90 ISO 171
158  4AB44A17-0241-4CC0-A3D3-06D3575D7F8C.png  ...  ค่า duration 1/90 ISO 171
159  28CE77BF-E99E-4BF2-BA78-03B73D2BA828.png  ...  ค่า duration 1/90 ISO 171
160  011FF57F-4D10-490E-987F-EEAFCC3A8496.png  ...  ค่า duration 1/90 ISO 171

[161 rows x 7 columns]

In [16]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [17]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    D2   A1  BD87D607-5718-45C1-A0DB-D75E63316FD0.png
1    D2   A1  FC1BDDC8-C8A7-4C8D-90F6-E6B112FC674F.png
2    D2   A1  27DD78A7-D5F3-4BAB-BFE1-8D2D8AB88D29.png
3    D2   A1  25A38DEA-0A5E-4502-AE98-BDEB123DF4E5.png
4    D2   A1  7396F2FB-8C50-4ED7-AA8C-CDAE1624F900.png
..   ..  ...                                       ...
156  D2   D4  B4D78C65-4BF0-417E-A69B-299299AF2D33.png
157  D2   D4  9D6D42BF-5586-43F9-ADC5-710B5AEA6C31.png
158  D2   D4  4AB44A17-0241-4CC0-A3D3-06D3575D7F8C.png
159  D2   D4  28CE77BF-E99E-4BF2-BA78-03B73D2BA828.png
160  D2   D4  011FF57F-4D10-490E-987F-EEAFCC3A8496.png

[161 rows x 3 columns]

In [18]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img  ...                   หมายเหตุ
0  BD87D607-5718-45C1-A0DB-D75E63316FD0.png  ...  ค่า duration 1/90 ISO 171
1  FC1BDDC8-C8A7-4C8D-90F6-E6B112FC674F.png  ...  ค่า duration 1/90 ISO 171
2  27DD78A7-D5F3-4BAB-BFE1-8D2D8AB88D29.png  ...  ค่า duration 1/90 ISO 171

[3 rows x 7 columns]

In [19]:
import numpy as np

In [20]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [21]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total1,columns=cols)
S1['Setting']='Set1'
S1

        R-ref       G-ref       B-ref Setting
0  233.315883  219.042529  182.521062    Set1
1  233.194140  219.034007  182.078484    Set1
2  228.266131  215.102914  179.983605    Set1

In [22]:
pd.concat([S1,table1], axis=1)

          R-ref       G-ref  ...  Shad                                       Img
0    233.315883  219.042529  ...    A1  BD87D607-5718-45C1-A0DB-D75E63316FD0.png
1    233.194140  219.034007  ...    A1  FC1BDDC8-C8A7-4C8D-90F6-E6B112FC674F.png
2    228.266131  215.102914  ...    A1  27DD78A7-D5F3-4BAB-BFE1-8D2D8AB88D29.png
3           NaN         NaN  ...    A1  25A38DEA-0A5E-4502-AE98-BDEB123DF4E5.png
4           NaN         NaN  ...    A1  7396F2FB-8C50-4ED7-AA8C-CDAE1624F900.png
..          ...         ...  ...   ...                                       ...
156         NaN         NaN  ...    D4  B4D78C65-4BF0-417E-A69B-299299AF2D33.png
157         NaN         NaN  ...    D4  9D6D42BF-5586-43F9-ADC5-710B5AEA6C31.png
158         NaN         NaN  ...    D4  4AB44A17-0241-4CC0-A3D3-06D3575D7F8C.png
159         NaN         NaN  ...    D4  28CE77BF-E99E-4BF2-BA78-03B73D2BA828.png
160         NaN         NaN  ...    D4  011FF57F-4D10-490E-987F-EEAFCC3A8496.png

[161 rows x 7 columns]

In [23]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [24]:
import numpy as np

In [25]:
from tabulate import tabulate

In [26]:
table   = [['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref', 'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Shade-ref', 'Shade', 'Setting']]

#ดึงค่า

In [27]:
list_total1 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [28]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total1,columns=cols)
S1.index.names=['id']

In [29]:
list_total2 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total2.append(S1rgbA1_2)

In [30]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total2,columns=cols)

In [31]:
dataA1 = pd.concat([S1, S2], axis=1)
dataA1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    233.315883  219.042529  182.521062  233.667093  219.760757  183.891046
1    233.194140  219.034007  182.078484  233.563331  219.768224  183.451248
2    228.266131  215.102914  179.983605  228.810113  215.946590  181.582960
3    233.271975  219.056732  181.960799  233.632672  219.760828  183.255672
4    234.316776  220.035711  183.531856  234.724131  220.744968  184.855985
..          ...         ...         ...         ...         ...         ...
156  232.303466  206.335444  158.889376  232.902923  207.128227  160.367968
157  231.605876  205.665530  158.794984  232.160657  206.513121  160.385250
158  231.335849  205.305332  158.700268  231.897802  206.192874  160.205533
159  230.854476  205.495901  158.140492  231.458858  206.345139  159.613114
160  233.103076  207.238698  160.340881  233.628618  208.060380  161.827110

[161 rows x 6 columns]

##HSV

In [32]:
list_total11 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total11.append(S1rgbrefA1_1)

In [33]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total11,columns=cols)
S11.index.names=['id']

In [34]:
list_total22 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total22.append(S1hsvA1_2)

In [35]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total22,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'
S22

        H-Shad     S-Shad      V-Shad Setting
id
0    21.686509  54.387028  233.667093    Set1
1    21.826755  54.788991  233.563331    Set1
2    21.907972  52.719863  228.810113    Set1
3    21.790698  55.064434  233.632672    Set1
4    21.684873  54.232203  234.724131    Set1
..         ...        ...         ...     ...
156  19.477206  79.501814  232.902923    Set1
157  19.347130  78.956120  232.160657    Set1
158  19.292084  78.930944  231.897802    Set1
159  19.675628  79.245075  231.458858    Set1
160  19.386743  78.456013  233.628618    Set1

[161 rows x 4 columns]

In [36]:
dataP1 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP1

          R-ref       G-ref  ...  Shad                                       Img
0    233.315883  219.042529  ...    A1  BD87D607-5718-45C1-A0DB-D75E63316FD0.png
1    233.194140  219.034007  ...    A1  FC1BDDC8-C8A7-4C8D-90F6-E6B112FC674F.png
2    228.266131  215.102914  ...    A1  27DD78A7-D5F3-4BAB-BFE1-8D2D8AB88D29.png
3    233.271975  219.056732  ...    A1  25A38DEA-0A5E-4502-AE98-BDEB123DF4E5.png
4    234.316776  220.035711  ...    A1  7396F2FB-8C50-4ED7-AA8C-CDAE1624F900.png
..          ...         ...  ...   ...                                       ...
156  232.303466  206.335444  ...    D4  B4D78C65-4BF0-417E-A69B-299299AF2D33.png
157  231.605876  205.665530  ...    D4  9D6D42BF-5586-43F9-ADC5-710B5AEA6C31.png
158  231.335849  205.305332  ...    D4  4AB44A17-0241-4CC0-A3D3-06D3575D7F8C.png
159  230.854476  205.495901  ...    D4  28CE77BF-E99E-4BF2-BA78-03B73D2BA828.png
160  233.103076  207.238698  ...    D4  011FF57F-4D10-490E-987F-EEAFCC3A8496.png

[161 rows x 16 columns]

#2

In [37]:
list_total102 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total102.append(S1rgbrefA1_1)

In [38]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total102,columns=cols)
S1.index.names=['id']

In [39]:
list_total202 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total202.append(S1rgbA1_2)

In [40]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total202,columns=cols)
S2.index.names=['id']

In [41]:
dataA102 = pd.concat([S1, S2], axis=1)
dataA102

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    238.088190  223.843531  187.885878  229.476972  213.117505  176.950422
1    238.053030  223.947455  187.320804  229.499305  213.329534  176.495784
2    233.654332  219.933955  183.887335  225.252989  209.770920  175.431193
3    238.016026  223.854701  186.930070  229.572329  213.106941  176.397739
4    238.780109  224.845183  188.688714  230.794922  214.496710  178.591697
..          ...         ...         ...         ...         ...         ...
156  237.171037  212.093920  165.164433  234.461032  212.726068  182.755722
157  236.388695  211.605769  165.370338  232.840052  211.022519  181.234362
158  236.325563  211.328866  165.022922  232.734038  211.311649  182.210175
159  235.532925  211.251360  164.525058  233.049578  211.370957  181.748587
160  238.080225  213.148990  167.159188  234.635066  213.147067  184.026040

[161 rows x 6 columns]

In [42]:
list_total1102 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1102.append(S1rgbrefA1_1)

In [43]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1102,columns=cols)
S11.index.names=['id']

In [44]:
list_total2202 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2202.append(S1hsvA1_2)

In [45]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2202,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [46]:
dataP2 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP2

          R-ref       G-ref  ...  Shad                                       Img
0    238.088190  223.843531  ...    A1  BD87D607-5718-45C1-A0DB-D75E63316FD0.png
1    238.053030  223.947455  ...    A1  FC1BDDC8-C8A7-4C8D-90F6-E6B112FC674F.png
2    233.654332  219.933955  ...    A1  27DD78A7-D5F3-4BAB-BFE1-8D2D8AB88D29.png
3    238.016026  223.854701  ...    A1  25A38DEA-0A5E-4502-AE98-BDEB123DF4E5.png
4    238.780109  224.845183  ...    A1  7396F2FB-8C50-4ED7-AA8C-CDAE1624F900.png
..          ...         ...  ...   ...                                       ...
156  237.171037  212.093920  ...    D4  B4D78C65-4BF0-417E-A69B-299299AF2D33.png
157  236.388695  211.605769  ...    D4  9D6D42BF-5586-43F9-ADC5-710B5AEA6C31.png
158  236.325563  211.328866  ...    D4  4AB44A17-0241-4CC0-A3D3-06D3575D7F8C.png
159  235.532925  211.251360  ...    D4  28CE77BF-E99E-4BF2-BA78-03B73D2BA828.png
160  238.080225  213.148990  ...    D4  011FF57F-4D10-490E-987F-EEAFCC3A8496.png

[161 rows x 16 columns]

#3

In [47]:
list_total103 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1739<i<1839 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total103.append(S1rgbrefA1_1)

In [48]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total103,columns=cols)
S1.index.names=['id']

In [49]:
list_total203 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total203.append(S1rgbA1_2)

In [50]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total203,columns=cols)
S2.index.names=['id']

In [51]:
dataA103 = pd.concat([S1, S2], axis=1)
dataA103

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    236.423757  222.193570  186.134130  228.545547  212.702530  177.626726
1    236.370435  222.197552  185.564394  228.607729  212.847929  177.181077
2    232.111888  218.542929  182.654332  223.895839  208.618293  174.628023
3    236.398504  222.261558  185.389472  228.746363  212.720415  177.098045
4    237.294386  223.289336  187.103341  229.954499  214.074507  179.109814
..          ...         ...         ...         ...         ...         ...
156  235.593920  210.200078  163.004759  233.372347  212.008062  182.893244
157  234.852953  209.691531  163.088578  231.801223  210.344268  181.468168
158  234.618590  209.242424  162.751263  231.693912  210.655083  182.294968
159  233.912393  209.236500  162.224165  231.938653  210.658790  182.015291
160  236.470668  211.171426  164.662587  233.727551  212.582059  184.254193

[161 rows x 6 columns]

In [52]:
list_total1103 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
               if 1739<i<1839 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1103.append(S1rgbrefA1_1)

In [53]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1103,columns=cols)
S11.index.names=['id']

In [54]:
list_total2203 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2203.append(S1hsvA1_2)

In [55]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2203,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [56]:
dataP3 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP3

          R-ref       G-ref  ...  Shad                                       Img
0    236.423757  222.193570  ...    A1  BD87D607-5718-45C1-A0DB-D75E63316FD0.png
1    236.370435  222.197552  ...    A1  FC1BDDC8-C8A7-4C8D-90F6-E6B112FC674F.png
2    232.111888  218.542929  ...    A1  27DD78A7-D5F3-4BAB-BFE1-8D2D8AB88D29.png
3    236.398504  222.261558  ...    A1  25A38DEA-0A5E-4502-AE98-BDEB123DF4E5.png
4    237.294386  223.289336  ...    A1  7396F2FB-8C50-4ED7-AA8C-CDAE1624F900.png
..          ...         ...  ...   ...                                       ...
156  235.593920  210.200078  ...    D4  B4D78C65-4BF0-417E-A69B-299299AF2D33.png
157  234.852953  209.691531  ...    D4  9D6D42BF-5586-43F9-ADC5-710B5AEA6C31.png
158  234.618590  209.242424  ...    D4  4AB44A17-0241-4CC0-A3D3-06D3575D7F8C.png
159  233.912393  209.236500  ...    D4  28CE77BF-E99E-4BF2-BA78-03B73D2BA828.png
160  236.470668  211.171426  ...    D4  011FF57F-4D10-490E-987F-EEAFCC3A8496.png

[161 rows x 16 columns]

#4

In [57]:
list_total104 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total104.append(S1rgbrefA1_1)

In [58]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total104,columns=cols)
S1.index.names=['id']

In [59]:
list_total204 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total204.append(S1rgbA1_2)

In [60]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total204,columns=cols)
S2.index.names=['id']

In [61]:
dataA104 = pd.concat([S1, S2], axis=1)
dataA104

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    234.946387  220.763015  184.701049  227.177741  211.701789  177.202854
1    234.805556  220.733877  184.213578  227.281809  211.712909  176.783709
2    230.391123  217.092269  181.639860  222.406172  207.109258  173.314707
3    234.894037  220.797106  183.971348  227.456862  211.727736  176.572514
4    235.779332  221.742521  185.543318  228.642851  213.055973  178.657029
..          ...         ...         ...         ...         ...         ...
156  234.019619  208.359169  161.104798  231.892132  210.804745  182.163192
157  233.247766  207.716492  160.933664  230.275600  209.057548  180.812622
158  232.998252  207.283314  160.730186  230.264480  209.524604  181.697062
159  232.550019  207.489219  160.273019  230.415809  209.439996  181.455657
160  234.808761  209.226884  162.512141  232.338986  211.391715  183.534334

[161 rows x 6 columns]

In [62]:
list_total1104 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1104.append(S1rgbrefA1_1)

In [63]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1104,columns=cols)
S11.index.names=['id']

In [64]:
list_total2204 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2204.append(S1hsvA1_2)

In [65]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2204,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [66]:
dataP4 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP4

          R-ref       G-ref  ...  Shad                                       Img
0    234.946387  220.763015  ...    A1  BD87D607-5718-45C1-A0DB-D75E63316FD0.png
1    234.805556  220.733877  ...    A1  FC1BDDC8-C8A7-4C8D-90F6-E6B112FC674F.png
2    230.391123  217.092269  ...    A1  27DD78A7-D5F3-4BAB-BFE1-8D2D8AB88D29.png
3    234.894037  220.797106  ...    A1  25A38DEA-0A5E-4502-AE98-BDEB123DF4E5.png
4    235.779332  221.742521  ...    A1  7396F2FB-8C50-4ED7-AA8C-CDAE1624F900.png
..          ...         ...  ...   ...                                       ...
156  234.019619  208.359169  ...    D4  B4D78C65-4BF0-417E-A69B-299299AF2D33.png
157  233.247766  207.716492  ...    D4  9D6D42BF-5586-43F9-ADC5-710B5AEA6C31.png
158  232.998252  207.283314  ...    D4  4AB44A17-0241-4CC0-A3D3-06D3575D7F8C.png
159  232.550019  207.489219  ...    D4  28CE77BF-E99E-4BF2-BA78-03B73D2BA828.png
160  234.808761  209.226884  ...    D4  011FF57F-4D10-490E-987F-EEAFCC3A8496.png

[161 rows x 16 columns]

#5

In [67]:
list_total105 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total105.append(S1rgbrefA1_1)

In [68]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total105,columns=cols)
S1.index.names=['id']

In [69]:
list_total205 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total205.append(S1rgbA1_2)

In [70]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total205,columns=cols)
S2.index.names=['id']

In [71]:
dataA105 = pd.concat([S1, S2], axis=1)
dataA105

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    233.496795  219.459984  183.541861  226.103698  210.819850  176.733852
1    233.355381  219.439880  183.049242  226.136225  210.611621  176.276619
2    228.504662  215.655983  181.190171  220.799092  205.492077  172.120749
3    233.467172  219.479118  182.892580  226.386711  210.920397  176.047818
4    234.509615  220.490385  184.508256  227.663423  212.284033  178.291261
..          ...         ...         ...         ...         ...         ...
156  232.427739  206.647727  159.326535  230.270133  209.375035  181.208878
157  231.888015  206.184926  159.572552  228.834399  207.851728  180.180984
158  231.513500  205.702894  159.341395  228.928644  208.278473  180.788620
159  231.071096  205.839938  158.726301  228.941155  208.122695  180.649708
160  233.241064  207.618201  160.885004  230.997776  210.146696  182.654620

[161 rows x 6 columns]

In [72]:
list_total1105 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1105.append(S1rgbrefA1_1)

In [73]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1105,columns=cols)
S11.index.names=['id']

In [74]:
list_total2205 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2205.append(S1hsvA1_2)

In [75]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2205,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [76]:
dataP5 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP5

          R-ref       G-ref  ...  Shad                                       Img
0    233.496795  219.459984  ...    A1  BD87D607-5718-45C1-A0DB-D75E63316FD0.png
1    233.355381  219.439880  ...    A1  FC1BDDC8-C8A7-4C8D-90F6-E6B112FC674F.png
2    228.504662  215.655983  ...    A1  27DD78A7-D5F3-4BAB-BFE1-8D2D8AB88D29.png
3    233.467172  219.479118  ...    A1  25A38DEA-0A5E-4502-AE98-BDEB123DF4E5.png
4    234.509615  220.490385  ...    A1  7396F2FB-8C50-4ED7-AA8C-CDAE1624F900.png
..          ...         ...  ...   ...                                       ...
156  232.427739  206.647727  ...    D4  B4D78C65-4BF0-417E-A69B-299299AF2D33.png
157  231.888015  206.184926  ...    D4  9D6D42BF-5586-43F9-ADC5-710B5AEA6C31.png
158  231.513500  205.702894  ...    D4  4AB44A17-0241-4CC0-A3D3-06D3575D7F8C.png
159  231.071096  205.839938  ...    D4  28CE77BF-E99E-4BF2-BA78-03B73D2BA828.png
160  233.241064  207.618201  ...    D4  011FF57F-4D10-490E-987F-EEAFCC3A8496.png

[161 rows x 16 columns]

In [77]:
st1= pd.concat([dataP1, dataP2,dataP3,dataP4,dataP5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    233.315883  219.042529  ...    A1  BD87D607-5718-45C1-A0DB-D75E63316FD0.png
1    233.194140  219.034007  ...    A1  FC1BDDC8-C8A7-4C8D-90F6-E6B112FC674F.png
2    228.266131  215.102914  ...    A1  27DD78A7-D5F3-4BAB-BFE1-8D2D8AB88D29.png
3    233.271975  219.056732  ...    A1  25A38DEA-0A5E-4502-AE98-BDEB123DF4E5.png
4    234.316776  220.035711  ...    A1  7396F2FB-8C50-4ED7-AA8C-CDAE1624F900.png
..          ...         ...  ...   ...                                       ...
156  232.427739  206.647727  ...    D4  B4D78C65-4BF0-417E-A69B-299299AF2D33.png
157  231.888015  206.184926  ...    D4  9D6D42BF-5586-43F9-ADC5-710B5AEA6C31.png
158  231.513500  205.702894  ...    D4  4AB44A17-0241-4CC0-A3D3-06D3575D7F8C.png
159  231.071096  205.839938  ...    D4  28CE77BF-E99E-4BF2-BA78-03B73D2BA828.png
160  233.241064  207.618201  ...    D4  011FF57F-4D10-490E-987F-EEAFCC3A8496.png

[805 rows x 16 columns]

In [81]:
st1.to_csv('D2Set1 .csv', index=False)