<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/prepareASet2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [148]:
 import pandas as pd

In [149]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [150]:
path = '/content/drive/My Drive/shadeimg'

In [151]:
import os

In [152]:
os.listdir(path)

['รูปฟัน07',
 '9-10 7 2021',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx']

In [153]:
!pip install azure-storage-blob==2.1.0

Requirement already satisfied: azure-storage-blob==2.1.0 in /usr/local/lib/python3.7/dist-packages (2.1.0)
Requirement already satisfied: azure-storage-common~=2.1 in /usr/local/lib/python3.7/dist-packages (from azure-storage-blob==2.1.0) (2.1.0)
Requirement already satisfied: azure-common>=1.1.5 in /usr/local/lib/python3.7/dist-packages (from azure-storage-blob==2.1.0) (1.1.27)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: cryptography in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (36.0.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)

In [154]:
from azure.storage.blob import BlockBlobService
import os

In [155]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [156]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [157]:
AA = os.path.join(path,'AA1.xlsx')

In [158]:
A1_set1= pd.read_excel(AA, sheet_name='A1Set4')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                   หมายเหตุ
0    2BFE464D-1D6D-46D6-99C7-4FCDC9358FEA.png  ...  ค่า duration 1/510 ISO 90
1    89D4705E-E69B-4FE0-BB8B-ED158F2155F8.png  ...  ค่า duration 1/510 ISO 90
2    9F9519D1-510E-4D8E-AE74-9911DFC3D27F.png  ...  ค่า duration 1/510 ISO 90
3    13A4FFF1-164D-4B22-B433-C4EA152F1366.png  ...  ค่า duration 1/510 ISO 90
4    89E19FAA-FD5D-4051-B0E7-B91CFDA3DADF.png  ...  ค่า duration 1/510 ISO 90
..                                        ...  ...                        ...
155  F063BC0D-9A10-453B-893E-F3BBCD464BCD.png  ...  ค่า duration 1/510 ISO 90
156  C448B8F4-A293-4570-8912-80478AF6E1D7.png  ...  ค่า duration 1/510 ISO 90
157  5CF7D8EF-53CF-4B71-9B78-88FB30CD470A.png  ...  ค่า duration 1/510 ISO 90
158  816F2A8B-FABF-4DF4-B5E4-1F166001C066.png  ...  ค่า duration 1/510 ISO 90
159  A4385FD6-0FAF-4CD2-A65C-90AC9951E0EC.png  ...  ค่า duration 1/510 ISO 90

[160 rows x 7 columns]

In [159]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [160]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [161]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [162]:
A1_set1

                                          Img  ...                   หมายเหตุ
0    2BFE464D-1D6D-46D6-99C7-4FCDC9358FEA.png  ...  ค่า duration 1/510 ISO 90
1    89D4705E-E69B-4FE0-BB8B-ED158F2155F8.png  ...  ค่า duration 1/510 ISO 90
2    9F9519D1-510E-4D8E-AE74-9911DFC3D27F.png  ...  ค่า duration 1/510 ISO 90
3    13A4FFF1-164D-4B22-B433-C4EA152F1366.png  ...  ค่า duration 1/510 ISO 90
4    89E19FAA-FD5D-4051-B0E7-B91CFDA3DADF.png  ...  ค่า duration 1/510 ISO 90
..                                        ...  ...                        ...
155  F063BC0D-9A10-453B-893E-F3BBCD464BCD.png  ...  ค่า duration 1/510 ISO 90
156  C448B8F4-A293-4570-8912-80478AF6E1D7.png  ...  ค่า duration 1/510 ISO 90
157  5CF7D8EF-53CF-4B71-9B78-88FB30CD470A.png  ...  ค่า duration 1/510 ISO 90
158  816F2A8B-FABF-4DF4-B5E4-1F166001C066.png  ...  ค่า duration 1/510 ISO 90
159  A4385FD6-0FAF-4CD2-A65C-90AC9951E0EC.png  ...  ค่า duration 1/510 ISO 90

[160 rows x 7 columns]

In [163]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [164]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    A1   A1  2BFE464D-1D6D-46D6-99C7-4FCDC9358FEA.png
1    A1   A1  89D4705E-E69B-4FE0-BB8B-ED158F2155F8.png
2    A1   A1  9F9519D1-510E-4D8E-AE74-9911DFC3D27F.png
3    A1   A1  13A4FFF1-164D-4B22-B433-C4EA152F1366.png
4    A1   A1  89E19FAA-FD5D-4051-B0E7-B91CFDA3DADF.png
..   ..  ...                                       ...
155  A1   D4  F063BC0D-9A10-453B-893E-F3BBCD464BCD.png
156  A1   D4  C448B8F4-A293-4570-8912-80478AF6E1D7.png
157  A1   D4  5CF7D8EF-53CF-4B71-9B78-88FB30CD470A.png
158  A1   D4  816F2A8B-FABF-4DF4-B5E4-1F166001C066.png
159  A1   D4  A4385FD6-0FAF-4CD2-A65C-90AC9951E0EC.png

[160 rows x 3 columns]

In [165]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img  ...                   หมายเหตุ
0  2BFE464D-1D6D-46D6-99C7-4FCDC9358FEA.png  ...  ค่า duration 1/510 ISO 90
1  89D4705E-E69B-4FE0-BB8B-ED158F2155F8.png  ...  ค่า duration 1/510 ISO 90
2  9F9519D1-510E-4D8E-AE74-9911DFC3D27F.png  ...  ค่า duration 1/510 ISO 90

[3 rows x 7 columns]

In [166]:
import numpy as np

In [167]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [168]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total1,columns=cols)
S1['Setting']='Set1'
S1

        R-ref       G-ref       B-ref Setting
0  231.126613  228.393393  209.433650    Set1
1  223.879474  222.567405  203.589806    Set1
2  223.274978  222.438763  203.089765    Set1

In [169]:
pd.concat([S1,table1], axis=1)

          R-ref       G-ref  ...  Shad                                       Img
0    231.126613  228.393393  ...    A1  2BFE464D-1D6D-46D6-99C7-4FCDC9358FEA.png
1    223.879474  222.567405  ...    A1  89D4705E-E69B-4FE0-BB8B-ED158F2155F8.png
2    223.274978  222.438763  ...    A1  9F9519D1-510E-4D8E-AE74-9911DFC3D27F.png
3           NaN         NaN  ...    A1  13A4FFF1-164D-4B22-B433-C4EA152F1366.png
4           NaN         NaN  ...    A1  89E19FAA-FD5D-4051-B0E7-B91CFDA3DADF.png
..          ...         ...  ...   ...                                       ...
155         NaN         NaN  ...    D4  F063BC0D-9A10-453B-893E-F3BBCD464BCD.png
156         NaN         NaN  ...    D4  C448B8F4-A293-4570-8912-80478AF6E1D7.png
157         NaN         NaN  ...    D4  5CF7D8EF-53CF-4B71-9B78-88FB30CD470A.png
158         NaN         NaN  ...    D4  816F2A8B-FABF-4DF4-B5E4-1F166001C066.png
159         NaN         NaN  ...    D4  A4385FD6-0FAF-4CD2-A65C-90AC9951E0EC.png

[160 rows x 7 columns]

In [170]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [171]:
import numpy as np

In [172]:
from tabulate import tabulate

In [173]:
table   = [['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref', 'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Shade-ref', 'Shade', 'Setting']]

#ดึงค่า

In [174]:
list_total1 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [175]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total1,columns=cols)
S1.index.names=['id']

In [176]:
list_total2 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total2.append(S1rgbA1_2)

In [177]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total2,columns=cols)

In [178]:
dataA1 = pd.concat([S1, S2], axis=1)
dataA1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    231.126613  228.393393  209.433650  230.575848  227.869142  208.967570
1    223.879474  222.567405  203.589806  223.339521  222.137757  203.323092
2    223.274978  222.438763  203.089765  222.727971  221.999218  202.853140
3    230.830290  229.175797  209.137408  230.265131  228.680962  208.676979
4    223.647350  222.365230  203.389579  223.101202  221.943532  203.164426
..          ...         ...         ...         ...         ...         ...
155  213.151936  207.483483  166.154939  212.683522  206.994382  165.821705
156  218.871439  214.080838  169.401347  218.525709  213.579475  169.034990
157  218.537375  213.823797  168.978492  218.192589  213.305953  168.613399
158  218.700755  213.999919  168.982550  218.352607  213.516820  168.614323
159  213.139356  207.427400  166.378865  212.709053  206.951070  166.118982

[160 rows x 6 columns]

##HSV

In [179]:
list_total11 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total11.append(S1rgbrefA1_1)

In [180]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total11,columns=cols)
S11.index.names=['id']

In [181]:
list_total22 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total22.append(S1hsvA1_2)

In [182]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total22,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'
S22

        H-Shad     S-Shad      V-Shad Setting
id
0    26.307659  23.784084  230.575848    Set1
1    28.539578  23.040111  223.537302    Set1
2    29.326008  23.045374  223.017993    Set1
3    27.953062  23.823768  230.279354    Set1
4    28.599531  23.002062  223.317545    Set1
..         ...        ...         ...     ...
155  26.603300  56.092597  212.683522    Set1
156  27.329137  57.778750  218.525709    Set1
157  27.384539  57.963872  218.192589    Set1
158  27.416258  58.104118  218.352607    Set1
159  26.550388  55.797525  212.709053    Set1

[160 rows x 4 columns]

In [183]:
dataP1 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP1

          R-ref       G-ref  ...  Shad                                       Img
0    231.126613  228.393393  ...    A1  2BFE464D-1D6D-46D6-99C7-4FCDC9358FEA.png
1    223.879474  222.567405  ...    A1  89D4705E-E69B-4FE0-BB8B-ED158F2155F8.png
2    223.274978  222.438763  ...    A1  9F9519D1-510E-4D8E-AE74-9911DFC3D27F.png
3    230.830290  229.175797  ...    A1  13A4FFF1-164D-4B22-B433-C4EA152F1366.png
4    223.647350  222.365230  ...    A1  89E19FAA-FD5D-4051-B0E7-B91CFDA3DADF.png
..          ...         ...  ...   ...                                       ...
155  213.151936  207.483483  ...    D4  F063BC0D-9A10-453B-893E-F3BBCD464BCD.png
156  218.871439  214.080838  ...    D4  C448B8F4-A293-4570-8912-80478AF6E1D7.png
157  218.537375  213.823797  ...    D4  5CF7D8EF-53CF-4B71-9B78-88FB30CD470A.png
158  218.700755  213.999919  ...    D4  816F2A8B-FABF-4DF4-B5E4-1F166001C066.png
159  213.139356  207.427400  ...    D4  A4385FD6-0FAF-4CD2-A65C-90AC9951E0EC.png

[160 rows x 16 columns]

#2

In [184]:
list_total102 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total102.append(S1rgbrefA1_1)

In [185]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total102,columns=cols)
S1.index.names=['id']

In [186]:
list_total202 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total202.append(S1rgbA1_2)

In [187]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total202,columns=cols)
S2.index.names=['id']

In [188]:
dataA102 = pd.concat([S1, S2], axis=1)
dataA102

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    235.406469  232.954837  216.179973  233.961079  231.473357  214.753035
1    228.905012  226.429876  206.898601  227.721064  225.549069  206.183301
2    228.174340  226.603632  206.124806  227.265499  225.851172  205.782041
3    234.799534  233.616550  215.378205  233.279307  232.286164  213.383746
4    228.606158  226.346057  206.611208  227.384672  225.729775  206.048003
..          ...         ...         ...         ...         ...         ...
155  217.341977  212.167152  167.313228  228.344824  225.294783  207.999351
156  224.476787  220.110917  181.914821  233.253267  230.259290  214.236215
157  224.359266  219.992327  181.674242  233.721064  230.753776  214.794366
158  224.392288  220.170940  181.288073  233.735798  230.819201  214.633676
159  217.371018  212.286422  168.094891  229.149940  225.884533  208.886757

[160 rows x 6 columns]

In [189]:
list_total1102 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1102.append(S1rgbrefA1_1)

In [190]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1102,columns=cols)
S11.index.names=['id']

In [191]:
list_total2202 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2202.append(S1hsvA1_2)

In [192]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2202,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [193]:
dataP2 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP2

          R-ref       G-ref  ...  Shad                                       Img
0    235.406469  232.954837  ...    A1  2BFE464D-1D6D-46D6-99C7-4FCDC9358FEA.png
1    228.905012  226.429876  ...    A1  89D4705E-E69B-4FE0-BB8B-ED158F2155F8.png
2    228.174340  226.603632  ...    A1  9F9519D1-510E-4D8E-AE74-9911DFC3D27F.png
3    234.799534  233.616550  ...    A1  13A4FFF1-164D-4B22-B433-C4EA152F1366.png
4    228.606158  226.346057  ...    A1  89E19FAA-FD5D-4051-B0E7-B91CFDA3DADF.png
..          ...         ...  ...   ...                                       ...
155  217.341977  212.167152  ...    D4  F063BC0D-9A10-453B-893E-F3BBCD464BCD.png
156  224.476787  220.110917  ...    D4  C448B8F4-A293-4570-8912-80478AF6E1D7.png
157  224.359266  219.992327  ...    D4  5CF7D8EF-53CF-4B71-9B78-88FB30CD470A.png
158  224.392288  220.170940  ...    D4  816F2A8B-FABF-4DF4-B5E4-1F166001C066.png
159  217.371018  212.286422  ...    D4  A4385FD6-0FAF-4CD2-A65C-90AC9951E0EC.png

[160 rows x 16 columns]

#3

In [194]:
list_total103 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1739<i<1839 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total103.append(S1rgbrefA1_1)

In [195]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total103,columns=cols)
S1.index.names=['id']

In [196]:
list_total203 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total203.append(S1rgbA1_2)

In [197]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total203,columns=cols)
S2.index.names=['id']

In [198]:
dataA103 = pd.concat([S1, S2], axis=1)
dataA103

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    233.420455  230.652681  212.661616  232.416736  229.667130  212.523584
1    227.684343  225.463675  205.721445  226.093875  224.162543  204.583357
2    226.896562  225.403943  205.005925  225.753035  224.431193  204.273283
3    232.833528  231.340326  211.914336  231.684089  230.634881  211.149476
4    227.358197  225.190559  205.493201  225.766750  224.199889  204.404504
..          ...         ...         ...         ...         ...         ...
155  216.164336  210.577991  165.955322  227.116115  224.066074  206.730609
156  221.730478  217.230381  175.295940  232.137800  229.170883  212.668891
157  221.582556  217.097902  175.138889  232.540728  229.581781  213.167269
158  221.673077  217.261267  174.848873  232.762117  229.833936  213.319526
159  216.067599  210.625777  166.544775  227.893152  224.655546  207.738208

[160 rows x 6 columns]

In [199]:
list_total1103 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
               if 1739<i<1839 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1103.append(S1rgbrefA1_1)

In [200]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1103,columns=cols)
S11.index.names=['id']

In [201]:
list_total2203 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2203.append(S1hsvA1_2)

In [202]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2203,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [203]:
dataP3 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP3

          R-ref       G-ref  ...  Shad                                       Img
0    233.420455  230.652681  ...    A1  2BFE464D-1D6D-46D6-99C7-4FCDC9358FEA.png
1    227.684343  225.463675  ...    A1  89D4705E-E69B-4FE0-BB8B-ED158F2155F8.png
2    226.896562  225.403943  ...    A1  9F9519D1-510E-4D8E-AE74-9911DFC3D27F.png
3    232.833528  231.340326  ...    A1  13A4FFF1-164D-4B22-B433-C4EA152F1366.png
4    227.358197  225.190559  ...    A1  89E19FAA-FD5D-4051-B0E7-B91CFDA3DADF.png
..          ...         ...  ...   ...                                       ...
155  216.164336  210.577991  ...    D4  F063BC0D-9A10-453B-893E-F3BBCD464BCD.png
156  221.730478  217.230381  ...    D4  C448B8F4-A293-4570-8912-80478AF6E1D7.png
157  221.582556  217.097902  ...    D4  5CF7D8EF-53CF-4B71-9B78-88FB30CD470A.png
158  221.673077  217.261267  ...    D4  816F2A8B-FABF-4DF4-B5E4-1F166001C066.png
159  216.067599  210.625777  ...    D4  A4385FD6-0FAF-4CD2-A65C-90AC9951E0EC.png

[160 rows x 16 columns]

#4

In [204]:
list_total104 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total104.append(S1rgbrefA1_1)

In [205]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total104,columns=cols)
S1.index.names=['id']

In [206]:
list_total204 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total204.append(S1rgbA1_2)

In [207]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total204,columns=cols)
S2.index.names=['id']

In [208]:
dataA104 = pd.concat([S1, S2], axis=1)
dataA104

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    231.951340  229.054487  210.315948  230.549995  227.666018  209.764155
1    225.884615  224.051768  204.362374  224.255305  222.607636  203.061903
2    225.157634  223.852661  203.737277  223.986100  222.869336  202.726068
3    231.510198  229.882770  209.871795  229.824113  228.700306  208.679918
4    225.554293  223.755439  204.137141  223.927254  222.567325  202.842369
..          ...         ...         ...         ...         ...         ...
155  214.566142  208.772436  165.415793  225.635437  222.621814  205.388101
156  219.514666  214.830128  170.335373  230.940599  227.940599  210.940599
157  219.219697  214.640443  169.995144  231.093875  228.092855  211.155222
158  219.403846  214.808275  169.924340  231.503753  228.503753  211.510796
159  214.470377  208.758547  165.818376  226.278565  223.098971  206.205727

[160 rows x 6 columns]

In [ ]:
list_total1104 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1104.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1104,columns=cols)
S11.index.names=['id']

In [ ]:
list_total2204 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2204.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2204,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [ ]:
dataP4 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP4

#5

In [ ]:
list_total105 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total105.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total105,columns=cols)
S1.index.names=['id']

In [216]:
list_total205 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total205.append(S1rgbA1_2)

In [217]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total205,columns=cols)
S2.index.names=['id']

In [218]:
dataA105 = pd.concat([S1, S2], axis=1)
dataA105

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    230.725719  227.952409  209.116356  228.835974  226.097674  207.754981
1    223.277584  222.097708  203.233100  221.929478  220.579557  201.637846
2    222.646173  221.949204  202.743881  221.713372  220.864424  201.303494
3    230.382673  228.779138  208.801379  228.195163  227.053192  207.087666
4    223.012918  221.867618  203.022824  221.452785  220.366787  201.241220
..          ...         ...         ...         ...         ...         ...
155  212.531857  206.682692  165.762044  223.653600  220.790196  204.161245
156  218.151030  213.262529  168.538364  229.989065  226.989065  210.045779
157  217.863636  213.028166  168.242424  229.849134  226.849134  209.909184
158  217.985723  213.135684  168.207653  230.223427  227.223427  210.225280
159  212.507770  206.612665  165.979021  224.137244  221.057919  204.825781

[160 rows x 6 columns]

In [219]:
list_total1105 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1105.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1105,columns=cols)
S11.index.names=['id']

In [ ]:
list_total2205 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2205.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2205,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [223]:
dataP5 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP5

          R-ref       G-ref  ...  Shad                                       Img
0    230.725719  227.952409  ...    A1  2BFE464D-1D6D-46D6-99C7-4FCDC9358FEA.png
1    223.277584  222.097708  ...    A1  89D4705E-E69B-4FE0-BB8B-ED158F2155F8.png
2    222.646173  221.949204  ...    A1  9F9519D1-510E-4D8E-AE74-9911DFC3D27F.png
3    230.382673  228.779138  ...    A1  13A4FFF1-164D-4B22-B433-C4EA152F1366.png
4    223.012918  221.867618  ...    A1  89E19FAA-FD5D-4051-B0E7-B91CFDA3DADF.png
..          ...         ...  ...   ...                                       ...
155  212.531857  206.682692  ...    D4  F063BC0D-9A10-453B-893E-F3BBCD464BCD.png
156  218.151030  213.262529  ...    D4  C448B8F4-A293-4570-8912-80478AF6E1D7.png
157  217.863636  213.028166  ...    D4  5CF7D8EF-53CF-4B71-9B78-88FB30CD470A.png
158  217.985723  213.135684  ...    D4  816F2A8B-FABF-4DF4-B5E4-1F166001C066.png
159  212.507770  206.612665  ...    D4  A4385FD6-0FAF-4CD2-A65C-90AC9951E0EC.png

[160 rows x 16 columns]

In [ ]:
st1= pd.concat([dataP1, dataP2,dataP3,dataP4,dataP5], axis=0)
st1

In [225]:
st1.to_csv('A1Set4.csv', index=False)