<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/prepareBSet5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [79]:
 import pandas as pd

In [80]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [81]:
path = '/content/drive/My Drive/shadeimg'

In [82]:
import os

In [83]:
os.listdir(path)

['9-10 7 2021',
 'รูปฟัน07',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx',
 'Color-checkerAA1.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerDD .xlsx']

In [84]:
!pip install azure-storage-blob==2.1.0

Requirement already satisfied: azure-storage-blob==2.1.0 in /usr/local/lib/python3.7/dist-packages (2.1.0)
Requirement already satisfied: azure-common>=1.1.5 in /usr/local/lib/python3.7/dist-packages (from azure-storage-blob==2.1.0) (1.1.27)
Requirement already satisfied: azure-storage-common~=2.1 in /usr/local/lib/python3.7/dist-packages (from azure-storage-blob==2.1.0) (2.1.0)
Requirement already satisfied: cryptography in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (36.0.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)

In [85]:
from azure.storage.blob import BlockBlobService
import os

In [86]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [87]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [88]:
AA = os.path.join(path,'Color-checkerBB.xlsx')

In [89]:
A1_set1= pd.read_excel(AA, sheet_name='B1_1')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                หมายเหตุ
0    7E3C9A30-E101-4041-8B7F-219A161B3102.png  ...  Duration 1/100 ISO 630
1    ADC40B65-0A36-4846-83E9-31A1F74F8912.png  ...  Duration 1/100 ISO 630
2    8AE25F62-8371-4301-AE59-A68CE741E781.png  ...  Duration 1/100 ISO 630
3    FAF812A9-2FD6-4B8C-832C-327A2FEA1777.png  ...  Duration 1/100 ISO 630
4    4ADB67BE-3458-440E-861E-5E3BC2CD1F35.png  ...  Duration 1/100 ISO 630
..                                        ...  ...                     ...
159  6EEEA21E-A45E-4F8C-A893-E33FF47DAEBF.png  ...  Duration 1/100 ISO 630
160  6FBDB033-76BC-4BF0-92C4-5E31131A8DC4.png  ...  Duration 1/100 ISO 630
161  28794B58-4DCC-4826-AA09-5F6870E0D2DF.png  ...  Duration 1/100 ISO 630
162  AA425F17-D478-4B64-816A-103030C88121.png  ...  Duration 1/100 ISO 630
163  C74F14A4-72F8-4E3B-B493-D78ADD45BF33.png  ...  Duration 1/100 ISO 630

[164 rows x 7 columns]

In [90]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [91]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [92]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [93]:
A1_set1

                                          Img  ...                หมายเหตุ
0    7E3C9A30-E101-4041-8B7F-219A161B3102.png  ...  Duration 1/100 ISO 630
1    ADC40B65-0A36-4846-83E9-31A1F74F8912.png  ...  Duration 1/100 ISO 630
2    8AE25F62-8371-4301-AE59-A68CE741E781.png  ...  Duration 1/100 ISO 630
3    FAF812A9-2FD6-4B8C-832C-327A2FEA1777.png  ...  Duration 1/100 ISO 630
4    4ADB67BE-3458-440E-861E-5E3BC2CD1F35.png  ...  Duration 1/100 ISO 630
..                                        ...  ...                     ...
159  6EEEA21E-A45E-4F8C-A893-E33FF47DAEBF.png  ...  Duration 1/100 ISO 630
160  6FBDB033-76BC-4BF0-92C4-5E31131A8DC4.png  ...  Duration 1/100 ISO 630
161  28794B58-4DCC-4826-AA09-5F6870E0D2DF.png  ...  Duration 1/100 ISO 630
162  AA425F17-D478-4B64-816A-103030C88121.png  ...  Duration 1/100 ISO 630
163  C74F14A4-72F8-4E3B-B493-D78ADD45BF33.png  ...  Duration 1/100 ISO 630

[164 rows x 7 columns]

In [94]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [95]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

          Ref Shad                                       Img
0     ตารางสี  NaN  7E3C9A30-E101-4041-8B7F-219A161B3102.png
1    ตารางเทา  NaN  ADC40B65-0A36-4846-83E9-31A1F74F8912.png
2          B1   A1  8AE25F62-8371-4301-AE59-A68CE741E781.png
3          B1   A1  FAF812A9-2FD6-4B8C-832C-327A2FEA1777.png
4          B1   A1  4ADB67BE-3458-440E-861E-5E3BC2CD1F35.png
..        ...  ...                                       ...
159        B1   D4  6EEEA21E-A45E-4F8C-A893-E33FF47DAEBF.png
160        B1   D4  6FBDB033-76BC-4BF0-92C4-5E31131A8DC4.png
161        B1   D4  28794B58-4DCC-4826-AA09-5F6870E0D2DF.png
162   ตารางสี  NaN  AA425F17-D478-4B64-816A-103030C88121.png
163  ตารางเทา  NaN  C74F14A4-72F8-4E3B-B493-D78ADD45BF33.png

[164 rows x 3 columns]

In [96]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img  ...                หมายเหตุ
0  7E3C9A30-E101-4041-8B7F-219A161B3102.png  ...  Duration 1/100 ISO 630
1  ADC40B65-0A36-4846-83E9-31A1F74F8912.png  ...  Duration 1/100 ISO 630
2  8AE25F62-8371-4301-AE59-A68CE741E781.png  ...  Duration 1/100 ISO 630

[3 rows x 7 columns]

In [97]:
import numpy as np

In [98]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [99]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total1,columns=cols)
S1['Setting']='Set1'
S1

        R-ref       G-ref       B-ref Setting
0   28.262803   29.565782   31.004545    Set1
1   33.168980   33.970132   34.717637    Set1
2  221.687850  202.006574  161.186349    Set1

In [100]:
pd.concat([S1,table1], axis=1)

          R-ref       G-ref  ...  Shad                                       Img
0     28.262803   29.565782  ...   NaN  7E3C9A30-E101-4041-8B7F-219A161B3102.png
1     33.168980   33.970132  ...   NaN  ADC40B65-0A36-4846-83E9-31A1F74F8912.png
2    221.687850  202.006574  ...    A1  8AE25F62-8371-4301-AE59-A68CE741E781.png
3           NaN         NaN  ...    A1  FAF812A9-2FD6-4B8C-832C-327A2FEA1777.png
4           NaN         NaN  ...    A1  4ADB67BE-3458-440E-861E-5E3BC2CD1F35.png
..          ...         ...  ...   ...                                       ...
159         NaN         NaN  ...    D4  6EEEA21E-A45E-4F8C-A893-E33FF47DAEBF.png
160         NaN         NaN  ...    D4  6FBDB033-76BC-4BF0-92C4-5E31131A8DC4.png
161         NaN         NaN  ...    D4  28794B58-4DCC-4826-AA09-5F6870E0D2DF.png
162         NaN         NaN  ...   NaN  AA425F17-D478-4B64-816A-103030C88121.png
163         NaN         NaN  ...   NaN  C74F14A4-72F8-4E3B-B493-D78ADD45BF33.png

[164 rows x 7 columns]

In [101]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [102]:
import numpy as np

In [103]:
from tabulate import tabulate

In [104]:
table   = [['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref', 'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Shade-ref', 'Shade', 'Setting']]

#ดึงค่า

In [105]:
list_total1 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [106]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total1,columns=cols)
S1.index.names=['id']

In [107]:
list_total2 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total2.append(S1rgbA1_2)

In [108]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total2,columns=cols)

In [109]:
dataA1 = pd.concat([S1, S2], axis=1)
dataA1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0     28.262803   29.565782   31.004545   26.623711   27.999004   29.506863
1     33.168980   33.970132   34.717637   32.680890   33.613114   34.528056
2    221.687850  202.006574  161.186349  221.906763  202.184695  161.512339
3    227.540216  208.511241  170.934664  227.552735  208.479127  171.019060
4    228.613262  209.562536  169.644915  228.643624  209.558424  169.757272
..          ...         ...         ...         ...         ...         ...
159  222.668452  197.966480  143.262803  222.693905  197.951070  143.291444
160  222.878419  196.553689  140.953575  222.924899  196.571368  141.021122
161  223.380489  197.099018  141.871845  223.385179  197.067421  141.845957
162   36.348267   37.437059   38.940995   36.122893   37.243368   38.703293
163   42.338041   43.536401   46.102346   42.174454   43.411564   45.951284

[164 rows x 6 columns]

##HSV

In [110]:
list_total11 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total11.append(S1rgbrefA1_1)

In [111]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total11,columns=cols)
S11.index.names=['id']

In [112]:
list_total22 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total22.append(S1hsvA1_2)

In [113]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total22,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'
S22

         H-Shad     S-Shad      V-Shad Setting
id
0     95.032572  75.506365   29.780385    Set1
1     87.914515  50.629898   35.643482    Set1
2     20.286111  69.420098  221.906763    Set1
3     19.510134  63.368110  227.552735    Set1
4     19.981936  65.704004  228.643624    Set1
..          ...        ...         ...     ...
159   20.998791  90.972050  222.693905    Set1
160   20.400612  93.738639  222.924899    Set1
161   20.355309  93.143446  223.385179    Set1
162   97.649243  40.896736   39.066283    Set1
163  106.179859  32.779390   46.193941    Set1

[164 rows x 4 columns]

In [114]:
dataP1 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP1

          R-ref       G-ref  ...  Shad                                       Img
0     28.262803   29.565782  ...   NaN  7E3C9A30-E101-4041-8B7F-219A161B3102.png
1     33.168980   33.970132  ...   NaN  ADC40B65-0A36-4846-83E9-31A1F74F8912.png
2    221.687850  202.006574  ...    A1  8AE25F62-8371-4301-AE59-A68CE741E781.png
3    227.540216  208.511241  ...    A1  FAF812A9-2FD6-4B8C-832C-327A2FEA1777.png
4    228.613262  209.562536  ...    A1  4ADB67BE-3458-440E-861E-5E3BC2CD1F35.png
..          ...         ...  ...   ...                                       ...
159  222.668452  197.966480  ...    D4  6EEEA21E-A45E-4F8C-A893-E33FF47DAEBF.png
160  222.878419  196.553689  ...    D4  6FBDB033-76BC-4BF0-92C4-5E31131A8DC4.png
161  223.380489  197.099018  ...    D4  28794B58-4DCC-4826-AA09-5F6870E0D2DF.png
162   36.348267   37.437059  ...   NaN  AA425F17-D478-4B64-816A-103030C88121.png
163   42.338041   43.536401  ...   NaN  C74F14A4-72F8-4E3B-B493-D78ADD45BF33.png

[164 rows x 16 columns]

#2

In [ ]:
list_total102 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total102.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total102,columns=cols)
S1.index.names=['id']

In [ ]:
list_total202 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total202.append(S1rgbA1_2)

In [ ]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total202,columns=cols)
S2.index.names=['id']

In [ ]:
dataA102 = pd.concat([S1, S2], axis=1)
dataA102

In [120]:
list_total1102 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1102.append(S1rgbrefA1_1)

In [121]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1102,columns=cols)
S11.index.names=['id']

In [122]:
list_total2202 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2202.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2202,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [ ]:
dataP2 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP2

#3

In [125]:
list_total103 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1739<i<1839 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total103.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total103,columns=cols)
S1.index.names=['id']

In [ ]:
list_total203 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total203.append(S1rgbA1_2)

In [ ]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total203,columns=cols)
S2.index.names=['id']

In [129]:
dataA103 = pd.concat([S1, S2], axis=1)
dataA103

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0     28.771076   29.891900   30.951632   40.169586   42.157817   44.531554
1     33.827603   33.828866   32.770785   50.252247   51.586415   54.467612
2    226.869464  207.285062  165.325660  224.452970  209.184598  171.446576
3    231.114316  212.895688  175.534577  230.287184  215.890835  183.198499
4    232.427739  213.578574  174.143939  231.267445  215.711241  182.018534
..          ...         ...         ...         ...         ...         ...
159  226.611014  202.812257  149.590618  232.948476  217.468631  184.834862
160  226.860140  201.544289  146.552933  233.188027  216.542860  179.754147
161  227.423660  202.256410  148.161519  233.788713  216.856640  180.513205
162   33.058275   34.086344   35.662879   36.057733   37.626633   38.249096
163   36.685218   37.634130   39.667541   42.926698   44.177370   47.003985

[164 rows x 6 columns]

In [ ]:
list_total1103 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
               if 1739<i<1839 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1103.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1103,columns=cols)
S11.index.names=['id']

In [132]:
list_total2203 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2203.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2203,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [ ]:
dataP3 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP3

#4

In [ ]:
list_total104 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total104.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total104,columns=cols)
S1.index.names=['id']

In [ ]:
list_total204 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total204.append(S1rgbA1_2)

In [ ]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total204,columns=cols)
S2.index.names=['id']

In [ ]:
dataA104 = pd.concat([S1, S2], axis=1)
dataA104

In [ ]:
list_total1104 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1104.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1104,columns=cols)
S11.index.names=['id']

In [ ]:
list_total2204 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2204.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2204,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [ ]:
dataP4 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP4

#5

In [ ]:
list_total105 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total105.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total105,columns=cols)
S1.index.names=['id']

In [ ]:
list_total205 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total205.append(S1rgbA1_2)

In [ ]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total205,columns=cols)
S2.index.names=['id']

In [ ]:
dataA105 = pd.concat([S1, S2], axis=1)
dataA105

In [ ]:
list_total1105 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1105.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1105,columns=cols)
S11.index.names=['id']

In [ ]:
list_total2205 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2205.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2205,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [ ]:
dataP5 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP5

In [ ]:
st1= pd.concat([dataP1, dataP2,dataP3,dataP4,dataP5], axis=0)
st1

In [ ]:
st1.to_csv('A4set5.csv', index=False)