<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/prepareASet1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 import pandas as pd

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/shadeimg'

In [4]:
import os

In [5]:
os.listdir(path)

['9-10 7 2021',
 'รูปฟัน07',
 '11 7 2021',
 'ฟันสักอย่างจำวันไม่ได้',
 '1 teeth .gsheet',
 '16 8 2021',
 '17 8 2021',
 '1 teeth .xlsx',
 '2 teeth .xlsx',
 '2 teeth.gsheet',
 'All shade',
 'A1set1.xlsx',
 'SVM shade',
 'BB1.xlsx',
 'CC1.xlsx',
 'DD1.xlsx',
 'AA1.xlsx']

In [6]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 4.5 MB/s
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 5.6 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.27-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 43.9 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.27 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [7]:
from azure.storage.blob import BlockBlobService
import os

In [8]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [9]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [10]:
AA = os.path.join(path,'AA1.xlsx')

In [11]:
A1_set1= pd.read_excel(AA, sheet_name='A1Set1')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                   หมายเหตุ
0    1665B5AE-934F-4116-AE19-3369544A125F.png  ...  ค่า duration 1/90 ISO 171
1    47C127AF-8872-4A1E-9F72-082F72252B3F.png  ...  ค่า duration 1/90 ISO 171
2    15991304-7501-4377-BE6E-1B9AF5258FC1.png  ...  ค่า duration 1/90 ISO 171
3    5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png  ...  ค่า duration 1/90 ISO 171
4    26A32C19-6890-4999-A7F2-D8399A56E3B5.png  ...  ค่า duration 1/90 ISO 171
..                                        ...  ...                        ...
155  A95B5685-7346-4585-AE3D-674F5539C891.png  ...  ค่า duration 1/90 ISO 171
156  548D8FC6-5993-476E-9F84-FEEE003BE798.png  ...  ค่า duration 1/90 ISO 171
157  761A1FDE-FD1C-4A18-8C5F-27608736CB3C.png  ...  ค่า duration 1/90 ISO 171
158  027B3600-F7AD-41B8-8DE5-1706B68BAE4F.png  ...  ค่า duration 1/90 ISO 171
159  57148CAB-1038-4B0D-9C2F-6DCB9632D2DF.png  ...  ค่า duration 1/90 ISO 171

[160 rows x 7 columns]

In [12]:
A1_set1.rename(columns={"ฝั่งซ้าย": "Ref"},inplace=True)

In [13]:
A1_set1.rename(columns={"ฝั่งขวา":"Shad"},inplace=True)

In [14]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [15]:
A1_set1

                                          Img  ...                   หมายเหตุ
0    1665B5AE-934F-4116-AE19-3369544A125F.png  ...  ค่า duration 1/90 ISO 171
1    47C127AF-8872-4A1E-9F72-082F72252B3F.png  ...  ค่า duration 1/90 ISO 171
2    15991304-7501-4377-BE6E-1B9AF5258FC1.png  ...  ค่า duration 1/90 ISO 171
3    5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png  ...  ค่า duration 1/90 ISO 171
4    26A32C19-6890-4999-A7F2-D8399A56E3B5.png  ...  ค่า duration 1/90 ISO 171
..                                        ...  ...                        ...
155  A95B5685-7346-4585-AE3D-674F5539C891.png  ...  ค่า duration 1/90 ISO 171
156  548D8FC6-5993-476E-9F84-FEEE003BE798.png  ...  ค่า duration 1/90 ISO 171
157  761A1FDE-FD1C-4A18-8C5F-27608736CB3C.png  ...  ค่า duration 1/90 ISO 171
158  027B3600-F7AD-41B8-8DE5-1706B68BAE4F.png  ...  ค่า duration 1/90 ISO 171
159  57148CAB-1038-4B0D-9C2F-6DCB9632D2DF.png  ...  ค่า duration 1/90 ISO 171

[160 rows x 7 columns]

In [16]:
#A1_set1 = A1_set1.drop([0])
#A1_set1

In [17]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
0    A1   A1  1665B5AE-934F-4116-AE19-3369544A125F.png
1    A1   A1  47C127AF-8872-4A1E-9F72-082F72252B3F.png
2    A1   A1  15991304-7501-4377-BE6E-1B9AF5258FC1.png
3    A1   A1  5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png
4    A1   A1  26A32C19-6890-4999-A7F2-D8399A56E3B5.png
..   ..  ...                                       ...
155  A1   D4  A95B5685-7346-4585-AE3D-674F5539C891.png
156  A1   D4  548D8FC6-5993-476E-9F84-FEEE003BE798.png
157  A1   D4  761A1FDE-FD1C-4A18-8C5F-27608736CB3C.png
158  A1   D4  027B3600-F7AD-41B8-8DE5-1706B68BAE4F.png
159  A1   D4  57148CAB-1038-4B0D-9C2F-6DCB9632D2DF.png

[160 rows x 3 columns]

In [18]:
A1_set11 =A1_set1.head(3)
A1_set11

                                        Img  ...                   หมายเหตุ
0  1665B5AE-934F-4116-AE19-3369544A125F.png  ...  ค่า duration 1/90 ISO 171
1  47C127AF-8872-4A1E-9F72-082F72252B3F.png  ...  ค่า duration 1/90 ISO 171
2  15991304-7501-4377-BE6E-1B9AF5258FC1.png  ...  ค่า duration 1/90 ISO 171

[3 rows x 7 columns]

In [19]:
import numpy as np

In [20]:
list_total1 = list()
for img in A1_set11['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [21]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total1,columns=cols)
S1['Setting']='Set1'
S1

        R-ref       G-ref       B-ref Setting
0  239.261911  226.772178  193.540054    Set1
1  238.432676  226.124909  192.415551    Set1
2  238.783134  226.525201  193.025485    Set1

In [22]:
pd.concat([S1,table1], axis=1)

          R-ref       G-ref  ...  Shad                                       Img
0    239.261911  226.772178  ...    A1  1665B5AE-934F-4116-AE19-3369544A125F.png
1    238.432676  226.124909  ...    A1  47C127AF-8872-4A1E-9F72-082F72252B3F.png
2    238.783134  226.525201  ...    A1  15991304-7501-4377-BE6E-1B9AF5258FC1.png
3           NaN         NaN  ...    A1  5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png
4           NaN         NaN  ...    A1  26A32C19-6890-4999-A7F2-D8399A56E3B5.png
..          ...         ...  ...   ...                                       ...
155         NaN         NaN  ...    D4  A95B5685-7346-4585-AE3D-674F5539C891.png
156         NaN         NaN  ...    D4  548D8FC6-5993-476E-9F84-FEEE003BE798.png
157         NaN         NaN  ...    D4  761A1FDE-FD1C-4A18-8C5F-27608736CB3C.png
158         NaN         NaN  ...    D4  027B3600-F7AD-41B8-8DE5-1706B68BAE4F.png
159         NaN         NaN  ...    D4  57148CAB-1038-4B0D-9C2F-6DCB9632D2DF.png

[160 rows x 7 columns]

In [23]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [24]:
import numpy as np

In [25]:
from tabulate import tabulate

In [26]:
table   = [['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref', 'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Shade-ref', 'Shade', 'Setting']]

#ดึงค่า

In [27]:
list_total1 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [28]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total1,columns=cols)
S1.index.names=['id']

In [29]:
list_total2 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total2.append(S1rgbA1_2)

In [30]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total2,columns=cols)

In [31]:
dataA1 = pd.concat([S1, S2], axis=1)
dataA1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    239.261911  226.772178  193.540054  239.680321  227.425574  194.950928
1    238.432676  226.124909  192.415551  238.840410  226.726477  193.791053
2    238.783134  226.525201  193.025485  239.209800  227.131072  194.443994
3    238.943430  226.796039  192.905771  239.369177  227.383188  194.241875
4    238.848145  226.354679  192.963720  239.291942  226.985207  194.387952
..          ...         ...         ...         ...         ...         ...
155  234.991397  215.878094  165.114601  235.314274  216.650807  166.676339
156  235.865514  216.421557  166.558315  236.195648  217.176161  168.191736
157  231.620161  212.385439  163.487947  232.099993  213.293862  165.217481
158  235.459541  216.324974  165.122717  235.806557  217.110874  166.656283
159  235.604172  216.610178  164.848389  235.976958  217.403599  166.420454

[160 rows x 6 columns]

##HSV

In [32]:
list_total11 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total11.append(S1rgbrefA1_1)

In [33]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total11,columns=cols)
S11.index.names=['id']

In [34]:
list_total22 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total22.append(S1hsvA1_2)

In [35]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total22,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'
S22

        H-Shad     S-Shad      V-Shad Setting
id
0    21.788351  47.702439  239.680321    Set1
1    21.958893  48.209231  238.840410    Set1
2    21.892611  47.829457  239.209800    Set1
3    22.057108  48.200412  239.369177    Set1
4    21.792831  47.962023  239.291942    Set1
..         ...        ...         ...     ...
155  22.000356  74.517673  235.314274    Set1
156  21.740630  73.568025  236.195648    Set1
157  21.723704  73.626982  232.099993    Set1
158  22.091814  74.939122  235.806557    Set1
159  22.152194  75.288457  235.976958    Set1

[160 rows x 4 columns]

In [36]:
dataP1 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP1

          R-ref       G-ref  ...  Shad                                       Img
0    239.261911  226.772178  ...    A1  1665B5AE-934F-4116-AE19-3369544A125F.png
1    238.432676  226.124909  ...    A1  47C127AF-8872-4A1E-9F72-082F72252B3F.png
2    238.783134  226.525201  ...    A1  15991304-7501-4377-BE6E-1B9AF5258FC1.png
3    238.943430  226.796039  ...    A1  5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png
4    238.848145  226.354679  ...    A1  26A32C19-6890-4999-A7F2-D8399A56E3B5.png
..          ...         ...  ...   ...                                       ...
155  234.991397  215.878094  ...    D4  A95B5685-7346-4585-AE3D-674F5539C891.png
156  235.865514  216.421557  ...    D4  548D8FC6-5993-476E-9F84-FEEE003BE798.png
157  231.620161  212.385439  ...    D4  761A1FDE-FD1C-4A18-8C5F-27608736CB3C.png
158  235.459541  216.324974  ...    D4  027B3600-F7AD-41B8-8DE5-1706B68BAE4F.png
159  235.604172  216.610178  ...    D4  57148CAB-1038-4B0D-9C2F-6DCB9632D2DF.png

[160 rows x 16 columns]

#2

In [37]:
list_total102 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total102.append(S1rgbrefA1_1)

In [38]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total102,columns=cols)
S1.index.names=['id']

In [39]:
list_total202 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total202.append(S1rgbA1_2)

In [40]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total202,columns=cols)
S2.index.names=['id']

In [41]:
dataA102 = pd.concat([S1, S2], axis=1)
dataA102

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    243.562937  231.555264  199.463967  238.943657  225.964044  192.240386
1    242.855769  230.894619  198.359460  238.431285  225.416829  191.849504
2    243.108197  231.144231  199.196775  238.676768  225.718006  192.151700
3    243.268454  231.407828  198.849165  238.443332  225.841442  191.568807
4    243.186869  231.041278  198.913753  238.348161  225.244741  191.956723
..          ...         ...         ...         ...         ...         ...
155  240.462510  222.415501  173.711441  241.035771  227.174961  194.336669
156  240.879759  222.556624  175.250971  241.835048  227.580947  195.623668
157  237.181041  217.896562  169.170843  237.615050  222.562506  190.751552
158  240.791958  222.747572  173.835179  241.754703  228.105922  195.053192
159  241.016220  223.004468  173.504274  241.773144  227.991382  194.940877

[160 rows x 6 columns]

In [42]:
list_total1102 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1102.append(S1rgbrefA1_1)

In [43]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1102,columns=cols)
S11.index.names=['id']

In [44]:
list_total2202 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2202.append(S1hsvA1_2)

In [45]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2202,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [46]:
dataP2 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP2

          R-ref       G-ref  ...  Shad                                       Img
0    243.562937  231.555264  ...    A1  1665B5AE-934F-4116-AE19-3369544A125F.png
1    242.855769  230.894619  ...    A1  47C127AF-8872-4A1E-9F72-082F72252B3F.png
2    243.108197  231.144231  ...    A1  15991304-7501-4377-BE6E-1B9AF5258FC1.png
3    243.268454  231.407828  ...    A1  5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png
4    243.186869  231.041278  ...    A1  26A32C19-6890-4999-A7F2-D8399A56E3B5.png
..          ...         ...  ...   ...                                       ...
155  240.462510  222.415501  ...    D4  A95B5685-7346-4585-AE3D-674F5539C891.png
156  240.879759  222.556624  ...    D4  548D8FC6-5993-476E-9F84-FEEE003BE798.png
157  237.181041  217.896562  ...    D4  761A1FDE-FD1C-4A18-8C5F-27608736CB3C.png
158  240.791958  222.747572  ...    D4  027B3600-F7AD-41B8-8DE5-1706B68BAE4F.png
159  241.016220  223.004468  ...    D4  57148CAB-1038-4B0D-9C2F-6DCB9632D2DF.png

[160 rows x 16 columns]

#3

In [47]:
list_total103 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1739<i<1839 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total103.append(S1rgbrefA1_1)

In [48]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total103,columns=cols)
S1.index.names=['id']

In [49]:
list_total203 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total203.append(S1rgbA1_2)

In [50]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total203,columns=cols)
S2.index.names=['id']

In [51]:
dataA103 = pd.concat([S1, S2], axis=1)
dataA103

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    242.097708  230.045066  197.752525  237.360393  224.253915  190.496432
1    241.384713  229.412879  196.570027  236.735798  223.657956  190.002873
2    241.642094  229.601301  197.312646  236.987304  224.070336  190.256417
3    241.836053  229.881216  196.987665  236.912890  224.278936  189.873784
4    241.718434  229.483100  197.120144  236.738393  223.628209  190.118895
..          ...         ...         ...         ...         ...         ...
155  238.889083  220.592657  171.206002  239.401260  225.384765  192.458438
156  239.439103  220.808275  172.789433  240.289223  225.883885  193.781577
157  235.644037  216.337413  167.141123  235.812992  220.753035  188.910203
158  239.288170  220.904332  171.399476  240.202762  226.351219  193.183764
159  239.487859  221.155497  170.991453  240.240849  226.279399  193.007599

[160 rows x 6 columns]

In [52]:
list_total1103 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
               if 1739<i<1839 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1103.append(S1rgbrefA1_1)

In [53]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1103,columns=cols)
S11.index.names=['id']

In [54]:
list_total2203 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2203.append(S1hsvA1_2)

In [55]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2203,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [56]:
dataP3 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP3

          R-ref       G-ref  ...  Shad                                       Img
0    242.097708  230.045066  ...    A1  1665B5AE-934F-4116-AE19-3369544A125F.png
1    241.384713  229.412879  ...    A1  47C127AF-8872-4A1E-9F72-082F72252B3F.png
2    241.642094  229.601301  ...    A1  15991304-7501-4377-BE6E-1B9AF5258FC1.png
3    241.836053  229.881216  ...    A1  5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png
4    241.718434  229.483100  ...    A1  26A32C19-6890-4999-A7F2-D8399A56E3B5.png
..          ...         ...  ...   ...                                       ...
155  238.889083  220.592657  ...    D4  A95B5685-7346-4585-AE3D-674F5539C891.png
156  239.439103  220.808275  ...    D4  548D8FC6-5993-476E-9F84-FEEE003BE798.png
157  235.644037  216.337413  ...    D4  761A1FDE-FD1C-4A18-8C5F-27608736CB3C.png
158  239.288170  220.904332  ...    D4  027B3600-F7AD-41B8-8DE5-1706B68BAE4F.png
159  239.487859  221.155497  ...    D4  57148CAB-1038-4B0D-9C2F-6DCB9632D2DF.png

[160 rows x 16 columns]

#4

In [57]:
list_total104 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total104.append(S1rgbrefA1_1)

In [58]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total104,columns=cols)
S1.index.names=['id']

In [59]:
list_total204 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total204.append(S1rgbA1_2)

In [60]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total204,columns=cols)
S2.index.names=['id']

In [61]:
dataA104 = pd.concat([S1, S2], axis=1)
dataA104

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    240.776127  228.569056  196.092172  235.796034  222.578816  188.819387
1    240.009518  227.942113  194.954643  235.117969  222.016403  188.172644
2    240.346445  228.310120  195.661131  235.338338  222.423594  188.336669
3    240.529040  228.597708  195.432692  235.186544  222.619683  188.066908
4    240.453768  228.207459  195.588287  234.982485  221.887499  188.143268
..          ...         ...         ...         ...         ...         ...
155  236.974553  218.438326  168.435703  237.635993  223.446761  190.402372
156  237.664530  218.746601  169.986111  238.635715  224.065981  191.832453
157  233.916084  214.781954  165.607615  233.795570  218.790381  186.991474
158  237.395202  218.750000  168.629371  238.564267  224.517098  191.132332
159  237.548368  219.008547  168.220474  238.538319  224.430451  191.026596

[160 rows x 6 columns]

In [62]:
list_total1104 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1104.append(S1rgbrefA1_1)

In [63]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1104,columns=cols)
S11.index.names=['id']

In [64]:
list_total2204 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2204.append(S1hsvA1_2)

In [65]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2204,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [66]:
dataP4 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP4

          R-ref       G-ref  ...  Shad                                       Img
0    240.776127  228.569056  ...    A1  1665B5AE-934F-4116-AE19-3369544A125F.png
1    240.009518  227.942113  ...    A1  47C127AF-8872-4A1E-9F72-082F72252B3F.png
2    240.346445  228.310120  ...    A1  15991304-7501-4377-BE6E-1B9AF5258FC1.png
3    240.529040  228.597708  ...    A1  5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png
4    240.453768  228.207459  ...    A1  26A32C19-6890-4999-A7F2-D8399A56E3B5.png
..          ...         ...  ...   ...                                       ...
155  236.974553  218.438326  ...    D4  A95B5685-7346-4585-AE3D-674F5539C891.png
156  237.664530  218.746601  ...    D4  548D8FC6-5993-476E-9F84-FEEE003BE798.png
157  233.916084  214.781954  ...    D4  761A1FDE-FD1C-4A18-8C5F-27608736CB3C.png
158  237.395202  218.750000  ...    D4  027B3600-F7AD-41B8-8DE5-1706B68BAE4F.png
159  237.548368  219.008547  ...    D4  57148CAB-1038-4B0D-9C2F-6DCB9632D2DF.png

[160 rows x 16 columns]

#5

In [67]:
list_total105 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total105.append(S1rgbrefA1_1)

In [68]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total105,columns=cols)
S1.index.names=['id']

In [69]:
list_total205 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total205.append(S1rgbA1_2)

In [70]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total205,columns=cols)
S2.index.names=['id']

In [71]:
dataA105 = pd.concat([S1, S2], axis=1)
dataA105

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    239.642580  227.445610  194.934926  234.158836  220.850246  186.944676
1    238.823135  226.798660  193.746601  233.357705  220.292651  186.297655
2    239.165016  227.221057  194.371406  233.603003  220.727365  186.331758
3    239.322261  227.482032  194.230575  233.431193  220.957001  186.217403
4    239.311092  227.089161  194.403166  233.284682  220.227134  186.322398
..          ...         ...         ...         ...         ...         ...
155  235.338190  216.602273  166.293512  235.947364  221.538134  188.465759
156  236.152389  216.985043  167.645493  236.997405  222.225744  189.969882
157  232.012432  213.214841  165.019134  231.692985  216.905106  185.516727
158  235.759713  216.886655  166.201049  236.770457  222.595589  189.120563
159  235.921814  217.185703  165.881702  236.794644  222.555648  189.115467

[160 rows x 6 columns]

In [72]:
list_total1105 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1105.append(S1rgbrefA1_1)

In [73]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1105,columns=cols)
S11.index.names=['id']

In [74]:
list_total2205 = list()
for img in A1_set1['Img']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2205.append(S1hsvA1_2)

In [75]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2205,columns=cols)
S22.index.names=['id']
S22['Setting']='Set1'

In [76]:
dataP5 = pd.concat([S1, S2,S11,S22,table1], axis=1)
dataP5

          R-ref       G-ref  ...  Shad                                       Img
0    239.642580  227.445610  ...    A1  1665B5AE-934F-4116-AE19-3369544A125F.png
1    238.823135  226.798660  ...    A1  47C127AF-8872-4A1E-9F72-082F72252B3F.png
2    239.165016  227.221057  ...    A1  15991304-7501-4377-BE6E-1B9AF5258FC1.png
3    239.322261  227.482032  ...    A1  5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png
4    239.311092  227.089161  ...    A1  26A32C19-6890-4999-A7F2-D8399A56E3B5.png
..          ...         ...  ...   ...                                       ...
155  235.338190  216.602273  ...    D4  A95B5685-7346-4585-AE3D-674F5539C891.png
156  236.152389  216.985043  ...    D4  548D8FC6-5993-476E-9F84-FEEE003BE798.png
157  232.012432  213.214841  ...    D4  761A1FDE-FD1C-4A18-8C5F-27608736CB3C.png
158  235.759713  216.886655  ...    D4  027B3600-F7AD-41B8-8DE5-1706B68BAE4F.png
159  235.921814  217.185703  ...    D4  57148CAB-1038-4B0D-9C2F-6DCB9632D2DF.png

[160 rows x 16 columns]

In [77]:
st1= pd.concat([dataP1, dataP2,dataP3,dataP4,dataP5], axis=0)
st1

          R-ref       G-ref  ...  Shad                                       Img
0    239.261911  226.772178  ...    A1  1665B5AE-934F-4116-AE19-3369544A125F.png
1    238.432676  226.124909  ...    A1  47C127AF-8872-4A1E-9F72-082F72252B3F.png
2    238.783134  226.525201  ...    A1  15991304-7501-4377-BE6E-1B9AF5258FC1.png
3    238.943430  226.796039  ...    A1  5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png
4    238.848145  226.354679  ...    A1  26A32C19-6890-4999-A7F2-D8399A56E3B5.png
..          ...         ...  ...   ...                                       ...
155  235.338190  216.602273  ...    D4  A95B5685-7346-4585-AE3D-674F5539C891.png
156  236.152389  216.985043  ...    D4  548D8FC6-5993-476E-9F84-FEEE003BE798.png
157  232.012432  213.214841  ...    D4  761A1FDE-FD1C-4A18-8C5F-27608736CB3C.png
158  235.759713  216.886655  ...    D4  027B3600-F7AD-41B8-8DE5-1706B68BAE4F.png
159  235.921814  217.185703  ...    D4  57148CAB-1038-4B0D-9C2F-6DCB9632D2DF.png

[800 rows x 16 columns]

In [79]:
st1.to_csv('A1Set1 .csv', index=False)