<a href="https://colab.research.google.com/github/waraporn19/Project_2021_matchingcolor/blob/main/Set2A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = '/content/drive/My Drive/shadeimg/SVM shade'

In [ ]:
import os

In [ ]:
os.listdir(path)

['DD.xlsx',
 'CC.xlsx',
 'BB.xlsx',
 'Shade_AA.xlsx',
 'Shade_CC.xlsx',
 'Shade_DD.xlsx',
 'Shade_BB.xlsx',
 'AA.xlsx',
 'Color-checker.xlsx']

In [ ]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 6.1 MB/s
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 2.5 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.27-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 58.2 MB/s
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.27 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [ ]:
from azure.storage.blob import BlockBlobService
import os

In [ ]:
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [ ]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [ ]:
AA = os.path.join(path,'AA.xlsx')

In [ ]:
A1_set1= pd.read_excel(AA, sheet_name='A1Set2')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                    หมายเหตุ
0                                         NaN  ...                         NaN
1    34F0629C-69B1-4125-85F4-7E496A7847A0.png  ...  ค่า duration 1/100 ISO 630
2    75D1D3E7-592F-475B-9A9A-875F69F08B32.png  ...  ค่า duration 1/100 ISO 630
3    0269AD27-018D-4F5C-8420-0138CBE2F66D.png  ...  ค่า duration 1/100 ISO 630
4    23588608-16F4-4103-ABCE-12D22092B61E.png  ...  ค่า duration 1/100 ISO 630
..                                        ...  ...                         ...
157  F055D60E-75F4-409F-BD02-630F03AE0403.png  ...  ค่า duration 1/100 ISO 630
158  A8C098DB-7C71-4987-BA14-87C945E5327E.png  ...  ค่า duration 1/100 ISO 630
159  C2265DF6-63D4-4B00-919C-CB891BF75E67.png  ...  ค่า duration 1/100 ISO 630
160  A7F2FAFC-9EE8-4E34-A180-7A7E5030F4F7.png  ...  ค่า duration 1/100 ISO 630
161  36796E2A-5E2D-4E8F-AEFA-7FD009598838.png  ...  ค่า duration 1/100 ISO 630

[162 rows x 7 columns]

In [ ]:
A1_set1.rename(columns={"รหัสเฉดไกด์": "Ref"},inplace=True)

In [ ]:
A1_set1.rename(columns={"Unnamed: 2":"Shad"},inplace=True)

In [ ]:
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                    หมายเหตุ
0                                         NaN  ...                         NaN
1    34F0629C-69B1-4125-85F4-7E496A7847A0.png  ...  ค่า duration 1/100 ISO 630
2    75D1D3E7-592F-475B-9A9A-875F69F08B32.png  ...  ค่า duration 1/100 ISO 630
3    0269AD27-018D-4F5C-8420-0138CBE2F66D.png  ...  ค่า duration 1/100 ISO 630
4    23588608-16F4-4103-ABCE-12D22092B61E.png  ...  ค่า duration 1/100 ISO 630
..                                        ...  ...                         ...
157  F055D60E-75F4-409F-BD02-630F03AE0403.png  ...  ค่า duration 1/100 ISO 630
158  A8C098DB-7C71-4987-BA14-87C945E5327E.png  ...  ค่า duration 1/100 ISO 630
159  C2265DF6-63D4-4B00-919C-CB891BF75E67.png  ...  ค่า duration 1/100 ISO 630
160  A7F2FAFC-9EE8-4E34-A180-7A7E5030F4F7.png  ...  ค่า duration 1/100 ISO 630
161  36796E2A-5E2D-4E8F-AEFA-7FD009598838.png  ...  ค่า duration 1/100 ISO 630

[162 rows x 7 columns]

In [ ]:
A1_set1 = A1_set1.drop([0])
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                    หมายเหตุ
1    34F0629C-69B1-4125-85F4-7E496A7847A0.png  ...  ค่า duration 1/100 ISO 630
2    75D1D3E7-592F-475B-9A9A-875F69F08B32.png  ...  ค่า duration 1/100 ISO 630
3    0269AD27-018D-4F5C-8420-0138CBE2F66D.png  ...  ค่า duration 1/100 ISO 630
4    23588608-16F4-4103-ABCE-12D22092B61E.png  ...  ค่า duration 1/100 ISO 630
5    7FD4DE28-0FF8-4A06-A8F0-172F77C0E69C.png  ...  ค่า duration 1/100 ISO 630
..                                        ...  ...                         ...
157  F055D60E-75F4-409F-BD02-630F03AE0403.png  ...  ค่า duration 1/100 ISO 630
158  A8C098DB-7C71-4987-BA14-87C945E5327E.png  ...  ค่า duration 1/100 ISO 630
159  C2265DF6-63D4-4B00-919C-CB891BF75E67.png  ...  ค่า duration 1/100 ISO 630
160  A7F2FAFC-9EE8-4E34-A180-7A7E5030F4F7.png  ...  ค่า duration 1/100 ISO 630
161  36796E2A-5E2D-4E8F-AEFA-7FD009598838.png  ...  ค่า duration 1/100 ISO 630

[161 rows x 7 columns]

In [ ]:
table1= A1_set1[['Ref', 'Shad','ชื่อไฟล์ข้อมูล']]
table1

    Ref Shad                            ชื่อไฟล์ข้อมูล
1    A1   A1  34F0629C-69B1-4125-85F4-7E496A7847A0.png
2    A1   A1  75D1D3E7-592F-475B-9A9A-875F69F08B32.png
3    A1   A1  0269AD27-018D-4F5C-8420-0138CBE2F66D.png
4    A1   A1  23588608-16F4-4103-ABCE-12D22092B61E.png
5    A1   A1  7FD4DE28-0FF8-4A06-A8F0-172F77C0E69C.png
..   ..  ...                                       ...
157  A1   D4  F055D60E-75F4-409F-BD02-630F03AE0403.png
158  A1   D4  A8C098DB-7C71-4987-BA14-87C945E5327E.png
159  A1   D4  C2265DF6-63D4-4B00-919C-CB891BF75E67.png
160  A1   D4  A7F2FAFC-9EE8-4E34-A180-7A7E5030F4F7.png
161  A1   D4  36796E2A-5E2D-4E8F-AEFA-7FD009598838.png

[161 rows x 3 columns]

In [ ]:
df =A1_set1.drop(['ชนิดกล้องถ่ายรูป','แสงที่ใช้', 'ฉากหลัง','หมายเหตุ'], axis=1)
df

                               ชื่อไฟล์ข้อมูล Ref Shad
1    34F0629C-69B1-4125-85F4-7E496A7847A0.png  A1   A1
2    75D1D3E7-592F-475B-9A9A-875F69F08B32.png  A1   A1
3    0269AD27-018D-4F5C-8420-0138CBE2F66D.png  A1   A1
4    23588608-16F4-4103-ABCE-12D22092B61E.png  A1   A1
5    7FD4DE28-0FF8-4A06-A8F0-172F77C0E69C.png  A1   A1
..                                        ...  ..  ...
157  F055D60E-75F4-409F-BD02-630F03AE0403.png  A1   D4
158  A8C098DB-7C71-4987-BA14-87C945E5327E.png  A1   D4
159  C2265DF6-63D4-4B00-919C-CB891BF75E67.png  A1   D4
160  A7F2FAFC-9EE8-4E34-A180-7A7E5030F4F7.png  A1   D4
161  36796E2A-5E2D-4E8F-AEFA-7FD009598838.png  A1   D4

[161 rows x 3 columns]

In [ ]:
A1_set11 =A1_set1.head(3)
A1_set11

                             ชื่อไฟล์ข้อมูล  ...                    หมายเหตุ
1  34F0629C-69B1-4125-85F4-7E496A7847A0.png  ...  ค่า duration 1/100 ISO 630
2  75D1D3E7-592F-475B-9A9A-875F69F08B32.png  ...  ค่า duration 1/100 ISO 630
3  0269AD27-018D-4F5C-8420-0138CBE2F66D.png  ...  ค่า duration 1/100 ISO 630

[3 rows x 7 columns]

In [ ]:
import cv2
from matplotlib import pyplot as plt #การเรียกใช้คำสั่ง matplotlib เพื่อวาดกราฟ โดยแทนชื่อ matplotlib ด้วย plt
import matplotlib

In [ ]:
import numpy as np

In [ ]:
from tabulate import tabulate

In [ ]:
table   = [['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref', 'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Shade-ref', 'Shade', 'Setting']]

#ดึงค่า

In [ ]:
list_total1 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total1.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total1,columns=cols)
S1.index.names=['id']

In [ ]:
list_total2 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total2.append(S1rgbA1_2)

In [ ]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total2,columns=cols)

In [ ]:
dataA1 = pd.concat([S1, S2], axis=1)
dataA1

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
0    231.544599  214.478370  170.378622  231.217125  214.152265  170.137330
1    226.812191  209.496226  165.074669  226.556859  209.166702  164.849442
2    232.169223  214.141790  169.744664  231.777114  213.747244  169.416827
3    232.451830  213.986852  169.900333  232.075172  213.621933  169.580684
4    231.967454  213.415307  170.147472  231.642913  213.095939  169.843681
..          ...         ...         ...         ...         ...         ...
156  228.800422  205.861213  145.525607  228.582107  205.750018  145.500462
157  226.550118  203.378541  144.094635  226.478202  203.253325  144.082996
158  226.000406  203.723886  143.303871  225.820923  203.576844  143.258516
159  226.466845  205.043665  143.904716  226.374511  204.893393  143.898158
160  228.276520  204.980440  144.768769  228.051632  204.716663  144.671574

[161 rows x 6 columns]

##HSV

In [ ]:
list_total11 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1769<i<1881 and 2019<j<2131 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total11.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total11,columns=cols)
S11.index.names=['id']

In [ ]:
list_total22 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1770<i<1880 and 2015<j<2145 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total22.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total22,columns=cols)
S22.index.names=['id']

In [ ]:
dataP1 = pd.concat([S1, S2,S11,S22], axis=1)
dataP1

          R-ref       G-ref       B-ref  ...     H-Shad     S-Shad      V-Shad
0    231.544599  214.478370  170.378622  ...  21.998009  67.377996  231.217125
1    226.812191  209.496226  165.074669  ...  21.831591  69.466325  226.556859
2    232.169223  214.141790  169.744664  ...  21.642060  68.596188  231.777114
3    232.451830  213.986852  169.900333  ...  21.422658  68.680037  232.075172
4    231.967454  213.415307  170.147472  ...  21.240168  68.047721  231.642913
..          ...         ...         ...  ...        ...        ...         ...
156  228.800422  205.861213  145.525607  ...  21.774554  92.749022  228.582107
157  226.550118  203.378541  144.094635  ...  21.542280  92.832302  226.478202
158  226.000406  203.723886  143.303871  ...  22.015291  93.267193  225.820923
159  226.466845  205.043665  143.904716  ...  22.419102  92.950075  226.374511
160  228.276520  204.980440  144.768769  ...  21.527985  93.286751  228.051632

[161 rows x 12 columns]

#2

In [ ]:
list_total102 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total102.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total102,columns=cols)
S1.index.names=['id']

In [ ]:
list_total202 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total202.append(S1rgbA1_2)

In [ ]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total202,columns=cols)
S2.index.names=['id']

In [ ]:
dataA102 = pd.concat([S1, S2], axis=1)
dataA102

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    235.425991  219.263695  177.827214  232.931795  217.058567  174.902604
1    232.456488  215.038753  170.408508  230.343712  213.313502  169.960430
2    235.684538  218.972611  176.287296  234.455472  217.714206  174.414883
3    235.963481  218.680458  176.613928  234.775183  217.157631  174.290242
4    235.944542  219.110140  177.562646  234.257993  217.601334  175.644519
..          ...         ...         ...         ...         ...         ...
156  233.414627  212.229215  153.086538  241.013993  224.583913  181.930034
157  230.554584  209.498057  150.530012  238.892225  222.921787  179.940228
158  231.116064  210.332653  151.141317  239.502641  222.992494  179.420999
159  231.354798  211.096445  151.309538  239.290520  223.650542  180.397368
160  232.610820  211.367521  152.162199  240.475582  224.138912  181.528311

[161 rows x 6 columns]

In [ ]:
list_total1102 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1102.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1102,columns=cols)
S11.index.names=['id']

In [ ]:
list_total2202 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                 if 1719<i<1819 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2202.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2202,columns=cols)
S22.index.names=['id']

In [ ]:
dataP2 = pd.concat([S1, S2,S11,S22], axis=1)
dataP2

          R-ref       G-ref       B-ref  ...     H-Shad     S-Shad      V-Shad
id                                       ...
0    235.425991  219.263695  177.827214  ...  22.025484  63.614864  232.931795
1    232.456488  215.038753  170.408508  ...  21.939765  66.862015  230.343712
2    235.684538  218.972611  176.287296  ...  22.017793  65.316931  234.455936
3    235.963481  218.680458  176.613928  ...  21.605505  65.759336  234.775276
4    235.944542  219.110140  177.562646  ...  21.867389  63.880827  234.257993
..          ...         ...         ...  ...        ...        ...         ...
156  233.414627  212.229215  153.086538  ...  22.015847  62.556575  241.014178
157  230.554584  209.498057  150.530012  ...  22.058197  63.010101  238.892225
158  231.116064  210.332653  151.141317  ...  22.037717  64.034381  239.503104
159  231.354798  211.096445  151.309538  ...  22.183301  62.806320  239.290983
160  232.610820  211.367521  152.162199  ...  22.016217  62.578074  240.476045

[161 rows x 12 columns]

#3

In [ ]:
list_total103 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                 if 1739<i<1839 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total103.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total103,columns=cols)
S1.index.names=['id']

In [ ]:
list_total203 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total203.append(S1rgbA1_2)

In [ ]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total203,columns=cols)
S2.index.names=['id']

In [ ]:
dataA103 = pd.concat([S1, S2], axis=1)
dataA103

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    234.103730  217.411713  174.726399  231.440460  215.125382  172.431285
1    231.010587  213.546620  168.885198  228.600130  211.602724  168.084886
2    234.168706  216.933664  173.458625  232.836067  215.902233  172.368733
3    234.541472  216.721251  173.680847  233.326939  215.266889  172.293115
4    234.573524  216.957168  174.561383  232.678065  215.740895  173.239644
..          ...         ...         ...         ...         ...         ...
156  231.821193  209.846251  150.010975  239.164860  222.327032  179.087758
157  229.316725  207.261461  148.002234  237.157539  220.638680  177.221203
158  229.311189  207.821873  147.778166  237.723010  220.597350  176.883607
159  229.627525  208.837607  148.176865  237.604207  221.438236  177.805949
160  231.038850  208.928807  149.136655  238.672598  221.935131  178.712446

[161 rows x 6 columns]

In [ ]:
list_total1103 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
               if 1739<i<1839 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1103.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1103,columns=cols)
S11.index.names=['id']

In [ ]:
list_total2203 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1739<i<1839 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2203.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2203,columns=cols)
S22.index.names=['id']

In [ ]:
dataP3 = pd.concat([S1, S2,S11,S22], axis=1)
dataP3

          R-ref       G-ref       B-ref  ...     H-Shad     S-Shad      V-Shad
id                                       ...
0    234.103730  217.411713  174.726399  ...  22.003707  65.072004  231.440460
1    231.010587  213.546620  168.885198  ...  21.992216  67.520248  228.600130
2    234.168706  216.933664  173.458625  ...  21.993235  66.237976  232.836530
3    234.541472  216.721251  173.680847  ...  21.434251  66.747845  233.327032
4    234.573524  216.957168  174.561383  ...  21.896580  65.207766  232.678065
..          ...         ...         ...  ...        ...        ...         ...
156  231.821193  209.846251  150.010975  ...  21.980817  64.070707  239.164860
157  229.316725  207.261461  148.002234  ...  21.985729  64.479937  237.157539
158  229.311189  207.821873  147.778166  ...  21.875174  65.293207  237.723473
159  229.627525  208.837607  148.176865  ...  22.118710  64.188490  237.604671
160  231.038850  208.928807  149.136655  ...  21.982300  64.099157  238.673061

[161 rows x 12 columns]

#4

In [ ]:
list_total104 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total104.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total104,columns=cols)
S1.index.names=['id']

In [ ]:
list_total204 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total204.append(S1rgbA1_2)

In [ ]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total204,columns=cols)
S2.index.names=['id']

In [ ]:
dataA104 = pd.concat([S1, S2], axis=1)
dataA104

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    232.491259  215.427253  171.519328  230.019553  213.264665  170.068390
1    229.007673  211.568959  167.013792  226.595404  209.552683  166.097303
2    232.717852  214.911616  170.554390  231.051710  213.996108  170.108238
3    233.155497  214.801573  170.941239  231.553146  213.022055  169.864887
4    233.052253  214.682595  171.406954  230.845056  213.666759  170.622185
..          ...         ...         ...         ...         ...         ...
156  230.051476  207.380148  147.098873  238.036605  220.879993  177.372069
157  227.640929  204.685800  145.241939  236.059401  219.155500  175.303772
158  227.260198  205.114608  144.443570  236.278380  218.675378  174.917802
159  227.652098  206.428419  145.085373  236.430822  219.815494  175.940321
160  229.170357  206.154526  145.839549  237.162914  220.166342  176.483366

[161 rows x 6 columns]

In [ ]:
list_total1104 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1104.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1104,columns=cols)
S11.index.names=['id']

In [ ]:
list_total2204 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1759<i<1859 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2204.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2204,columns=cols)
S22.index.names=['id']

In [ ]:
dataP4 = pd.concat([S1, S2,S11,S22], axis=1)
dataP4

          R-ref       G-ref       B-ref  ...     H-Shad     S-Shad      V-Shad
id                                       ...
0    232.491259  215.427253  171.519328  ...  21.990826  66.480122  230.019553
1    229.007673  211.568959  167.013792  ...  21.959503  68.103976  226.595404
2    232.717852  214.911616  170.554390  ...  21.972199  67.258085  231.051710
3    233.155497  214.801573  170.941239  ...  21.240386  67.943379  231.553146
4    233.052253  214.682595  171.406954  ...  21.903438  66.561116  230.845056
..          ...         ...         ...  ...        ...        ...         ...
156  230.051476  207.380148  147.098873  ...  21.887870  64.992216  238.036605
157  227.640929  204.685800  145.241939  ...  21.967936  65.625243  236.059401
158  227.260198  205.114608  144.443570  ...  21.702530  66.248355  236.278658
159  227.652098  206.428419  145.085373  ...  22.055231  65.213419  236.430822
160  229.170357  206.154526  145.839549  ...  21.964137  65.242795  237.162914

[161 rows x 12 columns]

#5

In [ ]:
list_total105 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanrefA1_1 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
  S1meanrefA1_1 = np.array(S1meanrefA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
  list_total105.append(S1rgbrefA1_1)

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref']
S1=pd.DataFrame(list_total105,columns=cols)
S1.index.names=['id']

In [ ]:
list_total205 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
  S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
  S1meanA1_2 = list()
  for i in range(S1RGB_imgA1A1_1.shape[0]): 
     for j in range(S1RGB_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1RGB_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1rgbA1_2 = list()
  for i in range(3):
    S1rgbA1_2.append(S1meanA1_2[:,i].mean())
  list_total205.append(S1rgbA1_2)

In [ ]:
cols=['R-Shad', 'G-Shad' , 'B-Shad'] 
S2=pd.DataFrame(list_total205,columns=cols)
S2.index.names=['id']

In [ ]:
dataA105 = pd.concat([S1, S2], axis=1)
dataA105

          R-ref       G-ref       B-ref      R-Shad      G-Shad      B-Shad
id
0    231.203768  214.152486  170.072455  228.758132  211.784079  168.495320
1    226.316628  208.979118  164.679681  224.092021  206.864053  164.404504
2    231.688520  213.571581  169.254565  229.496896  212.441294  168.527940
3    232.097902  213.545843  169.568959  229.993698  211.219535  168.097025
4    231.566045  212.888889  169.670940  229.052914  211.865351  168.813085
..          ...         ...         ...         ...         ...         ...
156  228.510587  205.362762  145.226593  236.866370  219.436568  175.754518
157  226.442211  202.956585  143.843726  234.945139  217.885831  173.875266
158  225.683275  203.309052  142.934246  234.839403  216.961913  173.363636
159  226.134130  204.606935  143.461636  235.351404  218.418868  174.421092
160  228.077603  204.519328  144.416764  235.611528  218.485497  174.603744

[161 rows x 6 columns]

In [ ]:
list_total1105 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_1 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 2029<j<2134 :
                  S1meanA1_1.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_1 = np.array(S1meanA1_1)
  S1rgbrefA1_1 = list()
  for i in range(3):
    S1rgbrefA1_1.append(S1meanA1_1[:,i].mean())
  list_total1105.append(S1rgbrefA1_1)

In [ ]:
cols=['H-ref', 'S-ref' , 'V-ref']
S11=pd.DataFrame(list_total1105,columns=cols)
S11.index.names=['id']

In [ ]:
list_total2205 = list()
for img in A1_set1['ชื่อไฟล์ข้อมูล']:
  S1_double = img
  full_path_to_file2 = os.path.join(S1_double) 
  blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
  imgS1_A1A1_1  = cv2.imread(S1_double) #HSV
  S1HSV_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2HSV)
  S1meanA1_2 = list()
  for i in range(S1HSV_imgA1A1_1.shape[0]): 
     for j in range(S1HSV_imgA1A1_1.shape[1]): 
                if 1779<i<1879 and 1709<j<1819 :
                  S1meanA1_2.append(S1HSV_imgA1A1_1[i][j])  
  S1meanA1_2 = np.array(S1meanA1_2)
  S1hsvA1_2 = list()
  for i in range(3):
    S1hsvA1_2.append(S1meanA1_2[:,i].mean())
  list_total2205.append(S1hsvA1_2)

In [ ]:
cols=['H-Shad', 'S-Shad' , 'V-Shad']
S22=pd.DataFrame(list_total2205,columns=cols)
S22.index.names=['id']

In [ ]:
dataP5 = pd.concat([S1, S2,S11,S22], axis=1)
dataP5

          R-ref       G-ref       B-ref  ...     H-Shad     S-Shad      V-Shad
id                                       ...
0    231.203768  214.152486  170.072455  ...  22.000000  67.199889  228.758132
1    226.316628  208.979118  164.679681  ...  21.675841  67.943008  224.092021
2    231.688520  213.571581  169.254565  ...  21.972199  67.759614  229.496896
3    232.097902  213.545843  169.568959  ...  21.121583  68.644055  229.993698
4    231.566045  212.888889  169.670940  ...  21.906218  67.109814  229.052914
..          ...         ...         ...  ...        ...        ...         ...
156  228.510587  205.362762  145.226593  ...  21.785099  65.783616  236.866370
157  226.442211  202.956585  143.843726  ...  21.970346  66.248262  234.945139
158  225.683275  203.309052  142.934246  ...  21.565471  66.763136  234.839403
159  226.134130  204.606935  143.461636  ...  22.016310  65.972014  235.351404
160  228.077603  204.519328  144.416764  ...  21.936985  66.010564  235.611528

[161 rows x 12 columns]

In [ ]:
st1= pd.concat([dataP1, dataP2,dataP3,dataP4,dataP5], axis=0)
st1

          R-ref       G-ref       B-ref  ...     H-Shad     S-Shad      V-Shad
0    231.544599  214.478370  170.378622  ...  21.998009  67.377996  231.217125
1    226.812191  209.496226  165.074669  ...  21.831591  69.466325  226.556859
2    232.169223  214.141790  169.744664  ...  21.642060  68.596188  231.777114
3    232.451830  213.986852  169.900333  ...  21.422658  68.680037  232.075172
4    231.967454  213.415307  170.147472  ...  21.240168  68.047721  231.642913
..          ...         ...         ...  ...        ...        ...         ...
156  228.510587  205.362762  145.226593  ...  21.785099  65.783616  236.866370
157  226.442211  202.956585  143.843726  ...  21.970346  66.248262  234.945139
158  225.683275  203.309052  142.934246  ...  21.565471  66.763136  234.839403
159  226.134130  204.606935  143.461636  ...  22.016310  65.972014  235.351404
160  228.077603  204.519328  144.416764  ...  21.936985  66.010564  235.611528

[805 rows x 12 columns]

In [ ]:
set1= pd.concat([st1,table1], axis=1)
set1

ValueError: ignored

In [ ]:
set1.to_csv('A1Set2.csv', index=False)